---
http_interactions:
- request:
    method: get
    uri: https://www.nporadio5.nl/api/tracks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":null,"messages":null,"data":[{"startdatetime":"2022-11-13T15:21:10","enddatetime":"2022-11-13T15:24:17","title":"Randy","artist":"Blue
        Mink","image_url_200x200":"https://i.scdn.co/image/ab67616d0000b273756e22a3e45057830591d1fa","image_url_400x400":"https://i.scdn.co/image/ab67616d0000b273756e22a3e45057830591d1fa","spotify_url":"https://open.spotify.com/track/1P3yVN06vXX0j49Zox7cq3"},{"startdatetime":"2022-11-13T15:17:44","enddatetime":"2022-11-13T15:23:09","title":"1917","artist":"Emmylou
        Harris & Linda Ronstadt","image_url_200x200":"https://i.scdn.co/image/ab67616d0000b2738a55ce7b21b9d7b4903318b8","image_url_400x400":"https://i.scdn.co/image/ab67616d0000b2738a55ce7b21b9d7b4903318b8","spotify_url":"https://open.spotify.com/track/1kY8lnoCWRyklRrXZAPH3K"},{"startdatetime":"2022-11-13T15:17:33","enddatetime":"202[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/tracks/1P3yVN06vXX0j49Zox7cq3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQC-ICyWv30H44iuGe03AIWYOQ9uq3mEnuM-ofA6_aTOn8vAMb3bAq87-9AinPf0UQaN3ZFaV2pyw9ORVbu3PD3VJN01d_BA-q8STtBScaB3J70KUCg
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "album" : {
            "album_type" : "album",
            "artists" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/0hUyd9GtnzL8NysCiaxCcv"
              },
              "href" : "https://api.spotify.com/v1/artists/0hUyd9GtnzL8NysCiaxCcv",
              "id" : "0hUyd9GtnzL8NysCiaxCcv",
              "name" : "Blue Mink",
              "type" : "artist",
              "uri" : "spotify:artist:0hUyd9GtnzL8NysCiaxCcv"
            } ],
            "available_markets" : [ "AD", "AE", "AG", "AL", "AM", "AO", "AR", "AT", "AU", "AZ", "BA", "BB", "BD", "BE", "BF", "BG", "BH", "BI", "BJ", "BN", "BO", "BR", "BS", "BT", "BW", "BY", "BZ", "CA", "CD", "CG", "CH", "CI", "CL", "CM", "CO", "CR", "CV", "CW", "CY", "CZ", "DE", "DJ", "DK", "DM", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FJ", "FM", "FR", "GA", "GB", "GD", "GE", "GH", "GM", "GN", "GQ", "GR", "GT", "GW", "GY", "HK", "HN", "HR", "HT", "HU", "ID", "IE", "IL", "IQ", "IS", "IT", "JM", "JO", "JP", "KE", "KG", "KH", "KI", "KM", "KN", "KR", "KW", "KZ", "LA", "LB", "LC", "LI", "LK", "LR", "LS", "LT", "LU", "LV", "LY", "MA", "MC", "MD", "ME", "MG", "MH", "MK", "ML", "MN", "MO", "MR", "MT", "MU", "MV", "MW", "MX", "MY", "MZ", "NA", "NE", "NG", "NI", "NL", "NO", "NP", "NR", "NZ", "OM", "PA", "PE", "PG", "PH", "PK", "PL", "PS", "PT", "PW", "PY", "QA", "RO", "RS", "RW", "SA", "SB", "SC", "SE", "SG", "SI", "SK", "SL", "SM", "SN", "SR", "ST", "SV", "SZ", "TD", "TG", "TH", "TJ", "TL", "TN", "TO", "TR", "TT", "TV", "TW", "TZ", "UA", "UG", "US", "UY", "UZ", "VC", "VE", "VN", "VU", "WS", "XK", "ZA", "ZM", "ZW" ],
            "external_urls" : {
              "spotify" : "https://open.spotify.com/album/6pta9JCkNi0l4sOYHCk4QK"
            },
            "href" : "https://api.spotify.com/v1/albums/6pta9JCkNi0l4sOYHCk4QK",
            "id" : "6pta9JCkNi0l4sOYHCk4QK",
            "images" : [ {
              "height" : 640,
              "url" : "https://i.scdn.co/image/ab67616d0000b273756e22a3e45057830591d1fa",
              "width" : 640
            }, {
              "height" : 300,
              "url" : "https://i.scdn.co/image/ab67616d00001e02756e22a3e45057830591d1fa",
              "width" : 300
            }, {
              "height" : 64,
              "url" : "https://i.scdn.co/image/ab67616d00004851756e22a3e45057830591d1fa",
              "width" : 64
            } ],
            "name" : "Good Morning Freedom: The Anthology",
            "release_date" : "2002-11-26",
            "release_date_precision" : "day",
            "total_tracks" : 36,
            "type" : "album",
            "uri" : "spotify:album:6pta9JCkNi0l4sOYHCk4QK"
          },
          "artists" : [ {
            "external_urls" : {
              "spotify" : "https://open.spotify.com/artist/0hUyd9GtnzL8NysCiaxCcv"
            },
            "href" : "https://api.spotify.com/v1/artists/0hUyd9GtnzL8NysCiaxCcv",
            "id" : "0hUyd9GtnzL8NysCiaxCcv",
            "name" : "Blue Mink",
            "type" : "artist",
            "uri" : "spotify:artist:0hUyd9Gtn[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/0hUyd9GtnzL8NysCiaxCcv
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQC-ICyWv30H44iuGe03AIWYOQ9uq3mEnuM-ofA6_aTOn8vAMb3bAq87-9AinPf0UQaN3ZFaV2pyw9ORVbu3PD3VJN01d_BA-q8STtBScaB3J70KUCg
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "external_urls" : {
            "spotify" : "https://open.spotify.com/artist/0hUyd9GtnzL8NysCiaxCcv"
          },
          "followers" : {
            "href" : null,
            "total" : 7318
          },
          "genres" : [ "classic uk pop" ],
          "href" : "https://api.spotify.com/v1/artists/0hUyd9GtnzL8NysCiaxCcv",
          "id" : "0hUyd9GtnzL8NysCiaxCcv",
          "images" : [ {
            "height" : 640,
            "url" : "https://i.scdn.co/image/ab67616d0000b273756e22a3e45057830591d1fa",
            "width" : 640
          }, {
            "height" : 300,
            "url" : "https://i.scdn.co/image/ab67616d00001e02d2f5f689c72fdcfea66acb2c",
            "width" : 300
          }, {
            "height" : 64,
            "url" : "https://i.scdn.co/image/ab67616d00004851756e22a3e45057830591d1fa",
            "width" : 64
          } ],
          "name" : "Blue Mink",
          "popularity" : 32,
          "type" : "artist",
          "uri" : "spotify:artist:0hUyd9GtnzL8NysCiaxCcv"
        }
  recorded_at: Sun, 13 Nov 2022 14:29:06 GMT
recorded_with: VCR 6.1.0
