<html>
  <head>
    <style>
      .mail-center {
        margin: 0 auto;
        width: 85%;
        max-width: 900px;
        padding: 20px;
        text-align: justify;
      }
    </style>
  </head>
  <body>
    <div class="mail-center">
      <table>
        <thead>
          <th>Name</th>
          <th>Status</th>
          <th>Last added</th>
          <th>Song</th>
        </thead>
        <tbody>
          <% @results.each do |name, status| %>
            <tr>
              <td>
                <%= name.to_s.humanize %>
              </td>
              <td>
                <%= status[:status] %>
              </td>
              <td>
                <%= time_ago_in_words(status[:last_created_at]) %>
              </td>
              <td>
                <%= status[:track_info] %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </body>
</html>
