---
http_interactions:
- request:
    method: get
    uri: https://query.wikidata.org/sparql?format=json&query=SELECT%20?item%20WHERE%20%7B%0A%20%20?item%20wdt:P2207%20%22s3dw7mkmxgyhx4ypwnnfrt%22.%0A%7D%0ALIMIT%201%0A
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/sparql-results+json;charset=utf-8
      X-First-Solution-Millis:
      - '2'
      X-Client-Ip:
      - 85.146.30.218
      X-Analytics:
      - ''
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "head" : {
            "vars" : [ "item" ]
          },
          "results" : {
            "bindings" : [ ]
          }
        }
  recorded_at: Thu, 25 Dec 2025 20:32:08 GMT
- request:
    method: get
    uri: https://query.wikidata.org/sparql?format=json&query=SELECT%20?item%20WHERE%20%7B%0A%20%20?item%20wdt:P1243%20%22R4YF8ULB304N%22.%0A%7D%0ALIMIT%201%0A
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/sparql-results+json;charset=utf-8
      X-First-Solution-Millis:
      - '2'
      X-Client-Ip:
      - 85.146.30.218
      X-Analytics:
      - ''
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "head" : {
            "vars" : [ "item" ]
          },
          "results" : {
            "bindings" : [ ]
          }
        }
  recorded_at: Thu, 25 Dec 2025 20:32:09 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/api/rest_v1/page/summary/Shake%20It%20Off%20(Taylor%20Swift%20song)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Content-Security-Policy:
      - default-src 'none'; frame-ancestors 'none'
      X-Webkit-Csp:
      - default-src 'none'; frame-ancestors 'none'
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8; profile="https://www.mediawiki.org/wiki/Specs/Summary/1.5.0"
      Etag:
      - W/"1328522066/48f570d0-e1cf-11f0-b365-43b70895e711"
      X-Client-Ip:
      - 85.146.30.218
      X-Analytics:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '{"type":"standard","title":"Shake It Off","displaytitle":"<span class=\"mw-page-title-main\">Shake
        It Off</span>","namespace":{"id":0,"text":""},"wikibase_item":"Q17544624","titles":{"canonical":"Shake_It_Off","normalized":"Shake
        It Off","display":"<span class=\"mw-page-title-main\">Shake It Off</span>"},"pageid":43597651,"thumbnail":{"source":"https://upload.wikimedia.org/wikipedia/en/c/c4/Taylor_Swift_-_Shake_It_Off.png","width":300,"height":300},"originalimage":{"source":"https://upload.wikimedia.org/wikipedia/en/c/c4/Taylor_Swift_-_Shake_It_Off.png","width":300,"height":300},"lang":"en","dir":"ltr","revision":"1328522066","tid":"96e5e8c1-dd95-11f0-9f2e-154a6a7bdb28","timestamp":"2025-12-20T11:18:20Z","description":"2014
        single by Taylor Swift","description_source":"local","content_urls":{"desktop":{"page":"https://en.wikipedia.org/wiki/Shake_It_Off","revisions":"https://en.wikipedia.org/wiki/Shake_It_Off?action=history","edit":"https://en.wikipedia.org/wiki/Shake_It_Off?action=edit","talk":"https://en.wikipedia.org/wiki/Talk:Shake_It_Off"},"mobile":{"page":"https://en.wikipedia.org/wiki/Shake_It_Off","revisions":"https://en.wikipedia.org/wiki/Special:History/Shake_It_Off","edit":"https://en.wikipedia.org/wiki/Shake_It_Off?action=edit","talk":"https://en.wikipedia.org/wiki/Talk:Shake_It_Off"}},"extract":"\"Shake
        It Off\" is a song by the American singer-songwriter Taylor Swift and the
        lead single from her fifth studio album, 1989 (2014). She wrote the song with
        its producers, Max Martin and Shellback. Inspired by the media scrutiny on
        Swift''s public image, the lyrics are about her indifference to detractors
        and their negative remarks. An uptempo dance-pop song, \"Shake It Off\" features
        a looping drum beat, a Mellotron-based saxophone line, and a handclap-accented
        bridge. Big Machine Records released it on August 18, 2014, to promote 1989
        as Swift''s first pop album after her previous country image and sound.","extract_html":"<p>\"<b>Shake
        It Off</b>\" is a song by the American singer-songwriter Taylor Swift and
        the lead single from her fifth studio album, <i>1989</i> (2014). She wrote
        the song with its producers, Max Martin and Shellback. Inspired by the media
        scrutiny on Swift''s public image, the lyrics are about her indifference to
        detractors and their negative remarks. An uptempo dance-pop song, \"Shake
        It Off\" features a looping drum beat, a Mellotron-based saxophone line, and
        a handclap-accented bridge. Big Machine Records released it on August 18,
        2014, to promote <i>1989</i> as Swift''s first pop album after her previous
        country image and sound.</p>"}'
  recorded_at: Thu, 25 Dec 2025 20:32:09 GMT
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q17544624&languages=en&props=claims%7Clabels
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 85.146.30.218
      X-Analytics:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '{"entities":{"Q17544624":{"type":"item","id":"Q17544624","labels":{"en":{"language":"en","value":"Shake
        It Off"}},"claims":{"P31":[{"mainsnak":{"snaktype":"value","property":"P31","hash":"33d81754a79b2dab75d17c156313b0f8f0f4f086","datavalue":{"value":{"entity-type":"item","numeric-id":134556,"id":"Q134556"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q17544624$9E2D870B-237C-4398-A86A-998F96D37C24","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P31","hash":"a2c420f45a8e430611c13872a401583988d45154","datavalue":{"value":{"entity-type":"item","numeric-id":2894096,"id":"Q2894096"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q17544624$9756f39e-4024-1750-43cb-e6ebb4c002b7","rank":"normal"}],"P175":[{"mainsnak":{"snaktype":"value","property":"P175","hash":"4b27f22dc2cb3e71ff538377207e9508e2be1e3c","datavalue":{"value":{"entity-type":"item","numeric-id":26876,"id":"Q26876"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q17544624$d74490ba-4a87-3979-84d4-305a6d231cbe","rank":"normal"}],"P436":[{"mainsnak":{"snaktype":"value","property":"P436","hash":"d3d1ceff139d05f6cf4570de5f2b9314ee980963","datavalue":{"value":"999e9130-0fc3-4667-8455-f283d7f7fabf","type":"string"},"datatype":"external-id"},"type":"statement","id":"Q17544624$549ACFF8-9BA5-45F5-9F60-9694FBA359BB","rank":"normal","references":[{"hash":"706208b3024200fd0a39ad499808dd0d98d74065","snaks":{"P248":[{"snaktype":"value","property":"P248","hash":"623cc8f0e2f65afe4d66b91962d354a2f3aa9a27","datavalue":{"value":{"entity-type":"item","numeric-id":14005,"id":"Q14005"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P248"]}]}],"P1954":[{"mainsnak":{"snaktype":"value","property":"P1954","hash":"4b2336b7c1cb96d2d0b17a683b8e1de484c5a986","datavalue":{"value":"723107","type":"string"},"datatype":"external-id"},"type":"statement","id":"Q17544624$2EF126BE-9F72-4133-8D64-93B78F0D7E5C","rank":"normal","references":[{"hash":"f2fdc3c16952bb8a2b8c2a14a7ce24a9f6b0879c","snaks":{"P248":[{"snaktype":"value","property":"P248","hash":"623cc8f0e2f65afe4d66b91962d354a2f3aa9a27","datavalue":{"value":{"entity-type":"item","numeric-id":14005,"id":"Q14005"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P813":[{"snaktype":"value","property":"P813","hash":"1507274827eae48e5a0fa0ea0c1616a4af6900cb","datavalue":{"value":{"time":"+2015-09-11T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"snaks-order":["P248","P813"]}]}],"P155":[{"mainsnak":{"snaktype":"value","property":"P155","hash":"2327a649ba60248ea888a04fc8d14f8ba46dcd90","datavalue":{"value":{"entity-type":"item","numeric-id":18441355,"id":"Q18441355"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q17544624$E39C1F4E-94D4-4BE0-A87E-3A3A6745F714","rank":"normal","references":[{"hash":"fa278ebfc458360e5aed63d5058cca83c46134f1","snaks":{"P143":[{"snaktype":"value","property":"P143","hash":"e4f6d9441d0600513c4533c672b5ab472dc73694","datavalue":{"value":{"entity-type":"item","numeric-id":328,"id":"Q328"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P156":[{"mainsnak":{"snaktype":"value","property":"P156","hash":"ea681d0af98d789906b87ef64587e615fe7621ed","datavalue":{"value":{"entity-type":"item","numeric-id":18441355,"id":"Q18441355"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q17544624$646CE9C3-6ABD-40B7-BA6A-A10850FFC4FF","rank":"normal","references":[{"hash":"c456dc5cd2117249948c288206ff3f8b1bf574f0","snaks":{"P143":[{"snaktype":"value","property":"P143","hash":"e17507043402fe54ae6c4d65cc51f46cec987de9","datavalue":{"value":{"entity-type":"item","numeric-id":8449,"id":"Q8449"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P2624":[{"mainsnak":{"snaktype":"value","property":"P2624","hash":"12a347e5b478f78f65cc898757b9ba10c000804b","datavalue":{"value":"shake-it-off-lyrics-taylor-swift","type":"string"},"datatype":"external-id"},"type":"statement","id":"Q17544624$9377B23D-4FC8-4D8C-8120-AD51316D7E76","rank":"normal","references":[{"hash":"fa278ebfc458360e5aed63d5058cca83c46134f1","snaks":{"P143":[{"snaktype":"value","property":"P143","hash":"e4f6d9441d0600513c4533c672b5ab472dc73694","datavalue":{"value":{"entity-type":"item","numeric-id":328,"id":"Q328"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P577":[{"mainsnak":{"snaktype":"value","property":"P577","hash":"9548267121af47c03a4024161b00ce81027a15e3","datavalue":{"value":{"time":"+2014-08-19T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"},"type":"statement","id":"Q17544624$F70B6D70-B9AD-4CAF-B49E-BA92FEB27945","rank":"normal","references":[{"hash":"a29a646602abf65105ed0f39a44231c962ece9ee","snaks":{"P143":[{"snaktype":"value","property":"P143","hash":"c6f1777471211df31724ac60175786f3872c83e9","datavalue":{"value":{"entity-type":"item","numeric-id":177837,"id":"Q177837"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P361":[{"mainsnak":{"snaktype":"value","property":"P361","hash":"9720c178608f1c2f87d63305970fc54458311835","datavalue":{"value":{"entity-type":"item","numeric-id":17544553,"id":"Q17544553"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","qualifiers":{"P1545":[{"snaktype":"value","property":"P1545","hash":"32387bd293902a2430b5bb680033d36ecea00dd0","datavalue":{"value":"6","type":"string"},"datatype":"string"}]},"qualifiers-order":["P1545"],"id":"Q17544624$A384559A-E97C-4523-A0F0-E51304919ABB","rank":"normal","references":[{"hash":"fa278ebfc458360e5aed63d5058cca83c46134f1","snaks":{"P143":[{"snaktype":"value","property":"P143","hash":"e4f6d9441d0600513c4533c672b5ab472dc73694","datavalue":{"value":{"entity-type":"item","numeric-id":328,"id":"Q328"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P136":[{"mainsnak":{"snaktype":"value","property":"P136","hash":"116482df689c5c5bc9781ecb27156e697490e63e","datavalue":{"value":{"entity-type":"item","numeric-id":211756,"id":"Q211756"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q17544624$064F8897-19F4-40B3-A2A3-34D30B832831","rank":"normal","references":[{"hash":"ed8bd3f9343e9a35e58b67284f26a67859f1808d","snaks":{"P143":[{"snaktype":"value","property":"P143","hash":"07596fc82d3ed4d248b85e5543852cc31e37dc8c","datavalue":{"value":{"entity-type":"item","numeric-id":199913,"id":"Q199913"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P2581":[{"mainsnak":{"snaktype":"value","property":"P2581","hash":"d779c6f06a4af114cd64f3f9708fefb4cdfcb20e","datavalue":{"value":"14331620n","type":"string"},"datatype":"external-id"},"type":"statement","id":"Q17544624$E1B6AE6B-9757-4318-B96D-02F66AFCED1A","rank":"normal","references":[{"hash":"248ac337a217a5f5eed7139a82a4e60931611af0","snaks":{"P248":[{"snaktype":"value","property":"P248","hash":"25b816aab41db18565946259c950aed6de05dd1e","datavalue":{"value":{"entity-type":"item","numeric-id":4837690,"id":"Q4837690"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P248"]}]}],"P676":[{"mainsnak":{"snaktype":"value","property":"P676","hash":"e8a5c9c8abd454ca3fde9ddb05dbea6929ff8d56","datavalue":{"value":{"entity-type":"item","numeric-id":26876,"id":"Q26876"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q17544624$a38e010a-4eeb-7d2e-a6f4-5af63d37cd0f","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P676","hash":"3e6ed9eebca6e0ed7c68bd96eb0d082af04a716a","datavalue":{"value":{"entity-type":"item","numeric-id":318223,"id":"Q318223"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q17544624$ecb127b4-4878-fe32-9ef7-88303ea33483","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P676","hash":"05cc4b4195a04f17b9f5c6d386515108f97febe4","datavalue":{"value":{"entity-type":"item","numeric-id":286501,"id":"Q286501"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q17544624$e8971977-4f5a-3073-66cd-3225dbeeab00","rank":"normal"}],"P264":[{"mainsnak":{"snaktype":"value","property":"P264","hash":"06756bd4ebb8bdc9ed314933bc5d04e2459db8f1","datavalue":{"value":{"entity-type":"item","numeric-id":2902300,"id":"Q2902300"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q17544624$aecc6ea3-4e55-0bba-40e8-4f921810b74e","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P264","hash":"dad37017a00fff99d83934fa310c6442f37a0a33","datavalue":{"value":{"entity-type":"item","numeric-id":4413456,"id":"Q4413456"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q17544624$3ca57a04-40e4-d76c-ea5a-5ae037f44f86","rank":"normal"}],"P437":[{"mainsnak":{"snaktype":"value","property":"P437","hash":"2be0f2038b320693613874b64db9c0643e2acccb","datavalue":{"value":{"entity-type":"item","numeric-id":719645,"id":"Q719645"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q17544624$256863ed-426f-8d04-1cb4-472a1ea5b7d9","rank":"normal","references":[{"hash":"288ab581e7d2d02995a26dfa8b091d96e78457fc","snaks":{"P143":[{"snaktype":"value","property":"P143","hash":"6a164248fc96bfa583bbb495cb63ae6401ec203c","data[...]
