---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/api/rest_v1/page/summary/Miss%20Montreal
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Content-Security-Policy:
      - default-src 'none'; frame-ancestors 'none'
      X-Webkit-Csp:
      - default-src 'none'; frame-ancestors 'none'
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8; profile="https://www.mediawiki.org/wiki/Specs/Summary/1.5.0"
      Etag:
      - W/"1233049741/9dd63220-e03e-11f0-8500-c36d608fc65b"
      X-Client-Ip:
      - 85.146.30.218
      X-Analytics:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '{"type":"standard","title":"Sanne Hans","displaytitle":"<span class=\"mw-page-title-main\">Sanne
        Hans</span>","namespace":{"id":0,"text":""},"wikibase_item":"Q27982469","titles":{"canonical":"Sanne_Hans","normalized":"Sanne
        Hans","display":"<span class=\"mw-page-title-main\">Sanne Hans</span>"},"pageid":40301691,"thumbnail":{"source":"https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/Miss_montreal.jpg/330px-Miss_montreal.jpg","width":320,"height":213},"originalimage":{"source":"https://upload.wikimedia.org/wikipedia/commons/7/79/Miss_montreal.jpg","width":4272,"height":2848},"lang":"en","dir":"ltr","revision":"1233049741","tid":"ebc18c38-3bf9-11ef-b7e3-d8a3b1b8c459","timestamp":"2024-07-07T00:43:26Z","description":"Dutch
        singer","description_source":"local","content_urls":{"desktop":{"page":"https://en.wikipedia.org/wiki/Sanne_Hans","revisions":"https://en.wikipedia.org/wiki/Sanne_Hans?action=history","edit":"https://en.wikipedia.org/wiki/Sanne_Hans?action=edit","talk":"https://en.wikipedia.org/wiki/Talk:Sanne_Hans"},"mobile":{"page":"https://en.wikipedia.org/wiki/Sanne_Hans","revisions":"https://en.wikipedia.org/wiki/Special:History/Sanne_Hans","edit":"https://en.wikipedia.org/wiki/Sanne_Hans?action=edit","talk":"https://en.wikipedia.org/wiki/Talk:Sanne_Hans"}},"extract":"Roos-Anne
        (Sanne) Hans, is a Dutch singer-songwriter and guitar player. She was part
        of Ysis until 2008 and later formed the band Miss Montreal.","extract_html":"<p><b>Roos-Anne
        (Sanne) Hans</b>, is a Dutch singer-songwriter and guitar player. She was
        part of Ysis until 2008 and later formed the band Miss Montreal.</p>"}'
  recorded_at: Tue, 23 Dec 2025 20:34:33 GMT
recorded_with: VCR 6.3.1
