---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=GET%20LUCKY%20artist:daft%20punk%20pharrell%20williams%20nile%20rodgers&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQAnUeo4aQ8EU-NabeB-vpyX1RcW2fUg3hxKqOVcNd_t-4Bl8P7KWkS7tux2mxecjpCis7jVzJVN5uWbK9Q
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "tracks" : {
            "href" : "https://api.spotify.com/v1/search?query=GET+LUCKY+artist%3Adaft+punk+pharrell+williams+nile+rodgers&type=track&offset=0&limit=20",
            "items" : [ {
              "album" : {
                "album_type" : "single",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/4tZwfgrHOc3mvqYlEYSvVi"
                  },
                  "href" : "https://api.spotify.com/v1/artists/4tZwfgrHOc3mvqYlEYSvVi",
                  "id" : "4tZwfgrHOc3mvqYlEYSvVi",
                  "name" : "Daft Punk",
                  "type" : "artist",
                  "uri" : "spotify:artist:4tZwfgrHOc3mvqYlEYSvVi"
                } ],
                "available_markets" : [ "AD", "AE", "AG", "AL", "AM", "AO", "AR", "AT", "AU", "AZ", "BA", "BB", "BD", "BE", "BF", "BG", "BH", "BI", "BJ", "BN", "BO", "BR", "BS", "BT", "BW", "BY", "BZ", "CA", "CD", "CG", "CH", "CI", "CL", "CM", "CO", "CR", "CV", "CW", "CY", "CZ", "DE", "DJ", "DK", "DM", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FJ", "FM", "FR", "GA", "GB", "GD", "GE", "GH", "GM", "GN", "GQ", "GR", "GT", "GW", "GY", "HK", "HN", "HR", "HT", "HU", "ID", "IE", "IL", "IN", "IQ", "IS", "IT", "JM", "JO", "JP", "KE", "KG", "KH", "KI", "KM", "KN", "KR", "KW", "KZ", "LA", "LB", "LC", "LI", "LK", "LR", "LS", "LT", "LU", "LV", "LY", "MA", "MC", "MD", "ME", "MG", "MH", "MK", "ML", "MN", "MO", "MR", "MT", "MU", "MV", "MW", "MX", "MY", "MZ", "NA", "NE", "NG", "NI", "NL", "NO", "NP", "NR", "NZ", "OM", "PA", "PE", "PG", "PH", "PK", "PL", "PS", "PT", "PW", "PY", "QA", "RO", "RS", "RU", "RW", "SA", "SB", "SC", "SE", "SG", "SI", "SK", "SL", "SM", "SN", "SR", "ST", "SV", "SZ", "TD", "TG", "TH", "TJ", "TL", "TN", "TO", "TR", "TT", "TV", "TW", "TZ", "UA", "UG", "US", "UY", "UZ", "VC", "VE", "VN", "VU", "WS", "XK", "ZA", "ZM", "ZW" ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/2ePFIvZKMe8zefATp9ofFA"
                },
                "href" : "https://api.spotify.com/v1/albums/2ePFIvZKMe8zefATp9ofFA",
                "id" : "2ePFIvZKMe8zefATp9ofFA",
                "images" : [ {
                  "height" : 640,
                  "url" : "https://i.scdn.co/image/ab67616d0000b2731d5cf960a92bb8b03fc2be7f",
                  "width" : 640
                }, {
                  "height" : 300,
                  "url" : "https://i.scdn.co/image/ab67616d00001e021d5cf960a92bb8b03fc2be7f",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/ab67616d000048511d5cf960a92bb8b03fc2be7f",
                  "width" : 64
                } ],
                "name" : "Get Lucky (feat. Pharrell Williams & Nile Rodgers) [Radio Edit]",
                "release_date" : "2013-04-19",
                "release_date_precision" : "day",
                "total_tracks" : 1,
                "type" : "album",
                "uri" : "spotify:album:2ePFIvZKMe8zefATp9ofFA"
              },
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/4tZwfgrHOc3mvqYlEYSvVi"
                },
                "href" : "https://api.spotify.com/v1/artists/4tZwfgrHOc3mvqYlEYSvVi",
                "id" : "4tZwfgrHOc3mvqYlEYSvVi",
                "name" : "Daft Punk",
                "type" : "artist",
  [...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/4tZwfgrHOc3mvqYlEYSvVi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQAnUeo4aQ8EU-NabeB-vpyX1RcW2fUg3hxKqOVcNd_t-4Bl8P7KWkS7tux2mxecjpCis7jVzJVN5uWbK9Q
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "external_urls" : {
            "spotify" : "https://open.spotify.com/artist/4tZwfgrHOc3mvqYlEYSvVi"
          },
          "followers" : {
            "href" : null,
            "total" : 8462127
          },
          "genres" : [ "electro", "filter house" ],
          "href" : "https://api.spotify.com/v1/artists/4tZwfgrHOc3mvqYlEYSvVi",
          "id" : "4tZwfgrHOc3mvqYlEYSvVi",
          "images" : [ {
            "height" : 640,
            "url" : "https://i.scdn.co/image/ab6761610000e5ebca77d763703a93930c363a39",
            "width" : 640
          }, {
            "height" : 320,
            "url" : "https://i.scdn.co/image/ab67616100005174ca77d763703a93930c363a39",
            "width" : 320
          }, {
            "height" : 160,
            "url" : "https://i.scdn.co/image/ab6761610000f178ca77d763703a93930c363a39",
            "width" : 160
          } ],
          "name" : "Daft Punk",
          "popularity" : 82,
          "type" : "artist",
          "uri" : "spotify:artist:4tZwfgrHOc3mvqYlEYSvVi"
        }
  recorded_at: Sun, 19 Dec 2021 13:36:28 GMT
recorded_with: VCR 6.0.0
