---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=<LASTFM_API_KEY>&artist=Unknown%20Artist%20XYZ&format=json&limit=3&method=artist.search
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"results":{"opensearch:Query":{"#text":"","role":"request","searchTerms":"Unknown
        Artist XYZ","startPage":"1"},"opensearch:totalResults":"322","opensearch:startIndex":"0","opensearch:itemsPerPage":"3","artistmatches":{"artist":[{"name":"Artist
        Unknown","listeners":"18116","mbid":"eb9d8589-6659-4ccc-ae9c-36cd6f95d8a8","url":"https://www.last.fm/music/Artist+Unknown","streamable":"0","image":[{"#text":"https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"small"},{"#text":"https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"medium"},{"#text":"https://lastfm.freetls.fastly.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"large"},{"#text":"https://lastfm.freetls.fastly.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png","size":"extralarge"}]},{"name":"Artist:
        Unknown","listeners":"477","mbid":"","url":"https://www.last.fm/music/Artist:+Unknown","streamable":"0","image":[{"#text":"https://last[...]
