---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=Everywhere%20artist:fleetwood%20mac&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQAnUeo4aQ8EU-NabeB-vpyX1RcW2fUg3hxKqOVcNd_t-4Bl8P7KWkS7tux2mxecjpCis7jVzJVN5uWbK9Q
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "tracks" : {
            "href" : "https://api.spotify.com/v1/search?query=Everywhere+artist%3Afleetwood+mac&type=track&offset=0&limit=20",
            "items" : [ {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/08GQAI4eElDnROBrJRGE0X"
                  },
                  "href" : "https://api.spotify.com/v1/artists/08GQAI4eElDnROBrJRGE0X",
                  "id" : "08GQAI4eElDnROBrJRGE0X",
                  "name" : "Fleetwood Mac",
                  "type" : "artist",
                  "uri" : "spotify:artist:08GQAI4eElDnROBrJRGE0X"
                } ],
                "available_markets" : [ "AD", "AE", "AG", "AL", "AM", "AO", "AR", "AT", "AU", "AZ", "BA", "BB", "BD", "BE", "BF", "BG", "BH", "BI", "BJ", "BN", "BO", "BR", "BS", "BT", "BW", "BY", "BZ", "CA", "CD", "CG", "CH", "CI", "CL", "CM", "CO", "CR", "CV", "CW", "CY", "CZ", "DE", "DJ", "DK", "DM", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FJ", "FM", "FR", "GA", "GB", "GD", "GE", "GH", "GM", "GN", "GQ", "GR", "GT", "GW", "GY", "HK", "HN", "HR", "HT", "HU", "ID", "IE", "IL", "IN", "IQ", "IS", "IT", "JM", "JO", "JP", "KE", "KG", "KH", "KI", "KM", "KN", "KR", "KW", "KZ", "LA", "LB", "LC", "LI", "LK", "LR", "LS", "LT", "LU", "LV", "LY", "MA", "MC", "MD", "ME", "MG", "MH", "MK", "ML", "MN", "MO", "MR", "MT", "MU", "MV", "MW", "MX", "MY", "MZ", "NA", "NE", "NG", "NI", "NL", "NO", "NP", "NR", "NZ", "OM", "PA", "PE", "PG", "PH", "PK", "PL", "PS", "PT", "PW", "PY", "QA", "RO", "RS", "RU", "RW", "SA", "SB", "SC", "SE", "SG", "SI", "SK", "SL", "SM", "SN", "SR", "ST", "SV", "SZ", "TD", "TG", "TH", "TJ", "TL", "TN", "TO", "TR", "TT", "TV", "TW", "TZ", "UA", "UG", "US", "UY", "UZ", "VC", "VE", "VN", "VU", "WS", "XK", "ZA", "ZM", "ZW" ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/4AsXQ17Arq1cUVoa9dKJ3F"
                },
                "href" : "https://api.spotify.com/v1/albums/4AsXQ17Arq1cUVoa9dKJ3F",
                "id" : "4AsXQ17Arq1cUVoa9dKJ3F",
                "images" : [ {
                  "height" : 640,
                  "url" : "https://i.scdn.co/image/ab67616d0000b273aaba065944cd82a6f15c86b6",
                  "width" : 640
                }, {
                  "height" : 300,
                  "url" : "https://i.scdn.co/image/ab67616d00001e02aaba065944cd82a6f15c86b6",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/ab67616d00004851aaba065944cd82a6f15c86b6",
                  "width" : 64
                } ],
                "name" : "Tango In the Night (Deluxe Edition)",
                "release_date" : "1987-04-13",
                "release_date_precision" : "day",
                "total_tracks" : 39,
                "type" : "album",
                "uri" : "spotify:album:4AsXQ17Arq1cUVoa9dKJ3F"
              },
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/08GQAI4eElDnROBrJRGE0X"
                },
                "href" : "https://api.spotify.com/v1/artists/08GQAI4eElDnROBrJRGE0X",
                "id" : "08GQAI4eElDnROBrJRGE0X",
                "name" : "Fleetwood Mac",
                "type" : "artist[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/08GQAI4eElDnROBrJRGE0X
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQAnUeo4aQ8EU-NabeB-vpyX1RcW2fUg3hxKqOVcNd_t-4Bl8P7KWkS7tux2mxecjpCis7jVzJVN5uWbK9Q
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "external_urls" : {
            "spotify" : "https://open.spotify.com/artist/08GQAI4eElDnROBrJRGE0X"
          },
          "followers" : {
            "href" : null,
            "total" : 7543483
          },
          "genres" : [ "album rock", "classic rock", "mellow gold", "rock", "soft rock", "yacht rock" ],
          "href" : "https://api.spotify.com/v1/artists/08GQAI4eElDnROBrJRGE0X",
          "id" : "08GQAI4eElDnROBrJRGE0X",
          "images" : [ {
            "height" : 640,
            "url" : "https://i.scdn.co/image/ab6761610000e5eb249d55f2d68a44637905c57e",
            "width" : 640
          }, {
            "height" : 320,
            "url" : "https://i.scdn.co/image/ab67616100005174249d55f2d68a44637905c57e",
            "width" : 320
          }, {
            "height" : 160,
            "url" : "https://i.scdn.co/image/ab6761610000f178249d55f2d68a44637905c57e",
            "width" : 160
          } ],
          "name" : "Fleetwood Mac",
          "popularity" : 82,
          "type" : "artist",
          "uri" : "spotify:artist:08GQAI4eElDnROBrJRGE0X"
        }
  recorded_at: Sun, 19 Dec 2021 14:25:18 GMT
recorded_with: VCR 6.0.0
