---
http_interactions:
- request:
    method: get
    uri: https://graph.talparad.io/?query=%7B%0A%20%20getStation(profile:%20%22radio-brand-web%22,%20slug:%20%22radio-veronica%22)%20%7B%0A%20%20%20%20title%0A%20%20%20%20playouts(profile:%20%22%22,%20limit:%2010)%20%7B%0A%20%20%20%20%20%20broadcastDate%0A%20%20%20%20%20%20track%20%7B%0A%20%20%20%20%20%20%20%20id%0A%20%20%20%20%20%20%20%20title%0A%20%20%20%20%20%20%20%20artistName%0A%20%20%20%20%20%20%20%20isrc%0A%20%20%20%20%20%20%20%20images%20%7B%0A%20%20%20%20%20%20%20%20%20%20type%0A%20%20%20%20%20%20%20%20%20%20uri%0A%20%20%20%20%20%20%20%20%20%20__typename%0A%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20__typename%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20__typename%0A%20%20%20%20%7D%0A%20%20%20%20__typename%0A%20%20%7D%0A%7D%0A&variables=%7B%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - da2-27bfqtcztfatfp7ef6feqg2wkq
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Amzn-Requestid:
      - 8b719a24-9d7d-4e97-b16c-e452b7558920
      X-Amzn-Appsync-Tokensconsumed:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"getStation":{"title":"Radio Veronica","playouts":[{"broadcastDate":"2022-11-29T20:08:27Z","track":{"id":"41ef2628-59e1-5c48-8ec0-0201ad7d5d01","title":"Heart
        Of Stone","artistName":"Dave Stewart","isrc":"USEE19900986","images":[{"type":"image","uri":"https://img.talparad.io/tracks/USEE19900986.jpg","__typename":"Image"}],"__typename":"Track"},"__typename":"Playout"},{"broadcastDate":"2022-11-29T20:04:40Z","track":{"id":"aa5b4feb-5dc6-58f3-8471-922317d5bd6d","title":"Say
        Say Say","artistName":"Paul Mccartney & Michael Jackson","isrc":"FR6V80583250","images":[{"type":"image","uri":"https://img.talparad.io/tracks/FR6V80583250.jpg","__typename":"Image"}],"__typename":"Track"},"__typename":"Playout"},{"broadcastDate":"2022-11-29T19:54:10Z","track":{"id":"0ff41594-bd30-5ba1-bec7-39e54b2a335a","title"[...]
