---
http_interactions:
- request:
    method: get
    uri: https://graph.talparad.io/?query=%7B%0A%20%20getStation(profile:%20%22radio-brand-web%22,%20slug:%20%22radio-veronica%22)%20%7B%0A%20%20%20%20title%0A%20%20%20%20playouts(profile:%20%22%22,%20limit:%2010)%20%7B%0A%20%20%20%20%20%20broadcastDate%0A%20%20%20%20%20%20track%20%7B%0A%20%20%20%20%20%20%20%20id%0A%20%20%20%20%20%20%20%20title%0A%20%20%20%20%20%20%20%20artistName%0A%20%20%20%20%20%20%20%20isrc%0A%20%20%20%20%20%20%20%20images%20%7B%0A%20%20%20%20%20%20%20%20%20%20type%0A%20%20%20%20%20%20%20%20%20%20uri%0A%20%20%20%20%20%20%20%20%20%20__typename%0A%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20__typename%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20__typename%0A%20%20%20%20%7D%0A%20%20%20%20__typename%0A%20%20%7D%0A%7D%0A&variables=%7B%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - da2-27bfqtcztfatfp7ef6feqg2wkq
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Amzn-Requestid:
      - 56dc7188-799c-487d-be8c-cc3e3df9d712
      X-Amzn-Appsync-Tokensconsumed:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"getStation":{"title":"Radio Veronica","playouts":[{"broadcastDate":"2022-11-27T20:06:59Z","track":{"id":"b9f5c6bb-434f-58ed-b0fb-532cd707a590","title":"Let''s
        Go All The Way","artistName":"Sly Fox","isrc":"USCA29200364","images":[],"__typename":"Track"},"__typename":"Playout"},{"broadcastDate":"2022-11-27T19:55:30Z","track":{"id":"ea965492-0095-560a-ae19-29be95648b9a","title":"Ooh
        I Like It","artistName":"Creeps","isrc":"SEPQD9023070","images":[{"type":"image","uri":"https://img.talparad.io/tracks/SEPQD9023070.jpg","__typename":"Image"}],"__typename":"Track"},"__typename":"Playout"},{"broadcastDate":"2022-11-27T19:51:31Z","track":{"id":"f3124fe2-3660-5852-a2f5-dd5bfaa57dbd","title":"Jamming","artistName":"Bob
        Marley & The Wailers","isrc":"USIR27700013","images":[{"type":"image","uri":"https://img.talparad.io/tracks/USIR27700013.jpg","__typename":"Image"}],"__typename":"Track"},"__typename":"Playout"},{"broadcastDate":"2022-11-27T19:44:[...]
