version: '3'

services:
  postgres:
    image: postgres:13
    volumes:
      - ./tmp/db:/var/lib/postgresql/data
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust

  redis:
    image: redis:latest
    command: redis-server
    hostname: redis
    volumes:
      - ./tmp/redis:/var/lib/redis/data

  sidekiq:
    depends_on:
      - postgres
      - redis
    build:
      context: .
      dockerfile: dev.Dockerfile
    command: bundle exec sidekiq -C config/sidekiq.yml
    environment:
      - RAILS_ENV=development
      - POSTGRES_HOST=postgres
      - POSTGRES_USER=postgres
      - RAILS_LOG_TO_STDOUT=true
      - REDIS_SIDEKIQ_URL=redis://redis:6379/2
      - REDIS_CACHE_URL=redis://redis:6379/1
      - ACOUSTID_API_KEY=${ACOUSTID_API_KEY}
    volumes:
      - .:/app

  radio_web:
    build:
      context: .
      dockerfile: dev.Dockerfile
    command: bash -c "rm -rf /app/tmp/pids && rails s -p 3000 -b 0.0.0.0"
    hostname: radio-web
    depends_on:
      - postgres
      - redis
    ports:
      - 3000:3000
    volumes:
      - .:/app
      - ~/.aws/:/root/.aws:ro
    environment:
      - RAILS_ENV=development
      - RAILS_LOG_TO_STDOUT=true
      - DOCKER_COMPOSE=true
      - NODE_ENV=development
      - POSTGRES_HOST=postgres
      - POSTGRES_USER=postgres
      - REDIS_SIDEKIQ_URL=redis://redis:6379/2
      - REDIS_CACHE_URL=redis://redis:6379/1
      - ACOUSTID_API_KEY=${ACOUSTID_API_KEY}
    tty: true
    stdin_open: true

  persistent_streams:
    depends_on:
      - postgres
      - redis
    build:
      context: .
      dockerfile: dev.Dockerfile
    command: bundle exec rake persistent_streams:start
    environment:
      - RAILS_ENV=development
      - POSTGRES_HOST=postgres
      - POSTGRES_USER=postgres
      - RAILS_LOG_TO_STDOUT=true
      - REDIS_SIDEKIQ_URL=redis://redis:6379/2
      - REDIS_CACHE_URL=redis://redis:6379/1
    volumes:
      - .:/app
