<% if params[:view].blank? || params[:view] == 'rows' %>
  <ul class="bg-white rounded">
    <%- @artists.each_with_index do |artist, idx| %>
      <%= render partial: artist, locals: { idx: } %>
    <% end %>
  </ul>
<% elsif params[:view] == 'tiles' %>
  <div class="grid gap-4 sm:grid-cols-1 md:grid-cols-3 l:grid-cols-3 2xl:grid-cols-4">
    <%- @artists.each_with_index do |artist, idx| %>
      <%= render partial: artist, locals: { idx: } %>
    <% end %>
  </div>
<% end %>
