---
http_interactions:
- request:
    method: get
    uri: https://lrclib.net/api/get/390
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"id":390,"name":"Blinding Lights","trackName":"Blinding Lights","artistName":"The
        Weeknd","albumName":"After Hours","duration":200.0,"instrumental":false,"plainLyrics":"Yeah\n\nI''ve
        been tryna call\n\nI''ve been on my own for long enough\nMaybe you can show
        me how to love, maybe\n\nI''m going through withdrawals\n\nYou don''t even
        have to do too much\nYou can turn me on with just a touch, baby\nI look around
        and\nSin City''s cold and empty (oh)\nNo one''s around to judge me (oh)\nI
        can''t see clearly when you''re gone\nI said, ooh, I''m blinded by the lights\nNo,
        I can''t sleep until I feel your touch\n\nI said, ooh, I''m drowning in the
        night\nOh, when I''m like this, you''re the one I trust\n(Hey, hey, hey)\n\nI''m
        running out of time\n\n''Cause I can see the sun light up the sky\nSo I hit
        the road in overdrive, baby, oh\nThe city''s cold and empty (oh)\nNo one''s
        around to judge me (oh)\nI can''t see clearly when you''re gone\nI said, ooh,
        I''m blinded by the lights\nNo, I can''t sleep until I feel your touch\n\nI
        said, ooh, I''m drowning in the night\nOh, when I''m like this, you''re the
        one I trust\n\nI''m just walking by to let you know (by to let you know)\nI
        can never say it on the phone (say it on the phone)\nWill never let you go
        this time (ooh)\nI said, ooh, I''m blinded by the lights\nNo, I can''t sleep
        until I feel your touch\n(Hey, hey, hey)\n\n(Hey, hey, hey)\n\nI said, ooh,
        I''m blinded by the lights\nNo, I can''t sleep until I feel your touch\n\n","syncedLyrics":"[00:13.42]
        Yeah\n[00:14.81] \n[00:26.95] I''ve been tryna call\n[00:28.56] \n[00:29.83]
        I''ve been on my own for long enough\n[00:32.62] Maybe you can show me how
        to love, maybe\n[00:37.42] \n[00:38.24] I''m going through withdrawals\n[00:40.61]
        \n[00:41.10] You don''t even have to do too much\n[00:43.90] You can turn
        me on with just a touch, baby\n[00:49.41] I look around and\n[00:50.72] Sin
        City''s cold and empty (oh)\n[00:53.53] No one''s aroun[...]
