---
http_interactions:
- request:
    method: get
    uri: https://www.npo3fm.nl/api/tracks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"48e9-LmZ7o2S4STbEPHuA3c9K+UvEzPI"'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":null,"messages":null,"data":[{"startdatetime":"2021-12-24T09:46:20","enddatetime":"2021-12-24T09:50:06","title":"Eternity
        (The First The Last)","artist":"Snap","image_url_200x200":"https://radio-images.npo.nl/w_200,h_200/16890f1a-7efb-4acd-a0cc-0ef971c4ed00/db00c50a-d866-4a96-81f1-d50d79cb7d38.jpg","image_url_400x400":"https://radio-images.npo.nl/w_400,h_400/16890f1a-7efb-4acd-a0cc-0ef971c4ed00/db00c50a-d866-4a96-81f1-d50d79cb7d38.jpg"},{"startdatetime":"2021-12-24T09:38:34","enddatetime":"2021-12-24T09:41:47","title":"Suddenly
        I See","artist":"KT Tunstall","image_url_200x200":"https://radio-images.npo.nl/w_200,h_200/16890f1a-7efb-4acd-a0cc-0ef971c4ed00/50328d3b-5e87-4cef-b5cb-32ad1ca76ed1.jpg","image_url_400x400":"https://radio-images.npo.nl/w_400,h_400/16890f1a-7efb-4acd-a0cc-0ef971c4ed00/50328d3b-5e87-4cef-b5cb-32ad1ca76ed1.jpg"},{"startdatetime":"2021-12-24T09:32:49","enddatetime":"2021-12-24T09:38:36","title":"Nothing
        Else Matters","artist":"Metallica","image_url_200x200":"https://i.scdn.co/image/deb44798f4a2fff65c62bf4ca2c9b0ebb4a7f5f2","image_url_400x400":"https://i.scdn.co/image/deb44798f4a2fff65c62bf4ca2c9b0ebb4a7f5f2","spotify_url":"https://open.spotify.com/track/10igKaIKsSB6ZnWxPxPvKO"},{"startdatetime":"2021-12-24T09:25:13","enddatetime":"2021-12-24T09:29:03","title":"Last
        Friday Night (T.G.I.F.)","artist":"Katy Perry","image_url_200x200":"https://radio-images.npo.nl/w_200,h_200/16890f1a-7efb-4acd-a0cc-0ef971c4ed00/a9f3de90-e3c4-4e0d-8d09-2a15d9a43cb2.jpg","image_url_400x400":"https://radio-images.npo.nl/w_400,h_400/16890f1a-7efb-4acd-a0cc-0ef971c4ed00/a9f3de90-e3c4-4e0d-8d09-2a15d9a43cb2.jpg"},{"startdatetime":"[...]
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic ZmY3MGRmNjUwZWUxNGExZmFkNGFlZDNiNTMzZThlYTQ6OTg5OWY1NzBiYzNlNDc4MWI5MzczZTYwZDZmMzcwOTU=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Sp-Trace-Id:
      - 28f0223ad6a7a654
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"BQBTyoOA-oWjB19B6HivYKLQ7V5bqga62ATwmXfTmvAW-YJJUUCzax7jq0EiOJJvNm5LGHxWbacoLGMTAaE","token_type":"Bearer","expires_in":3600}'
  recorded_at: Fri, 24 Dec 2021 08:55:59 GMT
[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=Eternity%20(The%20First%20The%20Last)%20artist:snap&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQBSfDBSKTqR2JAkL1fXJBDao1OML4r91lGD-AAN3LuNZavXjOs-CY02N4ql6ioaG5W-GD6fNlK1Zm1hXF4
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "tracks" : {
            "href" : "https://api.spotify.com/v1/search?query=Eternity+%28The+First+The+Last%29+artist%3Asnap&type=track&offset=0&limit=20",
            "items" : [ {
              "album" : {
                "album_type" : "compilation",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/2FrKQPjJe4pVMZOgm0ESOx"
                  },
                  "href" : "https://api.spotify.com/v1/artists/2FrKQPjJe4pVMZOgm0ESOx",
                  "id" : "2FrKQPjJe4pVMZOgm0ESOx",
                  "name" : "SNAP!",
                  "type" : "artist",
                  "uri" : "spotify:artist:2FrKQPjJe4pVMZOgm0ESOx"
                } ],
                "available_markets" : [ "AD", "AE", "AG", "AL", "AM", "AO", "AR", "AT", "AU", "AZ", "BA", "BB", "BD", "BE", "BF", "BG", "BH", "BI", "BJ", "BN", "BO", "BR", "BS", "BT", "BW", "BY", "BZ", "CA", "CD", "CG", "CH", "CI", "CL", "CM", "CO", "CR", "CV", "CW", "CY", "CZ", "DE", "DJ", "DK", "DM", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FJ", "FM", "FR", "GA", "GB", "GD", "GE", "GH", "GM", "GN", "GQ", "GR", "GT", "GW", "GY", "HK", "HN", "HR", "HT", "HU", "ID", "IE", "IL", "IQ", "IS", "IT", "JM", "JO", "JP", "KE", "KG", "KH", "KI", "KM", "KN", "KR", "KW", "KZ", "LA", "LB", "LC", "LI", "LK", "LR", "LS", "LT", "LU", "LV", "LY", "MA", "MC", "MD", "ME", "MG", "MH", "MK", "ML", "MN", "MO", "MR", "MT", "MU", "MV", "MW", "MX", "MY", "MZ", "NA", "NE", "NG", "NI", "NL", "NO", "NP", "NR", "NZ", "OM", "PA", "PE", "PG", "PH", "PK", "PL", "PS", "PT", "PW", "PY", "QA", "RO", "RS", "RU", "RW", "SA", "SB", "SC", "SE", "SG", "SI", "SK", "SL", "SM", "SN", "SR", "ST", "SV", "SZ", "TD", "TG", "TH", "TJ", "TL", "TN", "TO", "TR", "TT", "TV", "TW", "TZ", "UA", "UG", "US", "UY", "UZ", "VC", "VE", "VN", "VU", "WS", "XK", "ZA", "ZM", "ZW" ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/0f7ZSi2EcurDJU0UeKFjuZ"
                },
                "href" : "https://api.spotify.com/v1/albums/0f7ZSi2EcurDJU0UeKFjuZ",
                "id" : "0f7ZSi2EcurDJU0UeKFjuZ",
                "images" : [ {
                  "height" : 640,
                  "url" : "https://i.scdn.co/image/ab67616d0000b273ab5d4f4106937134287496e3",
                  "width" : 640
                }, {
                  "height" : 300,
                  "url" : "https://i.scdn.co/image/ab67616d00001e02ab5d4f4106937134287496e3",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/ab67616d00004851ab5d4f4106937134287496e3",
                  "width" : 64
                } ],
                "name" : "SNAP! The Power Greatest Hits",
                "release_date" : "2009-11-24",
                "release_date_precision" : "day",
                "total_tracks" : 22,
                "type" : "album",
                "uri" : "spotify:album:0f7ZSi2EcurDJU0UeKFjuZ"
              },
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/2FrKQPjJe4pVMZOgm0ESOx"
                },
                "href" : "https://api.spotify.com/v1/artists/2FrKQPjJe4pVMZOgm0ESOx",
                "id" : "2FrKQPjJe4pVMZOgm0ESOx",
                "name" : "SNAP!",
                "type" : "artist",
     [...]
[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/2FrKQPjJe4pVMZOgm0ESOx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQBL1Lm1P6z7Iq94Nos6F60mbhla6cYCVgkwJbs8zIEAJdRJU_gNFMatYjTFaotrCJHK9y0VoTvqNZ4nNPw
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "external_urls" : {
            "spotify" : "https://open.spotify.com/artist/2FrKQPjJe4pVMZOgm0ESOx"
          },
          "followers" : {
            "href" : null,
            "total" : 154107
          },
          "genres" : [ "diva house", "eurodance", "europop", "german techno", "hip house" ],
          "href" : "https://api.spotify.com/v1/artists/2FrKQPjJe4pVMZOgm0ESOx",
          "id" : "2FrKQPjJe4pVMZOgm0ESOx",
          "images" : [ {
            "height" : 1235,
            "url" : "https://i.scdn.co/image/d9a26c5882129302d5d283c6644e6b53cc416d62",
            "width" : 1000
          }, {
            "height" : 790,
            "url" : "https://i.scdn.co/image/8d6097032bc3cf86e123f64b6674d826debcaa7d",
            "width" : 640
          }, {
            "height" : 247,
            "url" : "https://i.scdn.co/image/aefbe826adf47c5c11f63a593fe741291c2432cd",
            "width" : 200
          }, {
            "height" : 79,
            "url" : "https://i.scdn.co/image/8e8b2f180442291048500fecf4067924d8502457",
            "width" : 64
          } ],
          "name" : "SNAP!",
          "popularity" : 62,
          "type" : "artist",
          "uri" : "spotify:artist:2FrKQPjJe4pVMZOgm0ESOx"
        }
  recorded_at: Fri, 24 Dec 2021 08:55:59 GMT
recorded_with: VCR 6.0.0
