---
http_interactions:
- request:
    method: get
    uri: https://www.npo3fm.nl/api/tracks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"48f7-cZQa91X9J9EI7ZymINIZRG3T3Ac"'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":null,"messages":null,"data":[{"startdatetime":"2021-12-24T09:38:34","enddatetime":"2021-12-24T09:41:47","title":"Suddenly
        I See","artist":"KT Tunstall","image_url_200x200":"https://radio-images.npo.nl/w_200,h_200/16890f1a-7efb-4acd-a0cc-0ef971c4ed00/50328d3b-5e87-4cef-b5cb-32ad1ca76ed1.jpg","image_url_400x400":"https://radio-images.npo.nl/w_400,h_400/16890f1a-7efb-4acd-a0cc-0ef971c4ed00/50328d3b-5e87-4cef-b5cb-32ad1ca76ed1.jpg"},{"startdatetime":"2021-12-24T09:32:49","enddatetime":"2021-12-24T09:38:36","title":"Nothing
        Else Matters","artist":"Metallica","image_url_200x200":"https://i.scdn.co/image/deb44798f4a2fff65c62bf4ca2c9b0ebb4a7f5f2","image_url_400x400":"https://i.scdn.co/image/deb44798f4a2fff65c62bf4ca2c9b0ebb4a7f5f2","spotify_url":"https://open.spotify.com/track/10igKaIKsSB6ZnWxPxPvKO"},{"startdatetime":"2021-12-24T09:25:13","enddatetime":"2021-12-24T09:29:03","title":"Last
        Friday Night (T.G.I.F.)","artist":"Katy Perry","image_url_200x200":"https://radio-images.npo.nl/w_200,h_200/16890f1a-7efb-4acd-a0cc-0ef971c4ed00/a9f3de90-e3c4-4e0d-8d09-2a15d9a43cb2.jpg","image_url_400x400":"https://radio-images.npo.nl/w_400,h_400/16890f1a-7efb-4acd-a0cc-0ef971c4ed00/a9f3de90-e3c4-4e0d-8d09-2a15d9a43cb2.jpg"},{"startdatetime":"[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=Suddenly%20I%20See%20artist:kt%20tunstall&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQBM-GA4gsN7igR3sZP9aVuRXNf5Og_rSd734Lb9j3tjCnX1fD_yOB2cPRxKKEyX37GpOALgxM7dvZfJRNM
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "tracks" : {
            "href" : "https://api.spotify.com/v1/search?query=Suddenly+I+See+artist%3Akt+tunstall&type=track&offset=0&limit=20",
            "items" : [ {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/5zzrJD2jXrE9dZ1AklRFcL"
                  },
                  "href" : "https://api.spotify.com/v1/artists/5zzrJD2jXrE9dZ1AklRFcL",
                  "id" : "5zzrJD2jXrE9dZ1AklRFcL",
                  "name" : "KT Tunstall",
                  "type" : "artist",
                  "uri" : "spotify:artist:5zzrJD2jXrE9dZ1AklRFcL"
                } ],
                "available_markets" : [ "AD", "AE", "AG", "AL", "AM", "AO", "AR", "AT", "AU", "AZ", "BA", "BB", "BD", "BE", "BF", "BG", "BH", "BI", "BJ", "BN", "BO", "BR", "BS", "BT", "BW", "BY", "BZ", "CA", "CD", "CG", "CH", "CI", "CL", "CM", "CO", "CR", "CV", "CW", "CY", "CZ", "DE", "DJ", "DK", "DM", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FJ", "FM", "FR", "GA", "GB", "GD", "GE", "GH", "GM", "GN", "GQ", "GR", "GT", "GW", "GY", "HK", "HN", "HR", "HT", "HU", "ID", "IE", "IL", "IN", "IQ", "IS", "IT", "JM", "JO", "KE", "KG", "KH", "KI", "KM", "KN", "KR", "KW", "KZ", "LA", "LB", "LC", "LI", "LK", "LR", "LS", "LT", "LU", "LV", "LY", "MA", "MC", "MD", "ME", "MG", "MH", "MK", "ML", "MN", "MO", "MR", "MT", "MU", "MV", "MW", "MX", "MY", "MZ", "NA", "NE", "NG", "NI", "NL", "NO", "NP", "NR", "NZ", "OM", "PA", "PE", "PG", "PH", "PK", "PL", "PS", "PT", "PW", "PY", "QA", "RO", "RS", "RU", "RW", "SA", "SB", "SC", "SE", "SG", "SI", "SK", "SL", "SM", "SN", "SR", "ST", "SV", "SZ", "TD", "TG", "TH", "TJ", "TL", "TN", "TO", "TR", "TT", "TV", "TW", "TZ", "UA", "UG", "US", "UY", "UZ", "VC", "VE", "VN", "VU", "WS", "XK", "ZA", "ZM", "ZW" ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/3j70PDKieTWQAwas3bPHRZ"
                },
                "href" : "https://api.spotify.com/v1/albums/3j70PDKieTWQAwas3bPHRZ",
                "id" : "3j70PDKieTWQAwas3bPHRZ",
                "images" : [ {
                  "height" : 640,
                  "url" : "https://i.scdn.co/image/ab67616d0000b273183730e8038fa632b2c227da",
                  "width" : 640
                }, {
                  "height" : 300,
                  "url" : "https://i.scdn.co/image/ab67616d00001e02183730e8038fa632b2c227da",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/ab67616d00004851183730e8038fa632b2c227da",
                  "width" : 64
                } ],
                "name" : "Eye To The Telescope",
                "release_date" : "2005-01-01",
                "release_date_precision" : "day",
                "total_tracks" : 12,
                "type" : "album",
                "uri" : "spotify:album:3j70PDKieTWQAwas3bPHRZ"
              },
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/5zzrJD2jXrE9dZ1AklRFcL"
                },
                "href" : "https://api.spotify.com/v1/artists/5zzrJD2jXrE9dZ1AklRFcL",
                "id" : "5zzrJD2jXrE9dZ1AklRFcL",
                "name" : "KT Tunstall",
                "type" : "artist",[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/5zzrJD2jXrE9dZ1AklRFcL
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQBM-GA4gsN7igR3sZP9aVuRXNf5Og_rSd734Lb9j3tjCnX1fD_yOB2cPRxKKEyX37GpOALgxM7dvZfJRNM
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "external_urls" : {
            "spotify" : "https://open.spotify.com/artist/5zzrJD2jXrE9dZ1AklRFcL"
          },
          "followers" : {
            "href" : null,
            "total" : 343451
          },
          "genres" : [ "lilith", "neo mellow", "pop rock", "scottish singer-songwriter" ],
          "href" : "https://api.spotify.com/v1/artists/5zzrJD2jXrE9dZ1AklRFcL",
          "id" : "5zzrJD2jXrE9dZ1AklRFcL",
          "images" : [ {
            "height" : 640,
            "url" : "https://i.scdn.co/image/ab6761610000e5eb8457f57bc526c37bd804b924",
            "width" : 640
          }, {
            "height" : 320,
            "url" : "https://i.scdn.co/image/ab676161000051748457f57bc526c37bd804b924",
            "width" : 320
          }, {
            "height" : 160,
            "url" : "https://i.scdn.co/image/ab6761610000f1788457f57bc526c37bd804b924",
            "width" : 160
          } ],
          "name" : "KT Tunstall",
          "popularity" : 63,
          "type" : "artist",
          "uri" : "spotify:artist:5zzrJD2jXrE9dZ1AklRFcL"
        }
  recorded_at: Fri, 24 Dec 2021 08:49:30 GMT
recorded_with: VCR 6.0.0
