---
http_interactions:
- request:
    method: get
    uri: https://www.nporadio1.nl/api/tracks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":null,"messages":null,"data":[{"startdatetime":"2021-12-19T06:34:56","enddatetime":"2021-12-19T06:38:16","title":"Shine
        your light","artist":"Mell & Vintage future","image_url_200x200":"https://i.scdn.co/image/ab67616d0000b273e3a4c9f57a84798ca6624063","image_url_400x400":"https://i.scdn.co/image/ab67616d0000b273e3a4c9f57a84798ca6624063","spotify_url":"https://open.spotify.com/track/0M2fWYovMm74r6eesWZ705"},{"startdatetime":"2021-12-19T06:15:32","enddatetime":"2021-12-19T06:19:48","title":"I
        don''t wanna lose you","artist":"Tina Turner","image_url_200x200":"https://i.scdn.co/image/ab67616d0000b273a04b4373fd72bf81c8784adf","image_url_400x400":"https://i.scdn.co/image/ab67616d0000b273a04b4373fd72bf81c8784adf","spotify_url":"https://open.spotify.com/track/2TxWkdptNrm2Z0CZfMr3Iq"},{"startdatetime":"2021-12-19T05:49:52","enddatetime":"2021[...]
