---
http_interactions:
- request:
    method: get
    uri: https://www.nporadio1.nl/api/tracks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":null,"messages":null,"data":[{"startdatetime":"2022-01-16T07:59:04","enddatetime":"2022-01-16T08:03:20","title":"Looking
        for Moses","artist":"Mamas Gun","image_url_200x200":"https://i.scdn.co/image/ab67616d0000b273b2da3e5f6524b07b24656989","image_url_400x400":"https://i.scdn.co/image/ab67616d0000b273b2da3e5f6524b07b24656989"},{"startdatetime":"2022-01-16T06:34:50","enddatetime":"2022-01-16T06:38:18","title":"It''s
        the first time","artist":"Lois Lane","image_url_200x200":"https://i.scdn.co/image/ab67616d0000b2737fe2b14dbd0ab2600620c2a9","image_url_400x400":"https://i.scdn.co/image/ab67616d0000b2737fe2b14dbd0ab2600620c2a9","spotify_url":"https://open.spotify.com/track/6BX7SFkTv8b3DdvStVeIUI"},{"startdatetime":"2022-01-16T06:13:55","enddatetime":"2022-01-16T06:17:03","title":"L''Enfer","artist":"Stromae","image_url_200x200":"https://i.scdn.co/image/ab67616d0000b2739b90e4ccf55c0a23a13f4eae","image_url_400x400":"https://i.scdn.co/image/ab67616d0000b2739b90e4ccf55c0a23a13f4eae","spotify_url":"https://open.spotify.com/track/7bp3zmEvpHLa0h32nhDUkB"},{"startdatetime":"2022-01-16T05:52:09","enddatetime":"2022-01-16T05:55:34","title":"W[...]
