---
http_interactions:
- request:
    method: get
    uri: https://www.nporadio2.nl/api/tracks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":null,"messages":null,"data":[{"startdatetime":"2021-12-24T09:30:30","enddatetime":"2021-12-24T09:35:03","title":"All
        I Wanna Do","artist":"Sheryl Crow","image_url_200x200":"https://radio-images.npo.nl/w_200,h_200/34e8df87-0f33-45c6-bd1a-f2528ff87626/fe779db6-c38e-46f8-aa67-0d34c4099398.jpg","image_url_400x400":"https://radio-images.npo.nl/w_400,h_400/34e8df87-0f33-45c6-bd1a-f2528ff87626/fe779db6-c38e-46f8-aa67-0d34c4099398.jpg"},{"startdatetime":"2021-12-24T09:26:03","enddatetime":"2021-12-24T09:29:16","title":"Liever
        Dan Lief","artist":"Doe Maar & Gers Pardoel","image_url_200x200":"https://radio-images.npo.nl/w_200,h_200/34e8df87-0f33-45c6-bd1a-f2528ff87626/34fd3e8e-d6bd-4683-bfb9-d6fc0675c50e.jpg","image_url_400x400":"https://radio-images.npo.nl/w_400,h_400/34e8df87-0f33-45c6-bd1a-f2528ff876[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=All%20I%20Wanna%20Do%20artist:sheryl%20crow&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQBM-GA4gsN7igR3sZP9aVuRXNf5Og_rSd734Lb9j3tjCnX1fD_yOB2cPRxKKEyX37GpOALgxM7dvZfJRNM
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "tracks" : {
            "href" : "https://api.spotify.com/v1/search?query=All+I+Wanna+Do+artist%3Asheryl+crow&type=track&offset=0&limit=20",
            "items" : [ {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/4TKTii6gnOnUXQHyuo9JaD"
                  },
                  "href" : "https://api.spotify.com/v1/artists/4TKTii6gnOnUXQHyuo9JaD",
                  "id" : "4TKTii6gnOnUXQHyuo9JaD",
                  "name" : "Sheryl Crow",
                  "type" : "artist",
                  "uri" : "spotify:artist:4TKTii6gnOnUXQHyuo9JaD"
                } ],
                "available_markets" : [ "AD", "AE", "AG", "AL", "AM", "AO", "AR", "AT", "AU", "AZ", "BA", "BB", "BD", "BE", "BF", "BG", "BH", "BI", "BJ", "BN", "BO", "BR", "BS", "BT", "BW", "BY", "BZ", "CA", "CD", "CG", "CH", "CI", "CL", "CM", "CO", "CR", "CV", "CY", "CZ", "DE", "DJ", "DK", "DM", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FJ", "FM", "FR", "GA", "GB", "GD", "GE", "GH", "GM", "GN", "GQ", "GR", "GT", "GW", "GY", "HK", "HN", "HR", "HT", "HU", "ID", "IE", "IL", "IN", "IQ", "IS", "IT", "JM", "JO", "JP", "KE", "KG", "KH", "KI", "KM", "KN", "KR", "KW", "KZ", "LA", "LB", "LC", "LI", "LK", "LR", "LS", "LT", "LU", "LV", "LY", "MA", "MC", "MD", "ME", "MG", "MH", "MK", "ML", "MN", "MO", "MR", "MT", "MU", "MV", "MW", "MX", "MY", "MZ", "NA", "NE", "NG", "NI", "NL", "NO", "NP", "NR", "NZ", "OM", "PA", "PE", "PG", "PH", "PK", "PL", "PS", "PT", "PW", "PY", "QA", "RO", "RS", "RU", "RW", "SA", "SB", "SC", "SE", "SG", "SI", "SK", "SL", "SM", "SN", "SR", "ST", "SV", "SZ", "TD", "TG", "TH", "TJ", "TL", "TN", "TO", "TR", "TT", "TV", "TW", "TZ", "UA", "UG", "US", "UY", "UZ", "VC", "VE", "VN", "VU", "WS", "XK", "ZA", "ZM", "ZW" ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/7dC6axVAeBDpRMmNtRbpwU"
                },
                "href" : "https://api.spotify.com/v1/albums/7dC6axVAeBDpRMmNtRbpwU",
                "id" : "7dC6axVAeBDpRMmNtRbpwU",
                "images" : [ {
                  "height" : 640,
                  "url" : "https://i.scdn.co/image/ab67616d0000b273b478a8ce3aac61a3675aac2a",
                  "width" : 640
                }, {
                  "height" : 300,
                  "url" : "https://i.scdn.co/image/ab67616d00001e02b478a8ce3aac61a3675aac2a",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/ab67616d00004851b478a8ce3aac61a3675aac2a",
                  "width" : 64
                } ],
                "name" : "Tuesday Night Music Club",
                "release_date" : "1993-08-03",
                "release_date_precision" : "day",
                "total_tracks" : 11,
                "type" : "album",
                "uri" : "spotify:album:7dC6axVAeBDpRMmNtRbpwU"
              },
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/4TKTii6gnOnUXQHyuo9JaD"
                },
                "href" : "https://api.spotify.com/v1/artists/4TKTii6gnOnUXQHyuo9JaD",
                "id" : "4TKTii6gnOnUXQHyuo9JaD",
                "name" : "Sheryl Crow",
                "type" : "artist",[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/4TKTii6gnOnUXQHyuo9JaD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQBM-GA4gsN7igR3sZP9aVuRXNf5Og_rSd734Lb9j3tjCnX1fD_yOB2cPRxKKEyX37GpOALgxM7dvZfJRNM
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "external_urls" : {
            "spotify" : "https://open.spotify.com/artist/4TKTii6gnOnUXQHyuo9JaD"
          },
          "followers" : {
            "href" : null,
            "total" : 843418
          },
          "genres" : [ "lilith", "mellow gold", "neo mellow", "new wave pop", "permanent wave", "pop rock", "rock" ],
          "href" : "https://api.spotify.com/v1/artists/4TKTii6gnOnUXQHyuo9JaD",
          "id" : "4TKTii6gnOnUXQHyuo9JaD",
          "images" : [ {
            "height" : 640,
            "url" : "https://i.scdn.co/image/ab6761610000e5ebf27acad0bc622073d9cab662",
            "width" : 640
          }, {
            "height" : 320,
            "url" : "https://i.scdn.co/image/ab67616100005174f27acad0bc622073d9cab662",
            "width" : 320
          }, {
            "height" : 160,
            "url" : "https://i.scdn.co/image/ab6761610000f178f27acad0bc622073d9cab662",
            "width" : 160
          } ],
          "name" : "Sheryl Crow",
          "popularity" : 68,
          "type" : "artist",
          "uri" : "spotify:artist:4TKTii6gnOnUXQHyuo9JaD"
        }
  recorded_at: Fri, 24 Dec 2021 08:43:30 GMT
recorded_with: VCR 6.0.0
