---
http_interactions:
- request:
    method: post
    uri: https://auth.tidal.com/v1/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic <TIDAL_BASIC_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"<TIDAL_ACCESS_TOKEN>","expires_in":14400,"scope":"","token_type":"Bearer"}'
  recorded_at: Tue, 05 May 2026 19:28:19 GMT
- request:
    method: get
    uri: https://openapi.tidal.com/v2/searchResults/qzxqzxqzxnonexistentartistxxx%20noresult?countryCode=NL&include=tracks,tracks.artists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <TIDAL_BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json
      Tidal-Access-Tier:
      - THIRD_PARTY
      Tidal-Security-Scheme:
      - CLIENT_CREDENTIALS
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"qzxqzxqzxnonexistentartistxxx%20noresult","type":"searchResults","attributes":{"trackingId":"3a84576e-82f2-41b2-8556-35e59eb0a880"},"relationships":{"albums":{"links":{"self":"/searchResults/qzxqzxqzxnonexistentartistxxx%20noresult/relationships/albums?countryCode=NL"}},"artists":{"links":{"self":"/searchResults/qzxqzxqzxnonexistentartistxxx%20noresult/relationships/artists?countryCode=NL"}},"playlists":{"links":{"self":"/searchResults/qzxqzxqzxnonexistentartistxxx%20noresult/relationships/playlists?countryCode=NL"}},"videos":{"links":{"self":"/searchResults/qzxqzxqzxnonexistentartistxxx%20noresult/relationships/videos?countryCode=NL"}},"topHits":{"links":{"self":"/searchResults/qzxqzxqzxnonexistentartistxxx%20noresult/relationships/topHits?countryCode=NL"}},"tracks":{"data":[],"links":{"self":"/searchResults/qzxqzxqzxnonexistentartistxxx%20noresult/relationships/tracks?countryCode=NL"}}}},"links":{"self":"/searchResults/qzxqzxqzxnonexistentartistxxx%20noresult?include=tracks.artists&countryCode=NL"},"included":[]}'
  recorded_at: Tue, 05 May 2026 19:28:19 GMT
recorded_with: VCR 6.4.0
