<html>
  <head>
    <style>
      .mail-center {
        margin: 0 auto;
        width: 85%;
        max-width: 900px;
        padding: 20px;
        text-align: justify;
      }
      th, td {
        padding: 10px;
      }
      .
    </style>
  </head>
  <body>
    <div class="mail-center">
      Cleanup is ready
    </div>
  </body>
</html>
