/*!**************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./app/javascript/stylesheets/application.scss ***!
  \**************************************************************************************************************************************/
@font-face {
  font-family: "Rubik";
  font-weight: regular;
  font-style: "normal";
  src: url(/assets/37a4d906e92edcd9484c-6908d5764beb58c3f94e3fa01ac4239790822d02f29cc78a1a826419148bf29e.ttf);
}
@font-face {
  font-family: "Bungee";
  font-weight: regular;
  font-style: "normal";
  src: url(/assets/d3ffe044080003b18793-4d40a150ed7f333fcac06e5502089274282e93f6a2cd8a82f3d0c09bf7aee52e.ttf);
}
@font-face {
  font-family: "Bungee Inline";
  font-weight: regular;
  font-style: "normal";
  src: url(/assets/cb4e02239f9d70c7517c-3b9755001b13ce7fb9a3a67b66fdd4f42bd8ae81b61ab6654444ec16814fef15.ttf);
}
@font-face {
  font-family: "Roboto";
  font-weight: regular;
  font-style: "normal";
  src: url(/assets/37a4d906e92edcd9484c-6908d5764beb58c3f94e3fa01ac4239790822d02f29cc78a1a826419148bf29e.ttf);
}
body {
  font-family: "Roboto";
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  border-radius: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.rubik {
  font-family: "Rubik", sans-serif;
}

.bungee {
  font-family: "Bungee", cursive;
}

.bungee-inline {
  font-family: "Bungee Inline", cursive;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.nav-arrow {
  opacity: 0;
  z-index: 10;
  font-size: 12em;
  background-color: #eeeeee;
  position: absolute;
  transition-duration: 0.1s;
}
.nav-arrow:hover {
  opacity: 0.8;
}
.nav-arrow.left-arrow {
  transform: translate(-5%, 0%);
}
.nav-arrow.right-arrow {
  transform: translate(-90%, 0%);
}

.time-filters {
  padding: 5px;
  padding-right: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  background-color: #FFFFFF;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.15s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.loading-bar {
  display: inline-block;
  position: static;
  overflow: hidden;
  vertical-align: middle;
  background-color: #DDDBDD;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  border-radius: 4px;
}
.loading-bar::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: " ";
}
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
