---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=<LASTFM_API_KEY>&artist=Unknown%20Song%20XYZ&format=json&limit=3&method=track.search&track=Unknown%20Artist%20XYZ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"results":{"opensearch:Query":{"#text":"","role":"request","searchTerms":"Unknown
        Artist XYZ","startPage":"1"},"opensearch:totalResults":"0","opensearch:startIndex":"0","opensearch:itemsPerPage":"3","trackmatches":{"track":[]},"@attr":{"for":"Unknown
        Artist XYZ"}}}'
  recorded_at: Mon, 15 Sep 2025 10:42:33 GMT
recorded_with: VCR 6.3.1
