---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=STREET%20LIFE%20artist:crusaders%20randy%20crawford&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQChgre7A9UEmXdG9NHpjau2x83dB8DXi91TCjWJblcA7qJzHNrfyLwOGdKEE7x4ZcxmP8XTadJCAS4MVJ0TF9On2mw0unNW-IbT6deuAyR85GeGhqE
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "tracks" : {
            "href" : "https://api.spotify.com/v1/search?query=STREET+LIFE+artist%3Acrusaders+randy+crawford&type=track&offset=0&limit=20",
            "items" : [ ],
            "limit" : 20,
            "next" : null,
            "offset" : 0,
            "previous" : null,
            "total" : 0
          }
        }
  recorded_at: Sat, 05 Nov 2022 13:49:33 GMT
recorded_with: VCR 6.1.0
