---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=EVERYBODY%20DANCE%20artist:chic&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQAVevLUcIsEBF094_Odnb-4UZVxCGPmTse4lCR50lsQ4o7moyBEGfRMLTE7qz6CP9rPeYC_NvQc8vIbbzUboQPQnARKqKdhQ6lGoRNrdlR3lfUbHgU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "tracks" : {
            "href" : "https://api.spotify.com/v1/search?query=EVERYBODY+DANCE+artist%3Achic&type=track&offset=0&limit=20",
            "items" : [ {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/0Xf8oDAJYd2D0k3NLI19OV"
                  },
                  "href" : "https://api.spotify.com/v1/artists/0Xf8oDAJYd2D0k3NLI19OV",
                  "id" : "0Xf8oDAJYd2D0k3NLI19OV",
                  "name" : "CHIC",
                  "type" : "artist",
                  "uri" : "spotify:artist:0Xf8oDAJYd2D0k3NLI19OV"
                } ],
                "available_markets" : [ "AD", "AE", "AG", "AL", "AM", "AO", "AR", "AT", "AU", "AZ", "BA", "BB", "BD", "BE", "BF", "BG", "BH", "BI", "BJ", "BN", "BO", "BR", "BS", "BT", "BW", "BY", "BZ", "CA", "CD", "CG", "CH", "CI", "CL", "CM", "CO", "CR", "CV", "CW", "CY", "CZ", "DE", "DJ", "DK", "DM", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FJ", "FM", "FR", "GA", "GB", "GD", "GE", "GH", "GM", "GN", "GQ", "GR", "GT", "GW", "GY", "HK", "HN", "HR", "HT", "HU", "ID", "IE", "IL", "IN", "IQ", "IS", "IT", "JM", "JO", "JP", "KE", "KG", "KH", "KI", "KM", "KN", "KR", "KW", "KZ", "LA", "LB", "LC", "LI", "LK", "LR", "LS", "LT", "LU", "LV", "LY", "MA", "MC", "MD", "ME", "MG", "MH", "MK", "ML", "MN", "MO", "MR", "MT", "MU", "MV", "MW", "MX", "MY", "MZ", "NA", "NE", "NG", "NI", "NL", "NO", "NP", "NR", "NZ", "OM", "PA", "PE", "PG", "PH", "PK", "PL", "PS", "PT", "PW", "PY", "QA", "RO", "RS", "RW", "SA", "SB", "SC", "SE", "SG", "SI", "SK", "SL", "SM", "SN", "SR", "ST", "SV", "SZ", "TD", "TG", "TH", "TJ", "TL", "TN", "TO", "TR", "TT", "TV", "TW", "TZ", "UA", "UG", "US", "UY", "UZ", "VC", "VE", "VN", "VU", "WS", "XK", "ZA", "ZM", "ZW" ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/388S3dsftPqG1nwgauItcx"
                },
                "href" : "https://api.spotify.com/v1/albums/388S3dsftPqG1nwgauItcx",
                "id" : "388S3dsftPqG1nwgauItcx",
                "images" : [ {
                  "height" : 640,
                  "url" : "https://i.scdn.co/image/ab67616d0000b27353afe19ee3a695205550ed02",
                  "width" : 640
                }, {
                  "height" : 300,
                  "url" : "https://i.scdn.co/image/ab67616d00001e0253afe19ee3a695205550ed02",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/ab67616d0000485153afe19ee3a695205550ed02",
                  "width" : 64
                } ],
                "name" : "Chic (2018 Remaster)",
                "release_date" : "1977-01-01",
                "release_date_precision" : "day",
                "total_tracks" : 7,
                "type" : "album",
                "uri" : "spotify:album:388S3dsftPqG1nwgauItcx"
              },
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/0Xf8oDAJYd2D0k3NLI19OV"
                },
                "href" : "https://api.spotify.com/v1/artists/0Xf8oDAJYd2D0k3NLI19OV",
                "id" : "0Xf8oDAJYd2D0k3NLI19OV",
                "name" : "CHIC",
                "type" : "artist",
       [...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/0Xf8oDAJYd2D0k3NLI19OV
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQAVevLUcIsEBF094_Odnb-4UZVxCGPmTse4lCR50lsQ4o7moyBEGfRMLTE7qz6CP9rPeYC_NvQc8vIbbzUboQPQnARKqKdhQ6lGoRNrdlR3lfUbHgU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "external_urls" : {
            "spotify" : "https://open.spotify.com/artist/0Xf8oDAJYd2D0k3NLI19OV"
          },
          "followers" : {
            "href" : null,
            "total" : 624566
          },
          "genres" : [ "disco", "funk", "post-disco", "quiet storm", "soul" ],
          "href" : "https://api.spotify.com/v1/artists/0Xf8oDAJYd2D0k3NLI19OV",
          "id" : "0Xf8oDAJYd2D0k3NLI19OV",
          "images" : [ {
            "height" : 640,
            "url" : "https://i.scdn.co/image/ab6761610000e5eb4c74c17081e7e0ef8b5eb323",
            "width" : 640
          }, {
            "height" : 320,
            "url" : "https://i.scdn.co/image/ab676161000051744c74c17081e7e0ef8b5eb323",
            "width" : 320
          }, {
            "height" : 160,
            "url" : "https://i.scdn.co/image/ab6761610000f1784c74c17081e7e0ef8b5eb323",
            "width" : 160
          } ],
          "name" : "CHIC",
          "popularity" : 58,
          "type" : "artist",
          "uri" : "spotify:artist:0Xf8oDAJYd2D0k3NLI19OV"
        }
  recorded_at: Sun, 27 Nov 2022 13:19:51 GMT
recorded_with: VCR 6.1.0
