---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=ALONE%20artist:cory%20henry&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQCzHq-TWE1gS0jWoH6iiY2bkZi1UajjRW2uGrYSrBMq8oj_SiQUD3Kx1q30zjFkrOny13pyP-hyBD446qgT7IDUg0Gyl7g8ml7OaW2LxTVZwAQUTy8
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "tracks" : {
            "href" : "https://api.spotify.com/v1/search?query=ALONE+artist%3Acory+henry&type=track&offset=0&limit=20",
            "items" : [ {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/21SOnTj5ECwVXeBUTRcP3s"
                  },
                  "href" : "https://api.spotify.com/v1/artists/21SOnTj5ECwVXeBUTRcP3s",
                  "id" : "21SOnTj5ECwVXeBUTRcP3s",
                  "name" : "Cory Henry",
                  "type" : "artist",
                  "uri" : "spotify:artist:21SOnTj5ECwVXeBUTRcP3s"
                } ],
                "available_markets" : [ "AD", "AE", "AG", "AL", "AM", "AO", "AR", "AT", "AU", "AZ", "BA", "BB", "BD", "BE", "BF", "BG", "BH", "BI", "BJ", "BN", "BO", "BR", "BS", "BT", "BW", "BY", "BZ", "CA", "CD", "CG", "CH", "CI", "CL", "CM", "CO", "CR", "CV", "CW", "CY", "CZ", "DE", "DJ", "DK", "DM", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FJ", "FM", "FR", "GA", "GB", "GD", "GE", "GH", "GM", "GN", "GQ", "GR", "GT", "GW", "GY", "HK", "HN", "HR", "HT", "HU", "ID", "IE", "IL", "IN", "IQ", "IS", "IT", "JM", "JO", "JP", "KE", "KG", "KH", "KI", "KM", "KN", "KR", "KW", "KZ", "LA", "LB", "LC", "LI", "LK", "LR", "LS", "LT", "LU", "LV", "LY", "MA", "MC", "MD", "ME", "MG", "MH", "MK", "ML", "MN", "MO", "MR", "MT", "MU", "MV", "MW", "MX", "MY", "MZ", "NA", "NE", "NG", "NI", "NL", "NO", "NP", "NR", "NZ", "OM", "PA", "PE", "PG", "PH", "PK", "PL", "PS", "PT", "PW", "PY", "QA", "RO", "RS", "RW", "SA", "SB", "SC", "SE", "SG", "SI", "SK", "SL", "SM", "SN", "SR", "ST", "SV", "SZ", "TD", "TG", "TH", "TJ", "TL", "TN", "TO", "TR", "TT", "TV", "TW", "TZ", "UA", "UG", "US", "UY", "UZ", "VC", "VE", "VN", "VU", "WS", "XK", "ZA", "ZM", "ZW" ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/0SFLxkiRkdKuldGjLvlW7P"
                },
                "href" : "https://api.spotify.com/v1/albums/0SFLxkiRkdKuldGjLvlW7P",
                "id" : "0SFLxkiRkdKuldGjLvlW7P",
                "images" : [ {
                  "height" : 640,
                  "url" : "https://i.scdn.co/image/ab67616d0000b2738fcdcba29ef82e33da407b25",
                  "width" : 640
                }, {
                  "height" : 300,
                  "url" : "https://i.scdn.co/image/ab67616d00001e028fcdcba29ef82e33da407b25",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/ab67616d000048518fcdcba29ef82e33da407b25",
                  "width" : 64
                } ],
                "name" : "Best of Me",
                "release_date" : "2021-09-17",
                "release_date_precision" : "day",
                "total_tracks" : 11,
                "type" : "album",
                "uri" : "spotify:album:0SFLxkiRkdKuldGjLvlW7P"
              },
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/21SOnTj5ECwVXeBUTRcP3s"
                },
                "href" : "https://api.spotify.com/v1/artists/21SOnTj5ECwVXeBUTRcP3s",
                "id" : "21SOnTj5ECwVXeBUTRcP3s",
                "name" : "Cory Henry",
                "type" : "artist",
[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/21SOnTj5ECwVXeBUTRcP3s
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQCzHq-TWE1gS0jWoH6iiY2bkZi1UajjRW2uGrYSrBMq8oj_SiQUD3Kx1q30zjFkrOny13pyP-hyBD446qgT7IDUg0Gyl7g8ml7OaW2LxTVZwAQUTy8
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "external_urls" : {
            "spotify" : "https://open.spotify.com/artist/21SOnTj5ECwVXeBUTRcP3s"
          },
          "followers" : {
            "href" : null,
            "total" : 149373
          },
          "genres" : [ "indie soul", "jazz organ", "modern funk", "retro soul" ],
          "href" : "https://api.spotify.com/v1/artists/21SOnTj5ECwVXeBUTRcP3s",
          "id" : "21SOnTj5ECwVXeBUTRcP3s",
          "images" : [ {
            "height" : 640,
            "url" : "https://i.scdn.co/image/ab6761610000e5eb63e8768e6c3bc31a9ea4cd64",
            "width" : 640
          }, {
            "height" : 320,
            "url" : "https://i.scdn.co/image/ab6761610000517463e8768e6c3bc31a9ea4cd64",
            "width" : 320
          }, {
            "height" : 160,
            "url" : "https://i.scdn.co/image/ab6761610000f17863e8768e6c3bc31a9ea4cd64",
            "width" : 160
          } ],
          "name" : "Cory Henry",
          "popularity" : 49,
          "type" : "artist",
          "uri" : "spotify:artist:21SOnTj5ECwVXeBUTRcP3s"
        }
  recorded_at: Sun, 27 Nov 2022 20:15:26 GMT
recorded_with: VCR 6.1.0
