---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=THAT%27S%20THE%20WAY%20LOVE%20GOES%20artist:janet%20jackson&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQBHdYOTB-dZez3omzMhrV7_nD4fBkEfHCaT1gVYRSwG-T2FbJXZLEdCqA-Rs_vhaj1QQJNHswbxJcARtyzxoWlVXwL9PDM16qIDlFVrvQwKZA2lNd8
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "tracks" : {
            "href" : "https://api.spotify.com/v1/search?query=THAT%27S+THE+WAY+LOVE+GOES+artist%3Ajanet+jackson&type=track&offset=0&limit=20",
            "items" : [ {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/4qwGe91Bz9K2T8jXTZ815W"
                  },
                  "href" : "https://api.spotify.com/v1/artists/4qwGe91Bz9K2T8jXTZ815W",
                  "id" : "4qwGe91Bz9K2T8jXTZ815W",
                  "name" : "Janet Jackson",
                  "type" : "artist",
                  "uri" : "spotify:artist:4qwGe91Bz9K2T8jXTZ815W"
                } ],
                "available_markets" : [ "AD", "AE", "AG", "AL", "AM", "AO", "AR", "AT", "AU", "AZ", "BA", "BB", "BD", "BE", "BF", "BG", "BH", "BI", "BJ", "BN", "BO", "BR", "BS", "BT", "BW", "BY", "BZ", "CA", "CD", "CG", "CH", "CI", "CL", "CM", "CO", "CR", "CV", "CW", "CY", "CZ", "DE", "DJ", "DK", "DM", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FJ", "FM", "FR", "GA", "GB", "GD", "GE", "GH", "GM", "GN", "GQ", "GR", "GT", "GW", "GY", "HK", "HN", "HR", "HT", "HU", "ID", "IE", "IL", "IN", "IQ", "IS", "IT", "JM", "JO", "JP", "KE", "KG", "KH", "KI", "KM", "KN", "KR", "KW", "KZ", "LA", "LB", "LC", "LI", "LK", "LR", "LS", "LT", "LU", "LV", "LY", "MA", "MC", "MD", "ME", "MG", "MH", "MK", "ML", "MN", "MO", "MR", "MT", "MU", "MV", "MW", "MX", "MY", "MZ", "NA", "NE", "NG", "NI", "NL", "NO", "NP", "NR", "NZ", "OM", "PA", "PE", "PG", "PH", "PK", "PL", "PS", "PT", "PW", "PY", "QA", "RO", "RS", "RW", "SA", "SB", "SC", "SE", "SG", "SI", "SK", "SL", "SM", "SN", "SR", "ST", "SV", "SZ", "TD", "TG", "TH", "TJ", "TL", "TN", "TO", "TR", "TT", "TV", "TW", "TZ", "UA", "UG", "US", "UY", "UZ", "VC", "VE", "VN", "VU", "WS", "XK", "ZA", "ZM", "ZW" ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/7qIuZgsMkRuh7rzi4qVcpg"
                },
                "href" : "https://api.spotify.com/v1/albums/7qIuZgsMkRuh7rzi4qVcpg",
                "id" : "7qIuZgsMkRuh7rzi4qVcpg",
                "images" : [ {
                  "height" : 640,
                  "url" : "https://i.scdn.co/image/ab67616d0000b273e63518d50aff63f57d2b8ead",
                  "width" : 640
                }, {
                  "height" : 300,
                  "url" : "https://i.scdn.co/image/ab67616d00001e02e63518d50aff63f57d2b8ead",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/ab67616d00004851e63518d50aff63f57d2b8ead",
                  "width" : 64
                } ],
                "name" : "Janet",
                "release_date" : "1993-05-18",
                "release_date_precision" : "day",
                "total_tracks" : 28,
                "type" : "album",
                "uri" : "spotify:album:7qIuZgsMkRuh7rzi4qVcpg"
              },
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/4qwGe91Bz9K2T8jXTZ815W"
                },
                "href" : "https://api.spotify.com/v1/artists/4qwGe91Bz9K2T8jXTZ815W",
                "id" : "4qwGe91Bz9K2T8jXTZ815W",
                "name" : "Janet Jackson",
                "type" : "artist[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/4qwGe91Bz9K2T8jXTZ815W
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQBHdYOTB-dZez3omzMhrV7_nD4fBkEfHCaT1gVYRSwG-T2FbJXZLEdCqA-Rs_vhaj1QQJNHswbxJcARtyzxoWlVXwL9PDM16qIDlFVrvQwKZA2lNd8
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "external_urls" : {
            "spotify" : "https://open.spotify.com/artist/4qwGe91Bz9K2T8jXTZ815W"
          },
          "followers" : {
            "href" : null,
            "total" : 3324627
          },
          "genres" : [ "dance pop", "hip pop", "r&b", "urban contemporary" ],
          "href" : "https://api.spotify.com/v1/artists/4qwGe91Bz9K2T8jXTZ815W",
          "id" : "4qwGe91Bz9K2T8jXTZ815W",
          "images" : [ {
            "height" : 640,
            "url" : "https://i.scdn.co/image/ab6761610000e5eb68ab782284f90f0685619bb7",
            "width" : 640
          }, {
            "height" : 320,
            "url" : "https://i.scdn.co/image/ab6761610000517468ab782284f90f0685619bb7",
            "width" : 320
          }, {
            "height" : 160,
            "url" : "https://i.scdn.co/image/ab6761610000f17868ab782284f90f0685619bb7",
            "width" : 160
          } ],
          "name" : "Janet Jackson",
          "popularity" : 64,
          "type" : "artist",
          "uri" : "spotify:artist:4qwGe91Bz9K2T8jXTZ815W"
        }
  recorded_at: Tue, 29 Nov 2022 20:12:02 GMT
recorded_with: VCR 6.1.0
