---
  version: 2
  jobs:
    build:
      working_directory: ~/radio_playlists
      docker:
        - image: circleci/ruby:2.6.5
          environment:
            PGHOST: localhost
            PGUSER: radio_playlists
            RAILS_ENV: test
        - image: postgres:latest
          environment:
            POSTGRES_USER: radio_playlists
            POSTGRES_DB: radio_playlists_test
            POSTGRES_PASSWORD: "Super-C0mpl3X"

      steps:
        - checkout
        - add_ssh_keys:
            fingerprints:
              - "0d:3b:3a:6e:fb:ba:86:a9:9d:fa:41:ab:bc:3b:56:31"
  
        # Restore Cached Dependencies
        - type: cache-restore
          name: Restore bundle cache
          key: radio_playlists-{{ checksum "Gemfile.lock" }}

        - type: cache-restore
          name: Restore Yarn Package Cache
          key: yarn-packages-{{ checksum "yarn.lock" }}
        
        # install bundler
        - run: gem install bundler:2.1.4
  
        # Bundle install dependencies
        - run: bundle install --path vendor/bundle

        # add yarn
        - run: apt update -qq && apt install nodejs yarn && yarn install
  
        # Cache Dependencies
        - type: cache-save
          name: Store bundle cache
          key: radio_playlists-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle

        - type: cache-save
          name: Store yarn cache
          key: radio_playlists-yarn-{{ checksum "yarn.lock" }}
          paths:
            - ~/.yarn-cache
  
        # Wait for DB
        - run: dockerize -wait tcp://localhost:5432 -timeout 1m
  
        # Setup the environment
        - run: cp .env.test .env
  
        # Setup the database
        - run: bundle exec rails db:test:prepare
  
        # Run the tests
        - run: bundle exec rspec