---
  version: 2
  jobs:
    build:
      working_directory: ~/radio_playlists
      docker:
        - image: cimg/ruby:4.0.1-browsers
          environment:
            POSTGRES_HOST: localhost
            POSTGRES_USER: radio_playlists
            RAILS_ENV: test
        - image: postgres:13
          environment:
            POSTGRES_USER: radio_playlists
            POSTGRES_DB: radio_playlists_test
            POSTGRES_PASSWORD: "Super-C0mpl3X"

      steps:
        - checkout
        - add_ssh_keys:
            fingerprints:
              - "0d:3b:3a:6e:fb:ba:86:a9:9d:fa:41:ab:bc:3b:56:31"

        # Restore Cached Dependencies
        - type: cache-restore
          name: Restore bundle cache
          key: radio_playlists-{{ checksum "Gemfile.lock" }}

        # install bundler
        - run: gem install bundler:2.4.10

        # Bundle install dependencies
        - run: bundle config set path 'vendor/bundle'
        - run: bundle install

        # Cache Dependencies
        - type: cache-save
          name: Store bundle cache
          key: radio_playlists-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle

        # Wait for DB
        - run: dockerize -wait tcp://localhost:5432 -timeout 1m

        # Setup the environment
        - run: cp .env.circle-ci .env

        # update rake
        - run: bundle update rake
        - run: gem install uri -v 0.10.1

        # Setup the database
        - run: bundle exec rails db:test:prepare
        - run: bundle exec rails db:seed

        # Run the tests
        - run: bundle exec rspec
        - run: bundle exec rubocop

        - store_artifacts:
            path: ~/radio_playlists/coverage
        - store_artifacts:
            path: ~/radio_playlists/log
