---
http_interactions:
- request:
    method: get
    uri: https://query.wikidata.org/sparql?format=json&query=SELECT%20?item%20WHERE%20%7B%0A%20%20?item%20wdt:P2207%20%22la1ckp5stc0bbukjlcct0v%22.%0A%7D%0ALIMIT%201%0A
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/sparql-results+json;charset=utf-8
      X-First-Solution-Millis:
      - '2'
      X-Client-Ip:
      - 85.146.30.218
      X-Analytics:
      - ''
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "head" : {
            "vars" : [ "item" ]
          },
          "results" : {
            "bindings" : [ ]
          }
        }
  recorded_at: Thu, 25 Dec 2025 20:07:24 GMT
- request:
    method: get
    uri: https://query.wikidata.org/sparql?format=json&query=SELECT%20?item%20WHERE%20%7B%0A%20%20?item%20wdt:P1243%20%22Y4ZYLXQ5MA09%22.%0A%7D%0ALIMIT%201%0A
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/sparql-results+json;charset=utf-8
      X-First-Solution-Millis:
      - '1'
      X-Client-Ip:
      - 85.146.30.218
      X-Analytics:
      - ''
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "head" : {
            "vars" : [ "item" ]
          },
          "results" : {
            "bindings" : [ ]
          }
        }
  recorded_at: Thu, 25 Dec 2025 20:07:24 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/api/rest_v1/page/summary/NonExistentSongXYZ123456%20(UnknownArtist%20song)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Content-Security-Policy:
      - default-src 'none'; frame-ancestors 'none'
      X-Webkit-Csp:
      - default-src 'none'; frame-ancestors 'none'
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 85.146.30.218
      X-Analytics:
      - ''
    body:
      encoding: UTF-8
      string: '{"status":404,"type":"Internal error"}'
  recorded_at: Thu, 25 Dec 2025 20:07:25 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/api/rest_v1/page/summary/NonExistentSongXYZ123456%20(song)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Content-Security-Policy:
      - default-src 'none'; frame-ancestors 'none'
      X-Webkit-Csp:
      - default-src 'none'; frame-ancestors 'none'
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 85.146.30.218
      X-Analytics:
      - ''
    body:
      encoding: UTF-8
      string: '{"status":404,"type":"Internal error"}'
  recorded_at: Thu, 25 Dec 2025 20:07:25 GMT
recorded_with: VCR 6.4.0
