---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=<LASTFM_API_KEY>&artist=The%20Beatles&format=json&limit=3&method=track.search&track=Hey%20Jude
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"results":{"opensearch:Query":{"#text":"","role":"request","searchTerms":"Hey
        Jude","startPage":"1"},"opensearch:totalResults":"107809","opensearch:startIndex":"0","opensearch:itemsPerPage":"3","trackmatches":{"track":[{"name":"Hey
        Jude","artist":"The Beatles","url":"https://www.last.fm/music/The+Beatles/_/Hey+Jude","streamable":"0","listeners":"1243190","image":[{"#text":"https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"small"},{"#text":"https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"medium"},{"#text":"https://lastfm.freetls.fastly.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"large"},{"#text":"https://lastfm.freetls.fastly.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png","size":"extralarge"}],"mbid":"4c35421c-2e78-47f2-9899-43107d5b7ede"},{"name":"Hey
        Jude - Remastered 2015","artist":"The Beatles","url":"https://www.last.fm/music/The+Beatles/_/Hey+Jude+-+Remastered+2015","streamable":"0","listeners":"640378","image":[{"#text":"https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"small"},{"#text":"https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"medium"},{"#text":"https://lastfm.freetls.fastly.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"large"},{"#text":"https://lastfm.freetls.fastly.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png","size":"extralarge"}],"mbid":"b64042ca-d60f-4b3f-9785-f4f58e3ad67a"},{"name":"Hey
        Jude - 2015 Mix","artist":"The Beatles","url":"https://www.last.fm/music/The+Beatles/_/Hey+Jude+-+2015+Mix","streamable":"0","listeners":"206017","image":[{"#text":"https://lastfm.freetls.fastly.net/i/u/34s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"small"},{"#text":"https://lastfm.freetls.fastly.net/i/u/64s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"medium"},{"#text":"https://lastfm.freetls.fastly.net/i/u/174s/2a96cbd8b46e442fc41c2b86b821562f.png","size":"large"},{"#text":"https://lastfm.freetls.fastly.net/i/u/300x300/2a96cbd8b46e442fc41c2b86b821562f.png","size":"extralarge"}],"mbid":""}]},"@attr":{"for":"Hey
        Jude"}}}'
  recorded_at: Sat, 13 Sep 2025 19:33:18 GMT
recorded_with: VCR 6.3.1
