---
http_interactions:
- request:
    method: get
    uri: https://graph.talparad.io/?query=%7B%0A%20%20getStation(profile:%20%22radio-brand-web%22,%20slug:%20%22sky-radio%22)%20%7B%0A%20%20%20%20title%0A%20%20%20%20playouts(profile:%20%22%22,%20limit:%2010)%20%7B%0A%20%20%20%20%20%20broadcastDate%0A%20%20%20%20%20%20track%20%7B%0A%20%20%20%20%20%20%20%20id%0A%20%20%20%20%20%20%20%20title%0A%20%20%20%20%20%20%20%20artistName%0A%20%20%20%20%20%20%20%20isrc%0A%20%20%20%20%20%20%20%20images%20%7B%0A%20%20%20%20%20%20%20%20%20%20type%0A%20%20%20%20%20%20%20%20%20%20uri%0A%20%20%20%20%20%20%20%20%20%20__typename%0A%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20__typename%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20__typename%0A%20%20%20%20%7D%0A%20%20%20%20__typename%0A%20%20%7D%0A%7D%0A&variables=%7B%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - da2-27bfqtcztfatfp7ef6feqg2wkq
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Amzn-Requestid:
      - e23ff709-3adf-421d-8955-24256fa43bd1
      X-Amzn-Appsync-Tokensconsumed:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"getStation":{"title":"Sky Radio","playouts":[{"broadcastDate":"2022-12-30T13:51:43Z","track":{"id":"e1f3fbbb-fbc3-5363-8ddd-5db734e767a6","title":"Anyone
        For You (Sky Radio edit)","artistName":"George Ezra","isrc":"GBARL2200007","images":[{"type":"image","uri":"https://img.talparad.io/tracks/GBARL2200007.jpg","__typename":"Image"}],"__typename":"Track"},"__typename":"Playout"},{"broadcastDate":"2022-12-30T13:47:50Z","track":{"id":"d0418c8a-c073-5c0a-b222-55e00dab99f1","title":"Despacito","artistName":"Luis
        Fonsi  ft Daddy Yankee","isrc":"USUM71607007","images":[{"type":"image","uri":"https://img.talparad.io/tracks/USUM71607007.jpg","__typename":"Image"}],"__typename":"Track"},"__typename":"Playout"},{"broadcastDate":"2022-12-30T13:44:01Z","track":{"id":"1deec267-0de6-564b-803c-3160526f4a83","title":"The
 [...]
