---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=Merry%20Christmas%20Everybody%20artist:slade&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQAnUeo4aQ8EU-NabeB-vpyX1RcW2fUg3hxKqOVcNd_t-4Bl8P7KWkS7tux2mxecjpCis7jVzJVN5uWbK9Q
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "tracks" : {
            "href" : "https://api.spotify.com/v1/search?query=Merry+Christmas+Everybody+artist%3Aslade&type=track&offset=0&limit=20",
            "items" : [ {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/0LyfQWJT6nXafLPZqxe9Of"
                  },
                  "href" : "https://api.spotify.com/v1/artists/0LyfQWJT6nXafLPZqxe9Of",
                  "id" : "0LyfQWJT6nXafLPZqxe9Of",
                  "name" : "Various Artists",
                  "type" : "artist",
                  "uri" : "spotify:artist:0LyfQWJT6nXafLPZqxe9Of"
                } ],
                "available_markets" : [ "AD", "AE", "AG", "AL", "AM", "AO", "AR", "AT", "AU", "AZ", "BA", "BB", "BD", "BE", "BF", "BG", "BH", "BI", "BJ", "BN", "BO", "BR", "BS", "BT", "BW", "BY", "BZ", "CA", "CD", "CG", "CH", "CI", "CL", "CM", "CO", "CR", "CV", "CW", "CY", "CZ", "DE", "DJ", "DK", "DM", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FJ", "FM", "FR", "GA", "GB", "GD", "GE", "GH", "GM", "GN", "GQ", "GR", "GT", "GW", "GY", "HN", "HR", "HT", "HU", "IE", "IL", "IQ", "IS", "IT", "JM", "JO", "KE", "KG", "KI", "KM", "KN", "KW", "KZ", "LB", "LC", "LI", "LK", "LR", "LS", "LT", "LU", "LV", "LY", "MA", "MC", "MD", "ME", "MG", "MH", "MK", "ML", "MN", "MO", "MR", "MT", "MU", "MV", "MW", "MX", "MZ", "NA", "NE", "NG", "NI", "NL", "NO", "NP", "NR", "NZ", "OM", "PA", "PE", "PG", "PK", "PL", "PS", "PT", "PW", "PY", "QA", "RO", "RS", "RU", "RW", "SA", "SB", "SC", "SE", "SI", "SK", "SL", "SM", "SN", "SR", "ST", "SV", "SZ", "TD", "TG", "TJ", "TL", "TN", "TO", "TR", "TT", "TV", "TW", "TZ", "UA", "UG", "US", "UY", "UZ", "VC", "VE", "VU", "WS", "XK", "ZA", "ZM", "ZW" ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/2Qd2W3WFfq48Eoi6FD7u5R"
                },
                "href" : "https://api.spotify.com/v1/albums/2Qd2W3WFfq48Eoi6FD7u5R",
                "id" : "2Qd2W3WFfq48Eoi6FD7u5R",
                "images" : [ {
                  "height" : 640,
                  "url" : "https://i.scdn.co/image/ab67616d0000b2730f43686b3c8ad7bdc01b075f",
                  "width" : 640
                }, {
                  "height" : 300,
                  "url" : "https://i.scdn.co/image/ab67616d00001e020f43686b3c8ad7bdc01b075f",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/ab67616d000048510f43686b3c8ad7bdc01b075f",
                  "width" : 64
                } ],
                "name" : "Merry Christmas Everyone: 50 Christmas Pop Classics",
                "release_date" : "2020-12-04",
                "release_date_precision" : "day",
                "total_tracks" : 50,
                "type" : "album",
                "uri" : "spotify:album:2Qd2W3WFfq48Eoi6FD7u5R"
              },
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/10n5lhNDoSMUHWLlnST1yw"
                },
                "href" : "https://api.spotify.com/v1/artists/10n5lhNDoSMUHWLlnST1yw",
                "id" : "10n5lhNDoSMUHWLlnST1yw",
                "name" : "Slade",
                "type" : "artist",
     [...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/0LyfQWJT6nXafLPZqxe9Of
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQAnUeo4aQ8EU-NabeB-vpyX1RcW2fUg3hxKqOVcNd_t-4Bl8P7KWkS7tux2mxecjpCis7jVzJVN5uWbK9Q
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "external_urls" : {
            "spotify" : "https://open.spotify.com/artist/0LyfQWJT6nXafLPZqxe9Of"
          },
          "followers" : {
            "href" : null,
            "total" : 1394550
          },
          "genres" : [ ],
          "href" : "https://api.spotify.com/v1/artists/0LyfQWJT6nXafLPZqxe9Of",
          "id" : "0LyfQWJT6nXafLPZqxe9Of",
          "images" : [ {
            "height" : 640,
            "url" : "https://i.scdn.co/image/ab6761610000e5eb7462d94efa2db53abba8c003",
            "width" : 640
          }, {
            "height" : 320,
            "url" : "https://i.scdn.co/image/ab676161000051747462d94efa2db53abba8c003",
            "width" : 320
          }, {
            "height" : 160,
            "url" : "https://i.scdn.co/image/ab6761610000f1787462d94efa2db53abba8c003",
            "width" : 160
          } ],
          "name" : "Various Artists",
          "popularity" : 0,
          "type" : "artist",
          "uri" : "spotify:artist:0LyfQWJT6nXafLPZqxe9Of"
        }
  recorded_at: Sun, 19 Dec 2021 14:25:14 GMT
[...]
