---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=<LASTFM_API_KEY>&artist=The%20Beatles&format=json&method=artist.getTopTags
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"toptags":{"tag":[{"count":100,"name":"classic rock","url":"https://www.last.fm/tag/classic+rock"},{"count":79,"name":"rock","url":"https://www.last.fm/tag/rock"},{"count":44,"name":"british","url":"https://www.last.fm/tag/british"},{"count":43,"name":"60s","url":"https://www.last.fm/tag/60s"},{"count":14,"name":"pop","url":"https://www.last.fm/tag/pop"},{"count":4,"name":"Psychedelic
        Rock","url":"https://www.last.fm/tag/Psychedelic+Rock"},{"count":3,"name":"psychedelic","url":"https://www.last.fm/tag/psychedelic"},{"count":1,"name":"pop
        rock","url":"https://www.last.fm/tag/pop+rock"},{"count":1,"name":"The Beatles","url":"https://www.last.fm/tag/The+Beatles"},{"count":1,"name":"british
        invasion","url":"https://www.last.fm/tag/british+invasion"}],"@attr":{"artist":"The
        Beatles"}}}'
  recorded_at: Sat, 13 Sep 2025 19:33:16 GMT
recorded_with: VCR 6.3.1
