---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=<LASTFM_API_KEY>&artist=The%20Beatles&format=json&limit=5&method=artist.getTopAlbums
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"topalbums":{"album":[{"name":"Abbey Road (Remastered)","playcount":59183175,"url":"https://www.last.fm/music/The+Beatles/Abbey+Road+(Remastered)","artist":{"name":"The
        Beatles","mbid":"b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d","url":"https://www.last.fm/music/The+Beatles"},"image":[{"#text":"https://lastfm.freetls.fastly.net/i/u/34s/a4bbf73ba62024be279364e867b0ca20.png","size":"small"},{"#text":"https://lastfm.freetls.fastly.net/i/u/64s/a4bbf73ba62024be279364e867b0ca20.png","size":"medium"},{"#text":"https://lastfm.freetls.fastly.net/i/u/174s/a4bbf73ba62024be279364e867b0ca20.png","size":"large"},{"#text":"https://lastfm.freetls.fastly.net/i/u/300x300/a4bbf73ba62024be279364e867b0ca20.png","size":"extralarge"}],"@attr":{"rank":"1"}},{"name":"The
        Beatles (Remastered)","playcount":47418297,"mbid":"808c3f20-0260-41ce-ae4d-89e561587bd5","url":"https://www.last.fm/music/The+Beatles/The+Beatles+(Remastered)","artist":{"name":"The
        Beatles","mbid":"b10bbbfc-cf9e-42e0-be17-e2c3e1d2600d","url":"https://www.last.fm/music/The+Beatles"},"image":[{"#text":"https://lastfm.freetls.fastly.net/i/u/34s/78bf9324efbc7583e6cae6f707568e59.png","size":"small"},{"#text":"https://lastfm.freetls.fastly.net/i/u/64s/78bf9324efbc75[...]
