---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic ZmY3MGRmNjUwZWUxNGExZmFkNGFlZDNiNTMzZThlYTQ6OTg5OWY1NzBiYzNlNDc4MWI5MzczZTYwZDZmMzcwOTU=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Sp-Trace-Id:
      - 7da7990103ef1f42
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"BQDumJYpGWMRDrSLPakmhd3W8Iuc4QrphD6dKxhiPXpkXWYugnzC0E5pSIMYRz4IbFV-UpzZrNhLcJ3rdM0","token_type":"Bearer","expires_in":3600}'
  recorded_at: Sun, 19 Dec 2021 15:28:06 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=All%20Together%20Now%20artist:the%20farm&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQDumJYpGWMRDrSLPakmhd3W8Iuc4QrphD6dKxhiPXpkXWYugnzC0E5pSIMYRz4IbFV-UpzZrNhLcJ3rdM0
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "tracks" : {
            "href" : "https://api.spotify.com/v1/search?query=All+Together+Now+artist%3Athe+farm&type=track&offset=0&limit=20",
            "items" : [ {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/3lN1TG4RIoaJCff6Ck9KUR"
                  },
                  "href" : "https://api.spotify.com/v1/artists/3lN1TG4RIoaJCff6Ck9KUR",
                  "id" : "3lN1TG4RIoaJCff6Ck9KUR",
                  "name" : "The Farm",
                  "type" : "artist",
                  "uri" : "spotify:artist:3lN1TG4RIoaJCff6Ck9KUR"
                } ],
                "available_markets" : [ "CA", "US" ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/0nDhAjCRFVSV1zDviuZqID"
                },
                "href" : "https://api.spotify.com/v1/albums/0nDhAjCRFVSV1zDviuZqID",
                "id" : "0nDhAjCRFVSV1zDviuZqID",
                "images" : [ {
                  "height" : 640,
                  "url" : "https://i.scdn.co/image/ab67616d0000b273b422ae99c55ca88ff01bf139",
                  "width" : 640
                }, {
                  "height" : 300,
                  "url" : "https://i.scdn.co/image/ab67616d00001e02b422ae99c55ca88ff01bf139",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/ab67616d00004851b422ae99c55ca88ff01bf139",
                  "width" : 64
                } ],
                "name" : "Spartacus",
                "release_date" : "1991-04-26",
                "release_date_precision" : "day",
                "total_tracks" : 12,
                "type" : "album",
                "uri" : "spotify:album:0nDhAjCRFVSV1zDviuZqID"
              },
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/3lN1TG4RIoaJCff6Ck9KUR"
                },
                "href" : "https://api.spotify.com/v1/artists/3lN1TG4RIoaJCff6Ck9KUR",
                "id" : "3lN1TG4RIoaJCff6Ck9KUR",
                "name" : "The Farm",
                "type" : "artist",
                "uri" : "spotify:artist:3lN1TG4RIoaJCff6Ck9KUR"
              } ],
              "available_markets" : [ "CA", "US" ],
              "disc_number" : 1,
              "duration_ms" : 343866,
              "explicit" : false,
              "external_ids" : {
                "isrc" : "USRE19901615"
              },
              "external_urls" : {
                "spotify" : "https://open.spotify.com/track/4QpRPgaXc5GmAb32VFUm8p"
              },
              "href" : "https://api.spotify.com/v1/tracks/4QpRPgaXc5GmAb32VFUm8p",
              "id" : "4QpRPgaXc5GmAb32VFUm8p",
              "is_local" : false,
              "name" : "All Together Now",
              "popularity" : 33,
              "preview_url" : "https://p.scdn.co/mp3-preview/077dea37ce3a7203f513246c434465ed641ea12b?cid=ff70df650ee14a1fad4aed3b533e8ea4",
              "track_number" : 10,
              "type" : "track",
              "uri" : "spotify:track:4QpRPgaXc5GmAb32VFUm8p"
            }, {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/3lN1TG4RIoaJCff6Ck9KUR"
                  },
                  "href" : "https://api.spotify.com/v1/artists/3lN1TG4RIoaJCff6Ck9KUR",
                  "id" : "3lN1TG4RIoaJCff6Ck9KUR",
[...]
[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/3lN1TG4RIoaJCff6Ck9KUR
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQCqAjhWSRVjPpOAF6rbat6a7rChaYaHsQ2ZxptKtziDg98XYmSkR0RtpsMIqeirlX9XHuJOKbxpxLBboZI
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "external_urls" : {
            "spotify" : "https://open.spotify.com/artist/3lN1TG4RIoaJCff6Ck9KUR"
          },
          "followers" : {
            "href" : null,
            "total" : 50007
          },
          "genres" : [ "dance rock", "madchester" ],
          "href" : "https://api.spotify.com/v1/artists/3lN1TG4RIoaJCff6Ck9KUR",
          "id" : "3lN1TG4RIoaJCff6Ck9KUR",
          "images" : [ {
            "height" : 499,
            "url" : "https://i.scdn.co/image/9945fa94b81f70c123d1cc1a132e2fa1577ee36f",
            "width" : 800
          }, {
            "height" : 399,
            "url" : "https://i.scdn.co/image/48ff1c110eb3d4a4cb3269ea2c11356f2ce4bea8",
            "width" : 640
          }, {
            "height" : 125,
            "url" : "https://i.scdn.co/image/f4502504adb4f8455e8c1745107d58b8c1f6aaeb",
            "width" : 200
          }, {
            "height" : 40,
            "url" : "https://i.scdn.co/image/afa17352f29f8def33909c33e6c45c961d2abd50",
            "width" : 64
          } ],
          "name" : "The Farm",
          "popularity" : 43,
          "type" : "artist",
          "uri" : "spotify:artist:3lN1TG4RIoaJCff6Ck9KUR"
        }
  recorded_at: Sun, 19 Dec 2021 15:28:06 GMT
recorded_with: VCR 6.0.0
