---
http_interactions:
- request:
    method: get
    uri: https://graph.talparad.io/?query=%7B%0A%20%20getStation(profile:%20%22radio-brand-web%22,%20slug:%20%22radio-538%22)%20%7B%0A%20%20%20%20title%0A%20%20%20%20playouts(profile:%20%22%22,%20limit:%2010)%20%7B%0A%20%20%20%20%20%20broadcastDate%0A%20%20%20%20%20%20track%20%7B%0A%20%20%20%20%20%20%20%20id%0A%20%20%20%20%20%20%20%20title%0A%20%20%20%20%20%20%20%20artistName%0A%20%20%20%20%20%20%20%20isrc%0A%20%20%20%20%20%20%20%20images%20%7B%0A%20%20%20%20%20%20%20%20%20%20type%0A%20%20%20%20%20%20%20%20%20%20uri%0A%20%20%20%20%20%20%20%20%20%20__typename%0A%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20__typename%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20__typename%0A%20%20%20%20%7D%0A%20%20%20%20__typename%0A%20%20%7D%0A%7D%0A&variables=%7B%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - da2-27bfqtcztfatfp7ef6feqg2wkq
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Amzn-Requestid:
      - a5c941f8-d50c-4660-94c1-c6c023564d16
      X-Amzn-Appsync-Tokensconsumed:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"getStation":{"title":"Radio 538","playouts":[{"broadcastDate":"2022-11-27T13:17:32Z","track":{"id":"7ba6cb66-1b7a-5905-85e5-0687b66e3feb","title":"B.O.T.A.
        (BADDEST OF THEM ALL)","artistName":"ELIZA ROSE & INTERPLANETARY CRIMINAL","isrc":"QZAKB2166405","images":[{"type":"image","uri":"https://img.talparad.io/tracks/QZAKB2166405.jpg","__typename":"Image"}],"__typename":"Track"},"__typename":"Playout"},{"broadcastDate":"2022-11-27T13:14:32Z","track":{"id":"f5adc4c7-1600-5444-bb0b-3f7a910f3947","title":"FERRARI","artistName":"JAMES
        HYPE","isrc":"GB3CE2200004","images":[{"type":"image","uri":"https://img.talparad.io/tracks/GB3CE2200004.jpg","__typename":"Image"}],"__typename":"Track"},"__typename":"Playout"},{"broadcastDate":"2022-11-27T13:10:00Z","track":{"id":"40e6f53f-85a3-53dc-80e1-8be5c9dc20d9","title":"THROUGH
        THE LOOK[...]
