---
http_interactions:
- request:
    method: get
    uri: https://www.npo3fm.nl/api/tracks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"5261-/r7SHrLKVSv/RVw5eLhJXriNJzo"'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":null,"messages":null,"data":[{"startdatetime":"2022-11-13T15:24:31","enddatetime":"2022-11-13T15:28:43","title":"Dreams","artist":"Fleetwood
        Mac","image_url_200x200":"https://broadcast-images.nporadio.nl/w_200,h_200/16890f1a-7efb-4acd-a0cc-0ef971c4ed00/a01bcb4a-fdc1-4f31-9c39-43d213ade84b.jpg","image_url_400x400":"https://broadcast-images.nporadio.nl/w_400,h_400/16890f1a-7efb-4acd-a0cc-0ef971c4ed00/a01bcb4a-fdc1-4f31-9c39-43d213ade84b.jpg","spotify_url":"https://open.spotify.com/track/0ofHAoxe9vBkTCp2UQIavz"},{"startdatetime":"2022-11-13T15:20:07","enddatetime":"2022-11-13T15:23:38","title":"Higher
        Power","artist":"Coldplay","image_url_200x200":"https://i.scdn.co/image/ab67616d0000b273b1092c02972b0bfd91703f75","image_url_400x400":"https://i.scdn.co/image/ab67616d0000b273b1092c02972b0bfd91703f75","spotify_url":"https://open.spotify.com/track/0939D7aT18uBDS2MTjWzct"},{"startdatetime":"2022-11-13T15:16:34","enddatetime":"2022-11-13T15:20:1[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/tracks/0ofHAoxe9vBkTCp2UQIavz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQC-ICyWv30H44iuGe03AIWYOQ9uq3mEnuM-ofA6_aTOn8vAMb3bAq87-9AinPf0UQaN3ZFaV2pyw9ORVbu3PD3VJN01d_BA-q8STtBScaB3J70KUCg
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "album" : {
            "album_type" : "album",
            "artists" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/08GQAI4eElDnROBrJRGE0X"
              },
              "href" : "https://api.spotify.com/v1/artists/08GQAI4eElDnROBrJRGE0X",
              "id" : "08GQAI4eElDnROBrJRGE0X",
              "name" : "Fleetwood Mac",
              "type" : "artist",
              "uri" : "spotify:artist:08GQAI4eElDnROBrJRGE0X"
            } ],
            "available_markets" : [ "AD", "AE", "AG", "AL", "AM", "AO", "AR", "AT", "AU", "AZ", "BA", "BB", "BD", "BE", "BF", "BG", "BH", "BI", "BJ", "BN", "BO", "BR", "BS", "BW", "BY", "BZ", "CA", "CD", "CG", "CH", "CI", "CL", "CM", "CO", "CR", "CV", "CW", "CY", "CZ", "DE", "DJ", "DK", "DM", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FJ", "FM", "FR", "GA", "GB", "GD", "GE", "GH", "GM", "GN", "GQ", "GR", "GT", "GW", "HK", "HN", "HR", "HT", "HU", "ID", "IE", "IL", "IN", "IQ", "IS", "IT", "JM", "JO", "JP", "KE", "KG", "KH", "KM", "KN", "KR", "KW", "KZ", "LA", "LB", "LC", "LI", "LK", "LR", "LS", "LT", "LU", "LV", "LY", "MA", "MC", "MD", "ME", "MG", "MK", "ML", "MN", "MO", "MR", "MT", "MU", "MW", "MX", "MY", "MZ", "NA", "NE", "NG", "NI", "NL", "NO", "NP", "NZ", "OM", "PA", "PE", "PG", "PH", "PK", "PL", "PS", "PT", "PY", "QA", "RO", "RS", "RW", "SA", "SC", "SE", "SG", "SI", "SK", "SL", "SM", "SN", "ST", "SV", "SZ", "TD", "TG", "TH", "TJ", "TL", "TN", "TR", "TT", "TW", "TZ", "UA", "UG", "US", "UY", "UZ", "VC", "VE", "VN", "XK", "ZA", "ZM", "ZW" ],
            "external_urls" : {
              "spotify" : "https://open.spotify.com/album/0BwWUstDMUbgq2NYONRqlu"
            },
            "href" : "https://api.spotify.com/v1/albums/0BwWUstDMUbgq2NYONRqlu",
            "id" : "0BwWUstDMUbgq2NYONRqlu",
            "images" : [ {
              "height" : 640,
              "url" : "https://i.scdn.co/image/ab67616d0000b273e52a59a28efa4773dd2bfe1b",
              "width" : 640
            }, {
              "height" : 300,
              "url" : "https://i.scdn.co/image/ab67616d00001e02e52a59a28efa4773dd2bfe1b",
              "width" : 300
            }, {
              "height" : 64,
              "url" : "https://i.scdn.co/image/ab67616d00004851e52a59a28efa4773dd2bfe1b",
              "width" : 64
            } ],
            "name" : "Rumours (Super Deluxe)",
            "release_date" : "1977-02-04",
            "release_date_precision" : "day",
            "total_tracks" : 58,
            "type" : "album",
            "uri" : "spotify:album:0BwWUstDMUbgq2NYONRqlu"
          },
          "artists" : [ {
            "external_urls" : {
              "spotify" : "https://open.spotify.com/artist/08GQAI4eElDnROBrJRGE0X"
            },
            "href" : "https://api.spotify.com/v1/artists/08GQAI4eElDnROBrJRGE0X",
            "id" : "08GQAI4eElDnROBrJRGE0X",
            "name" : "Fleetwood Mac",
            "type" : "artist",
            "uri" : "spotify:artist:08GQA[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/08GQAI4eElDnROBrJRGE0X
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQC-ICyWv30H44iuGe03AIWYOQ9uq3mEnuM-ofA6_aTOn8vAMb3bAq87-9AinPf0UQaN3ZFaV2pyw9ORVbu3PD3VJN01d_BA-q8STtBScaB3J70KUCg
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "external_urls" : {
            "spotify" : "https://open.spotify.com/artist/08GQAI4eElDnROBrJRGE0X"
          },
          "followers" : {
            "href" : null,
            "total" : 8919567
          },
          "genres" : [ "album rock", "classic rock", "rock", "soft rock", "yacht rock" ],
          "href" : "https://api.spotify.com/v1/artists/08GQAI4eElDnROBrJRGE0X",
          "id" : "08GQAI4eElDnROBrJRGE0X",
          "images" : [ {
            "height" : 640,
            "url" : "https://i.scdn.co/image/ab6761610000e5eb249d55f2d68a44637905c57e",
            "width" : 640
          }, {
            "height" : 320,
            "url" : "https://i.scdn.co/image/ab67616100005174249d55f2d68a44637905c57e",
            "width" : 320
          }, {
            "height" : 160,
            "url" : "https://i.scdn.co/image/ab6761610000f178249d55f2d68a44637905c57e",
            "width" : 160
          } ],
          "name" : "Fleetwood Mac",
          "popularity" : 78,
          "type" : "artist",
          "uri" : "spotify:artist:08GQAI4eElDnROBrJRGE0X"
        }
  recorded_at: Sun, 13 Nov 2022 14:29:16 GMT
recorded_with: VCR 6.1.0
