---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=Come%20Back%20And%20Stay%20artist:paul%20young&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQBM-GA4gsN7igR3sZP9aVuRXNf5Og_rSd734Lb9j3tjCnX1fD_yOB2cPRxKKEyX37GpOALgxM7dvZfJRNM
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "tracks" : {
            "href" : "https://api.spotify.com/v1/search?query=Come+Back+And+Stay+artist%3Apaul+young&type=track&offset=0&limit=20",
            "items" : [ {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/6rqU9HQ57NYGBnBzbrY3a4"
                  },
                  "href" : "https://api.spotify.com/v1/artists/6rqU9HQ57NYGBnBzbrY3a4",
                  "id" : "6rqU9HQ57NYGBnBzbrY3a4",
                  "name" : "Paul Young",
                  "type" : "artist",
                  "uri" : "spotify:artist:6rqU9HQ57NYGBnBzbrY3a4"
                } ],
                "available_markets" : [ "AD", "AE", "AG", "AL", "AM", "AO", "AR", "AT", "AU", "AZ", "BA", "BB", "BD", "BE", "BF", "BG", "BH", "BI", "BJ", "BN", "BO", "BR", "BS", "BT", "BW", "BY", "BZ", "CA", "CD", "CG", "CH", "CI", "CL", "CM", "CO", "CR", "CV", "CW", "CY", "CZ", "DE", "DJ", "DK", "DM", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FJ", "FM", "FR", "GA", "GB", "GD", "GE", "GH", "GM", "GN", "GQ", "GR", "GT", "GW", "GY", "HK", "HN", "HR", "HT", "HU", "ID", "IE", "IL", "IN", "IQ", "IS", "IT", "JM", "JO", "JP", "KE", "KG", "KH", "KI", "KM", "KN", "KR", "KW", "KZ", "LA", "LB", "LC", "LI", "LK", "LR", "LS", "LT", "LU", "LV", "LY", "MA", "MC", "MD", "ME", "MG", "MH", "MK", "ML", "MN", "MO", "MR", "MT", "MU", "MV", "MW", "MX", "MY", "MZ", "NA", "NE", "NG", "NI", "NL", "NO", "NP", "NR", "NZ", "OM", "PA", "PE", "PG", "PH", "PK", "PL", "PS", "PT", "PW", "PY", "QA", "RO", "RS", "RU", "RW", "SA", "SB", "SC", "SE", "SG", "SI", "SK", "SL", "SM", "SN", "SR", "ST", "SV", "SZ", "TD", "TG", "TH", "TJ", "TL", "TN", "TO", "TR", "TT", "TV", "TW", "TZ", "UA", "UG", "US", "UY", "UZ", "VC", "VE", "VN", "VU", "WS", "XK", "ZA", "ZM", "ZW" ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/0uoqdDFfwAteblEbZt7PO2"
                },
                "href" : "https://api.spotify.com/v1/albums/0uoqdDFfwAteblEbZt7PO2",
                "id" : "0uoqdDFfwAteblEbZt7PO2",
                "images" : [ {
                  "height" : 640,
                  "url" : "https://i.scdn.co/image/ab67616d0000b273c79d8dc24ad4cecc246eedd3",
                  "width" : 640
                }, {
                  "height" : 300,
                  "url" : "https://i.scdn.co/image/ab67616d00001e02c79d8dc24ad4cecc246eedd3",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/ab67616d00004851c79d8dc24ad4cecc246eedd3",
                  "width" : 64
                } ],
                "name" : "No Parlez",
                "release_date" : "1983",
                "release_date_precision" : "year",
                "total_tracks" : 21,
                "type" : "album",
                "uri" : "spotify:album:0uoqdDFfwAteblEbZt7PO2"
              },
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/6rqU9HQ57NYGBnBzbrY3a4"
                },
                "href" : "https://api.spotify.com/v1/artists/6rqU9HQ57NYGBnBzbrY3a4",
                "id" : "6rqU9HQ57NYGBnBzbrY3a4",
                "name" : "Paul Young",
                "type" : "artist",
[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/6rqU9HQ57NYGBnBzbrY3a4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQBM-GA4gsN7igR3sZP9aVuRXNf5Og_rSd734Lb9j3tjCnX1fD_yOB2cPRxKKEyX37GpOALgxM7dvZfJRNM
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "external_urls" : {
            "spotify" : "https://open.spotify.com/artist/6rqU9HQ57NYGBnBzbrY3a4"
          },
          "followers" : {
            "href" : null,
            "total" : 704881
          },
          "genres" : [ "album rock", "art rock", "classic rock", "disco", "europop", "mellow gold", "new romantic", "new wave", "new wave pop", "soft rock", "synthpop" ],
          "href" : "https://api.spotify.com/v1/artists/6rqU9HQ57NYGBnBzbrY3a4",
          "id" : "6rqU9HQ57NYGBnBzbrY3a4",
          "images" : [ {
            "height" : 640,
            "url" : "https://i.scdn.co/image/ab6761610000e5eb8b1b108617e384c85ad5c3ec",
            "width" : 640
          }, {
            "height" : 320,
            "url" : "https://i.scdn.co/image/ab676161000051748b1b108617e384c85ad5c3ec",
            "width" : 320
          }, {
            "height" : 160,
            "url" : "https://i.scdn.co/image/ab6761610000f1788b1b108617e384c85ad5c3ec",
            "width" : 160
          } ],
          "name" : "Paul Young",
          "popularity" : 63,
          "type" : "artist",
          "uri" : "spotify:artist:6rqU9HQ57NYGBnBzbrY3a4"
        }
  recorded_at: Fri, 24 Dec 2021 08:46:53 GMT
recorded_with: VCR 6.0.0
