<!-- Radio stations -->
<div class="active-tab-content-wrapper" data-controller="pagination" data-action="scroll->pagination#scroll" data-pagination-url-value="<%= playlists_url %>" data-pagination-page-value="<%= 2 %>">
  <%= turbo_frame_tag 'tab-playlists', class: 'tab-content hidden my-5' do %>
  <% end %>
</div>
