<!--  Songs -->
<div class="tab-content my-5" id='tab-songs'>
  <% if params[:view].blank? || params[:view] == 'tiles' %>
    <%= render 'songs/song_tiles' %>
  <% elsif params[:view] == 'rows' %>
    <%= render 'songs/song_bars' %>
  <% end %>
</div>
