<!--  Artists -->
<div data-controller="pagination" data-action="scroll->pagination#scroll" data-pagination-url-value="<%= artists_url %>" data-pagination-page-value="<%= 2 %>">
  <%= turbo_frame_tag 'tab-artists',  class: 'tab-content hidden my-5' do %>
  <% end %>
</div>
