<div class="container">
  <h1>Playlists</h1>
  <div class="w-full">
    <%= render 'tabs' %>
    <%= render 'tab_songs' %>
    <%= render 'tab_artists' %>
    <%= render 'tab_radio_stations' %>
  </div>
</div>



