<% if params[:view].blank? || params[:view] == 'tiles' %>
  <div class="grid gap-4 sm:grid-cols-1 md:grid-cols-3 l:grid-cols-3 2xl:grid-cols-4">
    <%- @songs.each_with_index do |song, idx| %>
      <%= render partial: song, locals: { idx: } %>
    <% end %>
  </div>
<% elsif params[:view] == 'rows' %>
  <ul class="bg-white rounded">
    <%- @songs.each_with_index do |song, idx| %>
      <%= render partial: song, locals: { idx: } %>
    <% end %>
  </ul>
<% end %>
