---
http_interactions:
- request:
    method: get
    uri: https://query.wikidata.org/sparql?format=json&query=SELECT%20?item%20WHERE%20%7B%0A%20%20?item%20wdt:P2207%20%22uviykllda9v1b2o0mzhnyu%22.%0A%7D%0ALIMIT%201%0A
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/sparql-results+json;charset=utf-8
      X-First-Solution-Millis:
      - '1'
      X-Client-Ip:
      - 85.146.30.218
      X-Analytics:
      - ''
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "head" : {
            "vars" : [ "item" ]
          },
          "results" : {
            "bindings" : [ ]
          }
        }
  recorded_at: Sun, 28 Dec 2025 09:06:26 GMT
- request:
    method: get
    uri: https://query.wikidata.org/sparql?format=json&query=SELECT%20?item%20WHERE%20%7B%0A%20%20?item%20wdt:P1243%20%228DI3N3INUZNB%22.%0A%7D%0ALIMIT%201%0A
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/sparql-results+json;charset=utf-8
      X-First-Solution-Millis:
      - '1'
      X-Client-Ip:
      - 85.146.30.218
      X-Analytics:
      - ''
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "head" : {
            "vars" : [ "item" ]
          },
          "results" : {
            "bindings" : [ ]
          }
        }
  recorded_at: Sun, 28 Dec 2025 09:06:26 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/api/rest_v1/page/summary/Sapphire%20(Ed%20Sheeran%20song)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Content-Security-Policy:
      - default-src 'none'; frame-ancestors 'none'
      X-Webkit-Csp:
      - default-src 'none'; frame-ancestors 'none'
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8; profile="https://www.mediawiki.org/wiki/Specs/Summary/1.5.0"
      Etag:
      - W/"1328150982/c0dcaf00-de55-11f0-ab08-d6c79e5a67c5"
      X-Client-Ip:
      - 85.146.30.218
      X-Analytics:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '{"type":"standard","title":"Sapphire (song)","displaytitle":"<span
        class=\"mw-page-title-main\">Sapphire (song)</span>","namespace":{"id":0,"text":""},"wikibase_item":"Q134731422","titles":{"canonical":"Sapphire_(song)","normalized":"Sapphire
        (song)","display":"<span class=\"mw-page-title-main\">Sapphire (song)</span>"},"pageid":79873313,"thumbnail":{"source":"https://upload.wikimedia.org/wikipedia/en/4/40/Ed_Sheeran_-_Sapphire.png","width":300,"height":300},"originalimage":{"source":"https://upload.wikimedia.org/wikipedia/en/4/40/Ed_Sheeran_-_Sapphire.png","width":300,"height":300},"lang":"en","dir":"ltr","revision":"1328150982","tid":"1cb436ec-dbc8-11f0-ad95-d1cbe749da63","timestamp":"2025-12-18T04:14:57Z","description":"2025
        single by Ed Sheeran","description_source":"local","content_urls":{"desktop":{"page":"https://en.wikipedia.org/wiki/Sapphire_(song)","revisions":"https://en.wikipedia.org/wiki/Sapphire_(song)?action=history","edit":"https://en.wikipedia.org/wiki/Sapphire_(song)?action=edit","talk":"https://en.wikipedia.org/wiki/Talk:Sapphire_(song)"},"mobile":{"page":"https://en.wikipedia.org/wiki/Sapphire_(song)","revisions":"https://en.wikipedia.org/wiki/Special:History/Sapphire_(song)","edit":"https://en.wikipedia.org/wiki/Sapphire_(song)?action=edit","talk":"https://en.wikipedia.org/wiki/Talk:Sapphire_(song)"}},"extract":"\"Sapphire\"
        is a song by English singer-songwriter Ed Sheeran. It was released on 5 June
        2025 as the third single from Sheeran''s eighth studio album, Play, through
        Gingerbread Man Records and Atlantic Records. The track marks Sheeran''s first
        collaboration with an Indian artist, Arijit Singh, who provides uncredited
        vocals on the bridge, and is noted for its blend of Western pop and Punjabi
        musical influences. \"Sapphire\" peaked at number five on the UK Singles Chart,
        becoming Sheeran''s 43rd top 10 hit in his home country. It also reached top
        10 in Switzerland, Belgium (Flanders) and the Netherlands. In India, \"Sapphire\"
        topped the IMI International Top 20 Singles chart for 18 weeks. A remix of
        the song featuring additional verses by Singh was released on 25 July 2025.","extract_html":"<p>\"<b>Sapphire</b>\"
        is a song by English singer-songwriter Ed Sheeran. It was released on 5 June
        2025 as the third single from Sheeran''s eighth studio album, <i>Play</i>,
        through Gingerbread Man Records and Atlantic Records. The track marks Sheeran''s
        first collaboration with an Indian artist, Arijit Singh, who provides uncredited
        vocals on the bridge, and is noted for its blend of Western pop and Punjabi
        musical influences. \"Sapphire\" peaked at number five on the UK Singles Chart,
        becoming Sheeran''s 43rd top 10 hit in his home country. It also reached top
        10 in Switzerland, Belgium (Flanders) and the Netherlands. In India, \"Sapphire\"
        topped the IMI International Top 20 Singles chart for 18 weeks. A remix of
        the song featuring additional verses by Singh was released on 25 July 2025.</p>"}'
  recorded_at: Sun, 28 Dec 2025 09:06:26 GMT
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q134731422&languages=en&props=claims%7Clabels
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 85.146.30.218
      X-Analytics:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '{"entities":{"Q134731422":{"type":"item","id":"Q134731422","labels":{"en":{"language":"en","value":"Sapphire"}},"claims":{"P31":[{"mainsnak":{"snaktype":"value","property":"P31","hash":"33d81754a79b2dab75d17c156313b0f8f0f4f086","datavalue":{"value":{"entity-type":"item","numeric-id":134556,"id":"Q134556"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q134731422$fc03b6c0-4c72-9dec-3b92-4a072a4c123f","rank":"normal"}],"P175":[{"mainsnak":{"snaktype":"value","property":"P175","hash":"4a532da224733d8291c287559adf131b3ae78730","datavalue":{"value":{"entity-type":"item","numeric-id":47447,"id":"Q47447"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q134731422$2f2924aa-4d6a-f448-d66f-f2f7aa376460","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P175","hash":"8546d5232d2a42d0a01244c5e65a5c85c7af3eb5","datavalue":{"value":{"entity-type":"item","numeric-id":4790608,"id":"Q4790608"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q134731422$31574c0a-49eb-c439-08c8-03b2e3a33106","rank":"normal"}],"P1476":[{"mainsnak":{"snaktype":"value","property":"P1476","hash":"db81b2ee07362c4dab7d2f3429327baa93edc554","datavalue":{"value":{"text":"Sapphire","language":"en"},"type":"monolingualtext"},"datatype":"monolingualtext"},"type":"statement","id":"Q134731422$97d65e9e-420d-d74e-3394-35035ab9b606","rank":"normal"}],"P577":[{"mainsnak":{"snaktype":"value","property":"P577","hash":"cac931812eaf124a891e8b186d2311afb8876213","datavalue":{"value":{"time":"+2025-06-05T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"},"type":"statement","id":"Q134731422$41f93300-49a9-907a-b1cb-48d6724a31cf","rank":"normal","references":[{"hash":"655c1120320fba84b3a159ef4ae06dd91f99dfda","snaks":{"P143":[{"snaktype":"value","property":"P143","hash":"6a164248fc96bfa583bbb495cb63ae6401ec203c","datavalue":{"value":{"entity-type":"item","numeric-id":206855,"id":"Q206855"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P4656":[{"snaktype":"value","property":"P4656","hash":"b1df783ae9c722a9084d7b4af7466f5ca4343ed7","datavalue":{"value":"https://ru.wikipedia.org/?oldid=145620637","type":"string"},"datatype":"url"}]},"snaks-order":["P143","P4656"]}]}],"P437":[{"mainsnak":{"snaktype":"value","property":"P437","hash":"3237b53c4d3ec4ece3e5d87f4d44bf89b53fc119","datavalue":{"value":{"entity-type":"item","numeric-id":6473564,"id":"Q6473564"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q134731422$a125e4de-4128-aabf-00cf-080385dd5cdb","rank":"normal","references":[{"hash":"655c1120320fba84b3a159ef4ae06dd91f99dfda","snaks":{"P143":[{"snaktype":"value","property":"P143","hash":"6a164248fc96bfa583bbb495cb63ae6401ec203c","d[...]
