---
http_interactions:
- request:
    method: get
    uri: https://www.nporadio1.nl/api/tracks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":null,"messages":null,"data":[{"startdatetime":"2022-01-16T07:59:04","enddatetime":"2022-01-16T08:03:20","title":"Looking
        for Moses","artist":"Mamas Gun","image_url_200x200":"https://i.scdn.co/image/ab67616d0000b273b2da3e5f6524b07b24656989","image_url_400x400":"https://i.scdn.co/image/ab67616d0000b273b2da3e5f6524b07b24656989"},{"startdatetime":"2022-01-16T06:34:50","enddatetime":"2022-01-16T06:38:18","title":"It''s
        the first time","artist":"Lois Lane","image_url_200x200":"https://i.scdn.co/image/ab67616d0000b2737fe2b14dbd0ab2600620c2a9","image_url_400x400":"https://i.scdn.co/image/ab67616d0000b2737fe2b14dbd0ab2600620c2a9","spotify_url":"https://open.spotify.com/track/6BX7SFkTv8b3DdvStVeIUI"},{"startdatetime":"2022-01-16T06:13:55","enddatetime":"2022-01-16T06:17:03","title":"L''Enfer","artist":"Stromae","image_url_200x200":"https://i.scdn.co/image/ab67616d0000b2739b90e4ccf55c0a23a13f4eae","image_url_400x400":"https://i.scdn.co/image/ab67616d0000b2739b90e4ccf55c0a23a13f4eae","spotify_url":"https://open.spotify.com/track/7bp3zmEvpHLa0h32nhDUkB"},{"startdatetime":"2022-01-16T05:52:09","enddatetime":"2022-01-16T05:55:34","title":"W[...]
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic ZmY3MGRmNjUwZWUxNGExZmFkNGFlZDNiNTMzZThlYTQ6OTg5OWY1NzBiYzNlNDc4MWI5MzczZTYwZDZmMzcwOTU=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Sp-Trace-Id:
      - b1e81dfc7fb53159
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"BQANqWIxRbRMHfXn77pfkBwaFYFYiHAbQKMPrEshBlSxrT3W6dIjGLbwKGHxTZU-fhzZu0a_oHYGHDnXQEA","token_type":"Bearer","expires_in":3600}'
  recorded_at: Sun, 16 Jan 2022 11:29:13 GMT
[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=Looking%20For%20Moses%20artist:mamas%20gun&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQDdsoy21suGwf9seey3SDhXYtGWv5vs2-EaXB83fUA1rBrUjStX7a-jyn8J4GQp7PadOWdPLhb3xYYjjYw
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "tracks" : {
            "href" : "https://api.spotify.com/v1/search?query=Looking+For+Moses+artist%3Amamas+gun&type=track&offset=0&limit=20",
            "items" : [ {
              "album" : {
                "album_type" : "single",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/09bP40OuEV5tOM1rQnZNxI"
                  },
                  "href" : "https://api.spotify.com/v1/artists/09bP40OuEV5tOM1rQnZNxI",
                  "id" : "09bP40OuEV5tOM1rQnZNxI",
                  "name" : "Mamas Gun",
                  "type" : "artist",
                  "uri" : "spotify:artist:09bP40OuEV5tOM1rQnZNxI"
                } ],
                "available_markets" : [ "CA", "US" ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/4BhmGP2OAS9LKwJzNqr9YG"
                },
                "href" : "https://api.spotify.com/v1/albums/4BhmGP2OAS9LKwJzNqr9YG",
                "id" : "4BhmGP2OAS9LKwJzNqr9YG",
                "images" : [ {
                  "height" : 640,
                  "url" : "https://i.scdn.co/image/ab67616d0000b273da37ce5de2c52f1c050d2e80",
                  "width" : 640
                }, {
                  "height" : 300,
                  "url" : "https://i.scdn.co/image/ab67616d00001e02da37ce5de2c52f1c050d2e80",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/ab67616d00004851da37ce5de2c52f1c050d2e80",
                  "width" : 64
                } ],
                "name" : "Party For One / Looking For Moses",
                "release_date" : "2022-01-14",
                "release_date_precision" : "day",
                "total_tracks" : 2,
                "type" : "album",
                "uri" : "spotify:album:4BhmGP2OAS9LKwJzNqr9YG"
              },
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/09bP40OuEV5tOM1rQnZNxI"
                },
                "href" : "https://api.spotify.com/v1/artists/09bP40OuEV5tOM1rQnZNxI",
                "id" : "09bP40OuEV5tOM1rQnZNxI",
                "name" : "Mamas Gun",
                "type" : "artist",
                "uri" : "spotify:artist:09bP40OuEV5tOM1rQnZNxI"
              } ],
              "available_markets" : [ "CA", "US" ],
              "disc_number" : 1,
              "duration_ms" : 313893,
              "explicit" : false,
              "external_ids" : {
                "isrc" : "GB3ZD2000051"
              },
              "external_urls" : {
                "spotify" : "https://open.spotify.com/track/0D7LS7utqNm9JCSxFmA354"
              },
              "href" : "https://api.spotify.com/v1/tracks/0D7LS7utqNm9JCSxFmA354",
              "id" : "0D7LS7utqNm9JCSxFmA354",
              "is_local" : false,
              "name" : "Looking For Moses",
              "popularity" : 14,
              "preview_url" : "https://p.scdn.co/mp3-preview/795cc5dc49a4a3b0d509ff40fb028be9d46ec7f0?cid=ff70df650ee14a1fad4aed3b533e8ea4",
              "track_number" : 2,
              "type" : "track",
              "uri" : "spotify:track:0D7LS7utqNm9JCSxFmA354"
            }, {
              "album" : {
                "album_type" : "single",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/09bP40OuEV5tOM1rQnZNxI"
                  },
                  "href" : "https://api.spotify.com/v1/artists/09bP40OuEV5tOM1rQnZNxI",
                  "id" : "09bP40OuEV5tOM1rQnZNxI",
[...]
[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/09bP40OuEV5tOM1rQnZNxI
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQDglcUQBUkUKMK2xcPnmmuJRMc1MfZ3u6EQweHyNFUQ0tWSILmGp7AYal6MW9FlOXkrrwhchcB5GEoLgWk
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "external_urls" : {
            "spotify" : "https://open.spotify.com/artist/09bP40OuEV5tOM1rQnZNxI"
          },
          "followers" : {
            "href" : null,
            "total" : 20293
          },
          "genres" : [ "retro soul" ],
          "href" : "https://api.spotify.com/v1/artists/09bP40OuEV5tOM1rQnZNxI",
          "id" : "09bP40OuEV5tOM1rQnZNxI",
          "images" : [ {
            "height" : 640,
            "url" : "https://i.scdn.co/image/ab6761610000e5eb270a19c9c03f3ae9b2eb0466",
            "width" : 640
          }, {
            "height" : 320,
            "url" : "https://i.scdn.co/image/ab67616100005174270a19c9c03f3ae9b2eb0466",
            "width" : 320
          }, {
            "height" : 160,
            "url" : "https://i.scdn.co/image/ab6761610000f178270a19c9c03f3ae9b2eb0466",
            "width" : 160
          } ],
          "name" : "Mamas Gun",
          "popularity" : 47,
          "type" : "artist",
          "uri" : "spotify:artist:09bP40OuEV5tOM1rQnZNxI"
        }
  recorded_at: Sun, 16 Jan 2022 11:29:13 GMT
recorded_with: VCR 6.0.0
