---
  :queues:
    - critical
    - default
    - low
  :concurrency: 20
  :max_retries: 3
  :scheduler:
    :schedule:
      ImportSongsAllRadioStationsJob:
        cron: '* * * * *' # every minute
        queue: default
        enabled: true
      SendStatusEmail:
        cron: '0 2 * * *' # at 2am
        queue: default
        enabled: false
      ChartCreationJob:
        cron: '10 0 * * *' # at 0:10 am
        queue: low
        enabled: true
      RadioStationTracksScraperJob:
        cron: '*/3 * * * *' # every 3 minutes
        queue: default
        enabled: true
      YoutubeApiImportJob:
        cron: '*/15 * * * *' # every 15 minutes
        queue: default
        enabled: true
      CleanupDraftAirPlaysJob:
        cron: '0 * * * *' # every hour
        queue: low
        enabled: true
      SongImportLogCleanupJob:
        cron: '0 2 * * *' # at 2am daily
        queue: low
        enabled: true
  :sidekiq_default_hooks: true
  :sidekiq_pid: File.join(shared_path, 'tmp', 'pids', 'sidekiq.pid')
  :sidekiq_env: fetch(:rack_env, fetch(:rails_env, fetch(:stage)))
  :sidekiq_log: File.join(shared_path, 'log', 'sidekiq.log')
  :sidekiq_options: nil
  :sidekiq_require: nil
  :sidekiq_tag: nil
  :sidekiq_config: nil
  :sidekiq_queue: nil
  :sidekiq_timeout: 10
  :sidekiq_role: :app
  :sidekiq_processes: 1
  :sidekiq_concurrency: nil
