---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=Santa%20Claus%20Is%20Coming%20To%20Town%20artist:mariah%20carey&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQBM-GA4gsN7igR3sZP9aVuRXNf5Og_rSd734Lb9j3tjCnX1fD_yOB2cPRxKKEyX37GpOALgxM7dvZfJRNM
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "tracks" : {
            "href" : "https://api.spotify.com/v1/search?query=Santa+Claus+Is+Coming+To+Town+artist%3Amariah+carey&type=track&offset=0&limit=20",
            "items" : [ {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/4iHNK0tOyZPYnBU7nGAgpQ"
                  },
                  "href" : "https://api.spotify.com/v1/artists/4iHNK0tOyZPYnBU7nGAgpQ",
                  "id" : "4iHNK0tOyZPYnBU7nGAgpQ",
                  "name" : "Mariah Carey",
                  "type" : "artist",
                  "uri" : "spotify:artist:4iHNK0tOyZPYnBU7nGAgpQ"
                } ],
                "available_markets" : [ "AD", "AE", "AG", "AL", "AM", "AO", "AR", "AT", "AU", "AZ", "BA", "BB", "BD", "BE", "BF", "BG", "BH", "BI", "BJ", "BN", "BO", "BR", "BS", "BT", "BW", "BY", "BZ", "CA", "CD", "CG", "CH", "CI", "CL", "CM", "CO", "CR", "CV", "CY", "CZ", "DE", "DJ", "DK", "DM", "DO", "EC", "EE", "EG", "ES", "FI", "FJ", "FM", "FR", "GA", "GB", "GD", "GH", "GM", "GN", "GQ", "GR", "GT", "GW", "GY", "HK", "HN", "HR", "HT", "HU", "ID", "IE", "IL", "IN", "IS", "IT", "JM", "JO", "KE", "KG", "KH", "KI", "KM", "KN", "KR", "KW", "KZ", "LA", "LB", "LC", "LI", "LK", "LR", "LS", "LT", "LU", "LV", "MC", "MD", "ME", "MG", "MH", "MK", "ML", "MN", "MO", "MR", "MT", "MU", "MV", "MW", "MX", "MY", "MZ", "NA", "NE", "NG", "NI", "NL", "NO", "NP", "NR", "NZ", "OM", "PA", "PE", "PG", "PH", "PK", "PL", "PS", "PT", "PW", "PY", "QA", "RO", "RS", "RU", "RW", "SA", "SB", "SC", "SE", "SG", "SI", "SK", "SL", "SN", "SR", "ST", "SV", "SZ", "TD", "TG", "TH", "TJ", "TL", "TN", "TO", "TR", "TT", "TV", "TW", "TZ", "UA", "UG", "US", "UY", "UZ", "VC", "VE", "VN", "WS", "XK", "ZA", "ZM", "ZW" ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/6fC6BRXbuHSVobwWcwe6M7"
                },
                "href" : "https://api.spotify.com/v1/albums/6fC6BRXbuHSVobwWcwe6M7",
                "id" : "6fC6BRXbuHSVobwWcwe6M7",
                "images" : [ {
                  "height" : 640,
                  "url" : "https://i.scdn.co/image/ab67616d0000b2736b0ffb933792a8096637623f",
                  "width" : 640
                }, {
                  "height" : 300,
                  "url" : "https://i.scdn.co/image/ab67616d00001e026b0ffb933792a8096637623f",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/ab67616d000048516b0ffb933792a8096637623f",
                  "width" : 64
                } ],
                "name" : "Merry Christmas II You",
                "release_date" : "2010-01-01",
                "release_date_precision" : "day",
                "total_tracks" : 13,
                "type" : "album",
                "uri" : "spotify:album:6fC6BRXbuHSVobwWcwe6M7"
              },
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/4iHNK0tOyZPYnBU7nGAgpQ"
                },
                "href" : "https://api.spotify.com/v1/artists/4iHNK0tOyZPYnBU7nGAgpQ",
                "id" : "4iHNK0tOyZPYnBU7nGAgpQ",
                "name" : "Mariah Carey",
                "type" : "artist"[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/4iHNK0tOyZPYnBU7nGAgpQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQBM-GA4gsN7igR3sZP9aVuRXNf5Og_rSd734Lb9j3tjCnX1fD_yOB2cPRxKKEyX37GpOALgxM7dvZfJRNM
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "external_urls" : {
            "spotify" : "https://open.spotify.com/artist/4iHNK0tOyZPYnBU7nGAgpQ"
          },
          "followers" : {
            "href" : null,
            "total" : 7301618
          },
          "genres" : [ "dance pop", "pop", "urban contemporary" ],
          "href" : "https://api.spotify.com/v1/artists/4iHNK0tOyZPYnBU7nGAgpQ",
          "id" : "4iHNK0tOyZPYnBU7nGAgpQ",
          "images" : [ {
            "height" : 640,
            "url" : "https://i.scdn.co/image/ab6761610000e5eb61355b9684caa60615698e66",
            "width" : 640
          }, {
            "height" : 320,
            "url" : "https://i.scdn.co/image/ab6761610000517461355b9684caa60615698e66",
            "width" : 320
          }, {
            "height" : 160,
            "url" : "https://i.scdn.co/image/ab6761610000f17861355b9684caa60615698e66",
            "width" : 160
          } ],
          "name" : "Mariah Carey",
          "popularity" : 89,
          "type" : "artist",
          "uri" : "spotify:artist:4iHNK0tOyZPYnBU7nGAgpQ"
        }
  recorded_at: Fri, 24 Dec 2021 08:46:52 GMT
recorded_with: VCR 6.0.0
