---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic ZmY3MGRmNjUwZWUxNGExZmFkNGFlZDNiNTMzZThlYTQ6OTg5OWY1NzBiYzNlNDc4MWI5MzczZTYwZDZmMzcwOTU=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Sp-Trace-Id:
      - 8b15dfffd3bc649d
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"BQArBKnKnDF_tL0DAUWwoI9qhmwJg_TvJLzEpY07b59WhYOoZVkn3dJ8SCClxOBnm5EuRHRjvTk8dBIcWac","token_type":"Bearer","expires_in":3600}'
  recorded_at: Sun, 19 Dec 2021 15:28:12 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=When%20The%20Going%20Gets%20Tough%20artist:billy%20ocean&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQArBKnKnDF_tL0DAUWwoI9qhmwJg_TvJLzEpY07b59WhYOoZVkn3dJ8SCClxOBnm5EuRHRjvTk8dBIcWac
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "tracks" : {
            "href" : "https://api.spotify.com/v1/search?query=When+The+Going+Gets+Tough+artist%3Abilly+ocean&type=track&offset=0&limit=20",
            "items" : [ {
              "album" : {
                "album_type" : "compilation",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/5IDs1CK15HegSAhGEbSYXo"
                  },
                  "href" : "https://api.spotify.com/v1/artists/5IDs1CK15HegSAhGEbSYXo",
                  "id" : "5IDs1CK15HegSAhGEbSYXo",
                  "name" : "Billy Ocean",
                  "type" : "artist",
                  "uri" : "spotify:artist:5IDs1CK15HegSAhGEbSYXo"
                } ],
                "available_markets" : [ "AD", "AE", "AG", "AL", "AM", "AO", "AR", "AT", "AU", "AZ", "BA", "BB", "BD", "BE", "BF", "BG", "BH", "BI", "BJ", "BN", "BO", "BR", "BS", "BT", "BW", "BY", "BZ", "CA", "CD", "CG", "CH", "CI", "CL", "CM", "CO", "CR", "CV", "CW", "CY", "CZ", "DE", "DJ", "DK", "DM", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FJ", "FM", "FR", "GA", "GB", "GD", "GE", "GH", "GM", "GN", "GQ", "GR", "GT", "GW", "GY", "HK", "HN", "HR", "HT", "HU", "ID", "IE", "IL", "IN", "IQ", "IS", "IT", "JM", "JO", "JP", "KE", "KG", "KH", "KI", "KM", "KN", "KR", "KW", "KZ", "LA", "LB", "LC", "LI", "LK", "LR", "LS", "LT", "LU", "LV", "LY", "MA", "MC", "MD", "ME", "MG", "MH", "MK", "ML", "MN", "MO", "MR", "MT", "MU", "MV", "MW", "MX", "MY", "MZ", "NA", "NE", "NG", "NI", "NL", "NO", "NP", "NR", "NZ", "OM", "PA", "PE", "PG", "PH", "PK", "PL", "PS", "PT", "PW", "PY", "QA", "RO", "RS", "RU", "RW", "SA", "SB", "SC", "SE", "SG", "SI", "SK", "SL", "SM", "SN", "SR", "ST", "SV", "SZ", "TD", "TG", "TH", "TJ", "TL", "TN", "TO", "TR", "TT", "TV", "TW", "TZ", "UA", "UG", "US", "UY", "UZ", "VC", "VE", "VN", "VU", "WS", "XK", "ZA", "ZM", "ZW" ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/7n4OT3zEZaEiyKKd6mFAhi"
                },
                "href" : "https://api.spotify.com/v1/albums/7n4OT3zEZaEiyKKd6mFAhi",
                "id" : "7n4OT3zEZaEiyKKd6mFAhi",
                "images" : [ {
                  "height" : 640,
                  "url" : "https://i.scdn.co/image/ab67616d0000b27399ee23dac7128cb5754f593c",
                  "width" : 640
                }, {
                  "height" : 300,
                  "url" : "https://i.scdn.co/image/ab67616d00001e0299ee23dac7128cb5754f593c",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/ab67616d0000485199ee23dac7128cb5754f593c",
                  "width" : 64
                } ],
                "name" : "The Very Best of Billy Ocean",
                "release_date" : "2010-04-26",
                "release_date_precision" : "day",
                "total_tracks" : 18,
                "type" : "album",
                "uri" : "spotify:album:7n4OT3zEZaEiyKKd6mFAhi"
              },
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/5IDs1CK15HegSAhGEbSYXo"
                },
                "href" : "https://api.spotify.com/v1/artists/5IDs1CK15HegSAhGEbSYXo",
                "id" : "5IDs1CK15HegSAhGEbSYXo",
                "name" : "Billy Ocean",
                "type" : "artist",[...]
[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/5IDs1CK15HegSAhGEbSYXo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQBIFoRQCL4yxLJBkjbrJwB3CBlzvpC26fHmhwMp82vALneF_c50ni6v6m5uJ1nbYVs107Odz5Sw5-NVvy8
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "external_urls" : {
            "spotify" : "https://open.spotify.com/artist/5IDs1CK15HegSAhGEbSYXo"
          },
          "followers" : {
            "href" : null,
            "total" : 788019
          },
          "genres" : [ "disco", "mellow gold", "motown", "new romantic", "new wave", "new wave pop", "soft rock", "yacht rock" ],
          "href" : "https://api.spotify.com/v1/artists/5IDs1CK15HegSAhGEbSYXo",
          "id" : "5IDs1CK15HegSAhGEbSYXo",
          "images" : [ {
            "height" : 640,
            "url" : "https://i.scdn.co/image/ab6761610000e5eb32077f76ce695c7dfa2686aa",
            "width" : 640
          }, {
            "height" : 320,
            "url" : "https://i.scdn.co/image/ab6761610000517432077f76ce695c7dfa2686aa",
            "width" : 320
          }, {
            "height" : 160,
            "url" : "https://i.scdn.co/image/ab6761610000f17832077f76ce695c7dfa2686aa",
            "width" : 160
          } ],
          "name" : "Billy Ocean",
          "popularity" : 65,
          "type" : "artist",
          "uri" : "spotify:artist:5IDs1CK15HegSAhGEbSYXo"
        }
  recorded_at: Sun, 19 Dec 2021 15:28:12 GMT
recorded_with: VCR 6.0.0
