---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic ZmY3MGRmNjUwZWUxNGExZmFkNGFlZDNiNTMzZThlYTQ6OTg5OWY1NzBiYzNlNDc4MWI5MzczZTYwZDZmMzcwOTU=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Sp-Trace-Id:
      - 9b535d34e9e8ed84
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"BQCHZEq1jSNvUQoh1AYxBnTpyh7vyDiqTHvIh7YL-gWNTdP2P33EcybS4XAjR8ErG968EnGBRm_3lWy4Ifg","token_type":"Bearer","expires_in":3600}'
  recorded_at: Sun, 19 Dec 2021 15:28:12 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=Rockin%27%20Around%20The%20Christmas%20Tree%20(Edit)%20artist:kim%20wilde%20mel%20smith&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQCHZEq1jSNvUQoh1AYxBnTpyh7vyDiqTHvIh7YL-gWNTdP2P33EcybS4XAjR8ErG968EnGBRm_3lWy4Ifg
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "tracks" : {
            "href" : "https://api.spotify.com/v1/search?query=Rockin%27+Around+The+Christmas+Tree+%28Edit%29+artist%3Akim+wilde+mel+smith&type=track&offset=0&limit=20",
            "items" : [ ],
            "limit" : 20,
            "next" : null,
            "offset" : 0,
            "previous" : null,
            "total" : 0
          }
        }
  recorded_at: Sun, 19 Dec 2021 15:28:12 GMT
[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=Rockin%27%20Around%20The%20Christmas%20Tree%20(Edit)%20artist:kim%20wilde%20mel%20smith&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQCGkb0cLLRdQWJojgcAMxjRRJDoUd6gKoYB8dhzWP9bllBm73TaDMJXTDaNG_sFgUY3WHnxgKpsG_Pu2Dg
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "tracks" : {
            "href" : "https://api.spotify.com/v1/search?query=Rockin%27+Around+The+Christmas+Tree+%28Edit%29+artist%3Akim+wilde+mel+smith&type=track&offset=0&limit=20",
            "items" : [ ],
            "limit" : 20,
            "next" : null,
            "offset" : 0,
            "previous" : null,
            "total" : 0
          }
        }
  recorded_at: Sun, 19 Dec 2021 15:28:12 GMT
recorded_with: VCR 6.0.0
