---
http_interactions:
- request:
    method: get
    uri: https://query.wikidata.org/sparql?format=json&query=SELECT%20?item%20WHERE%20%7B%0A%20%20?item%20wdt:P1243%20%22GBBKS1000094%22.%0A%7D%0ALIMIT%201%0A
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/sparql-results+json;charset=utf-8
      X-First-Solution-Millis:
      - '1'
      X-Client-Ip:
      - 85.146.30.218
      X-Analytics:
      - ''
    body:
      encoding: UTF-8
      string: |-
        {
          "head" : {
            "vars" : [ "item" ]
          },
          "results" : {
            "bindings" : [ ]
          }
        }
  recorded_at: Thu, 25 Dec 2025 20:10:36 GMT
recorded_with: VCR 6.4.0
