---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=To%20Tomorrow%20artist:goldkimono&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQAnUeo4aQ8EU-NabeB-vpyX1RcW2fUg3hxKqOVcNd_t-4Bl8P7KWkS7tux2mxecjpCis7jVzJVN5uWbK9Q
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "tracks" : {
            "href" : "https://api.spotify.com/v1/search?query=To+Tomorrow+artist%3Agoldkimono&type=track&offset=0&limit=20",
            "items" : [ {
              "album" : {
                "album_type" : "single",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/3krHIfEy37pVe0zjdisDBk"
                  },
                  "href" : "https://api.spotify.com/v1/artists/3krHIfEy37pVe0zjdisDBk",
                  "id" : "3krHIfEy37pVe0zjdisDBk",
                  "name" : "Goldkimono",
                  "type" : "artist",
                  "uri" : "spotify:artist:3krHIfEy37pVe0zjdisDBk"
                } ],
                "available_markets" : [ "AD", "AE", "AG", "AL", "AM", "AO", "AR", "AT", "AU", "AZ", "BA", "BB", "BD", "BE", "BF", "BG", "BH", "BI", "BJ", "BN", "BO", "BR", "BS", "BT", "BW", "BY", "BZ", "CA", "CD", "CG", "CH", "CI", "CL", "CM", "CO", "CR", "CV", "CW", "CY", "CZ", "DE", "DJ", "DK", "DM", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FJ", "FM", "FR", "GA", "GB", "GD", "GE", "GH", "GM", "GN", "GQ", "GR", "GT", "GW", "GY", "HK", "HN", "HR", "HT", "HU", "ID", "IE", "IL", "IN", "IQ", "IS", "IT", "JM", "JO", "JP", "KE", "KG", "KH", "KI", "KM", "KN", "KR", "KW", "KZ", "LA", "LB", "LC", "LI", "LK", "LR", "LS", "LT", "LU", "LV", "LY", "MA", "MC", "MD", "ME", "MG", "MH", "MK", "ML", "MN", "MO", "MR", "MT", "MU", "MV", "MW", "MX", "MY", "MZ", "NA", "NE", "NG", "NI", "NL", "NO", "NP", "NR", "NZ", "OM", "PA", "PE", "PG", "PH", "PK", "PL", "PS", "PT", "PW", "PY", "QA", "RO", "RS", "RU", "RW", "SA", "SB", "SC", "SE", "SG", "SI", "SK", "SL", "SM", "SN", "SR", "ST", "SV", "SZ", "TD", "TG", "TH", "TJ", "TL", "TN", "TO", "TR", "TT", "TV", "TW", "TZ", "UA", "UG", "US", "UY", "UZ", "VC", "VE", "VN", "VU", "WS", "XK", "ZA", "ZM", "ZW" ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/2LmcsPdZ4hXQ9kNUoLLvJh"
                },
                "href" : "https://api.spotify.com/v1/albums/2LmcsPdZ4hXQ9kNUoLLvJh",
                "id" : "2LmcsPdZ4hXQ9kNUoLLvJh",
                "images" : [ {
                  "height" : 640,
                  "url" : "https://i.scdn.co/image/ab67616d0000b273350e0db10c0ca96bff9f260a",
                  "width" : 640
                }, {
                  "height" : 300,
                  "url" : "https://i.scdn.co/image/ab67616d00001e02350e0db10c0ca96bff9f260a",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/ab67616d00004851350e0db10c0ca96bff9f260a",
                  "width" : 64
                } ],
                "name" : "To Tomorrow",
                "release_date" : "2020-04-17",
                "release_date_precision" : "day",
                "total_tracks" : 1,
                "type" : "album",
                "uri" : "spotify:album:2LmcsPdZ4hXQ9kNUoLLvJh"
              },
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/3krHIfEy37pVe0zjdisDBk"
                },
                "href" : "https://api.spotify.com/v1/artists/3krHIfEy37pVe0zjdisDBk",
                "id" : "3krHIfEy37pVe0zjdisDBk",
                "name" : "Goldkimono",
                "type" : "artist",
 [...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/3krHIfEy37pVe0zjdisDBk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQAnUeo4aQ8EU-NabeB-vpyX1RcW2fUg3hxKqOVcNd_t-4Bl8P7KWkS7tux2mxecjpCis7jVzJVN5uWbK9Q
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "external_urls" : {
            "spotify" : "https://open.spotify.com/artist/3krHIfEy37pVe0zjdisDBk"
          },
          "followers" : {
            "href" : null,
            "total" : 4844
          },
          "genres" : [ ],
          "href" : "https://api.spotify.com/v1/artists/3krHIfEy37pVe0zjdisDBk",
          "id" : "3krHIfEy37pVe0zjdisDBk",
          "images" : [ {
            "height" : 640,
            "url" : "https://i.scdn.co/image/ab6761610000e5eb72b3316c4c987ab83e7374ae",
            "width" : 640
          }, {
            "height" : 320,
            "url" : "https://i.scdn.co/image/ab6761610000517472b3316c4c987ab83e7374ae",
            "width" : 320
          }, {
            "height" : 160,
            "url" : "https://i.scdn.co/image/ab6761610000f17872b3316c4c987ab83e7374ae",
            "width" : 160
          } ],
          "name" : "Goldkimono",
          "popularity" : 42,
          "type" : "artist",
          "uri" : "spotify:artist:3krHIfEy37pVe0zjdisDBk"
        }
  recorded_at: Sun, 19 Dec 2021 14:25:13 GMT
recorded_with: VCR 6.0.0
