---
http_interactions:
- request:
    method: get
    uri: https://graph.talparad.io/?query=%7B%0A%20%20getStation(profile:%20%22radio-brand-web%22,%20slug:%20%22radio-10%22)%20%7B%0A%20%20%20%20title%0A%20%20%20%20playouts(profile:%20%22%22,%20limit:%2010)%20%7B%0A%20%20%20%20%20%20broadcastDate%0A%20%20%20%20%20%20track%20%7B%0A%20%20%20%20%20%20%20%20id%0A%20%20%20%20%20%20%20%20title%0A%20%20%20%20%20%20%20%20artistName%0A%20%20%20%20%20%20%20%20isrc%0A%20%20%20%20%20%20%20%20images%20%7B%0A%20%20%20%20%20%20%20%20%20%20type%0A%20%20%20%20%20%20%20%20%20%20uri%0A%20%20%20%20%20%20%20%20%20%20__typename%0A%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20__typename%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20__typename%0A%20%20%20%20%7D%0A%20%20%20%20__typename%0A%20%20%7D%0A%7D%0A&variables=%7B%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - da2-27bfqtcztfatfp7ef6feqg2wkq
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Amzn-Requestid:
      - b6ef4dc8-53ad-4f9a-81f3-9abc7fd73a1a
      X-Amzn-Appsync-Tokensconsumed:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"getStation":{"title":"Radio 10","playouts":[{"broadcastDate":"2022-11-29T20:11:43Z","track":{"id":"a01e0a51-7d9b-5830-b767-2433ffeb0726","title":"Dreadlock
        Holiday","artistName":"10cc","isrc":"GBF087800002","images":[{"type":"image","uri":"https://img.talparad.io/tracks/GBF087800002.jpg","__typename":"Image"}],"__typename":"Track"},"__typename":"Playout"},{"broadcastDate":"2022-11-29T20:05:23Z","track":{"id":"c68c0c5d-8df6-5432-bf7d-e8743dd34486","title":"Halfway
        Gone","artistName":"Lifehouse","isrc":"USUM70903932","images":[{"type":"image","uri":"https://img.talparad.io/tracks/USUM70903932.jpg","__typename":"Image"}],"__typename":"Track"},"__typename":"Playout"},{"broadcastDate":"2022-11-29T20:02:04Z","track":{"id":"8c049f50-203f-5276-b9c0-267a7b449588","title":"Love
        Me Just[...]
