---
http_interactions:
- request:
    method: get
    uri: https://www.nporadio1.nl/api/tracks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":null,"messages":null,"data":[{"startdatetime":"2022-11-29T19:54:37","enddatetime":"2022-11-29T19:56:36","title":"Soldier
        On","artist":"Tim Knol","image_url_200x200":"https://i.scdn.co/image/4531b1a8d988b059a70f5c4ec3b0f91058a4174c","image_url_400x400":"https://i.scdn.co/image/4531b1a8d988b059a70f5c4ec3b0f91058a4174c","spotify_url":"https://open.spotify.com/track/7MI16HRi1GXvd66Wn8edX5"},{"startdatetime":"2022-11-29T19:54:07","enddatetime":"2022-11-29T19:56:00","title":"Surrender","artist":"Elvis
        Presley","image_url_200x200":"https://i.scdn.co/image/8e0c7b1352c344c720b1728b1f3b6fdb2cfc043c","image_url_400x400":"https://i.scdn.co/image/8e0c7b1352c344c720b1728b1f3b6fdb2cfc043c","spotify_url":"https://open.spotify.com/track/366wRPrx2airjcCRkxgoS2"},{"startdatetime":"2022-11-29T18:48:35","enddatetime":"2022-11-29T18:51[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/tracks/7MI16HRi1GXvd66Wn8edX5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQBHdYOTB-dZez3omzMhrV7_nD4fBkEfHCaT1gVYRSwG-T2FbJXZLEdCqA-Rs_vhaj1QQJNHswbxJcARtyzxoWlVXwL9PDM16qIDlFVrvQwKZA2lNd8
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "album" : {
            "album_type" : "album",
            "artists" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/5iwR7L3O96vO8rVXXuLf5K"
              },
              "href" : "https://api.spotify.com/v1/artists/5iwR7L3O96vO8rVXXuLf5K",
              "id" : "5iwR7L3O96vO8rVXXuLf5K",
              "name" : "Tim Knol",
              "type" : "artist",
              "uri" : "spotify:artist:5iwR7L3O96vO8rVXXuLf5K"
            } ],
            "available_markets" : [ ],
            "external_urls" : {
              "spotify" : "https://open.spotify.com/album/0p3oI943VezSnApnOVHmqG"
            },
            "href" : "https://api.spotify.com/v1/albums/0p3oI943VezSnApnOVHmqG",
            "id" : "0p3oI943VezSnApnOVHmqG",
            "images" : [ {
              "height" : 640,
              "url" : "https://i.scdn.co/image/ab67616d0000b273ece22ebf4dd4539a10323e4a",
              "width" : 640
            }, {
              "height" : 300,
              "url" : "https://i.scdn.co/image/ab67616d00001e02ece22ebf4dd4539a10323e4a",
              "width" : 300
            }, {
              "height" : 64,
              "url" : "https://i.scdn.co/image/ab67616d00004851ece22ebf4dd4539a10323e4a",
              "width" : 64
            } ],
            "name" : "Soldier On",
            "release_date" : "2013-11-15",
            "release_date_precision" : "day",
            "total_tracks" : 11,
            "type" : "album",
            "uri" : "spotify:album:0p3oI943VezSnApnOVHmqG"
          },
          "artists" : [ {
            "external_urls" : {
              "spotify" : "https://open.spotify.com/artist/5iwR7L3O96vO8rVXXuLf5K"
            },
            "href" : "https://api.spotify.com/v1/artists/5iwR7L3O96vO8rVXXuLf5K",
            "id" : "5iwR7L3O96vO8rVXXuLf5K",
            "name" : "Tim Knol",
            "type" : "artist",
            "uri" : "spotify:artist:5iwR7L3O96vO8rVXXuLf5K"
          } ],
          "available_markets" : [ ],
          "disc_number" : 1,
          "duration_ms" : 195750,
          "explicit" : false,
          "external_ids" : {
            "isrc" : "NLB601300127"
          },
          "external_urls" : {
            "spotify" : "https://open.spotify.com/track/7MI16HRi1GXvd66Wn8edX5"
          },
          "href" : "https://api.spotify.com/v1/tracks/7MI16HRi1GXvd66Wn8edX5",
          "id" : "7MI16HRi1GXvd66Wn8edX5",
          "is_local" : false,
          "name" : "Soldier On",
          "popularity" : 0,
          "preview_url" : null,
          "track_number" : 1,
          "type" : "track",
          "uri" : "spotify:track:7MI16HRi1GXvd66Wn8edX5"
        }
  recorded_at: Tue, 29 Nov 2022 20:12:00 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/5iwR7L3O96vO8rVXXuLf5K
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQBHdYOTB-dZez3omzMhrV7_nD4fBkEfHCaT1gVYRSwG-T2FbJXZLEdCqA-Rs_vhaj1QQJNHswbxJcARtyzxoWlVXwL9PDM16qIDlFVrvQwKZA2lNd8
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "external_urls" : {
            "spotify" : "https://open.spotify.com/artist/5iwR7L3O96vO8rVXXuLf5K"
          },
          "followers" : {
            "href" : null,
            "total" : 14072
          },
          "genres" : [ "dutch americana", "dutch indie", "dutch indie rock", "dutch pop", "dutch rock" ],
          "href" : "https://api.spotify.com/v1/artists/5iwR7L3O96vO8rVXXuLf5K",
          "id" : "5iwR7L3O96vO8rVXXuLf5K",
          "images" : [ {
            "height" : 640,
            "url" : "https://i.scdn.co/image/ab6761610000e5eb874e87318aeed855148f2f4d",
            "width" : 640
          }, {
            "height" : 320,
            "url" : "https://i.scdn.co/image/ab67616100005174874e87318aeed855148f2f4d",
            "width" : 320
          }, {
            "height" : 160,
            "url" : "https://i.scdn.co/image/ab6761610000f178874e87318aeed855148f2f4d",
            "width" : 160
          } ],
          "name" : "Tim Knol",
          "popularity" : 35,
          "type" : "artist",
          "uri" : "spotify:artist:5iwR7L3O96vO8rVXXuLf5K"
        }
  recorded_at: Tue, 29 Nov 2022 20:12:00 GMT
recorded_with: VCR 6.1.0
