---
http_interactions:
- request:
    method: get
    uri: https://www.nporadio1.nl/api/tracks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":null,"messages":null,"data":[{"startdatetime":"2022-11-05T10:30:09","enddatetime":"2022-11-05T10:33:34","title":"I
        can hear your heartbeat","artist":"Chris Rea","image_url_200x200":"https://i.scdn.co/image/ab67616d0000b273b24b8434a8eb9e0232f6eebe","image_url_400x400":"https://i.scdn.co/image/ab67616d0000b273b24b8434a8eb9e0232f6eebe","spotify_url":"https://open.spotify.com/track/7n0lp1r1yHYXN2jZvqzbAI"},{"startdatetime":"2022-11-05T06:39:41","enddatetime":"2022-11-05T06:42:15","title":"Amazing","artist":"George
        Michael","image_url_200x200":"https://i.scdn.co/image/81422a857d8ab8531d6eb967465789ee3081fdf4","image_url_400x400":"https://i.scdn.co/image/81422a857d8ab8531d6eb967465789ee3081fdf4","spotify_url":"https://open.spotify.com/track/0hsrqeudoR9Kymm7RNiVoq"},{"startdatetime":"2022-11-05T06:13:26","enddatetime":"2022-11-05T06:17:[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=I%20Can%20Hear%20Your%20Heartbeat%20artist:chris%20rea&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQChgre7A9UEmXdG9NHpjau2x83dB8DXi91TCjWJblcA7qJzHNrfyLwOGdKEE7x4ZcxmP8XTadJCAS4MVJ0TF9On2mw0unNW-IbT6deuAyR85GeGhqE
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "tracks" : {
            "href" : "https://api.spotify.com/v1/search?query=I+Can+Hear+Your+Heartbeat+artist%3Achris+rea&type=track&offset=0&limit=20",
            "items" : [ {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/5KEG7G8LDYlHgFDqZyEEs2"
                  },
                  "href" : "https://api.spotify.com/v1/artists/5KEG7G8LDYlHgFDqZyEEs2",
                  "id" : "5KEG7G8LDYlHgFDqZyEEs2",
                  "name" : "Chris Rea",
                  "type" : "artist",
                  "uri" : "spotify:artist:5KEG7G8LDYlHgFDqZyEEs2"
                } ],
                "available_markets" : [ "AD", "AE", "AG", "AL", "AM", "AO", "AR", "AT", "AU", "AZ", "BA", "BB", "BD", "BE", "BF", "BG", "BH", "BI", "BJ", "BN", "BO", "BR", "BS", "BT", "BW", "BY", "BZ", "CA", "CD", "CG", "CH", "CI", "CL", "CM", "CO", "CR", "CV", "CW", "CY", "CZ", "DE", "DJ", "DK", "DM", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FJ", "FM", "FR", "GA", "GB", "GD", "GE", "GH", "GM", "GN", "GQ", "GR", "GT", "GW", "GY", "HK", "HN", "HR", "HT", "HU", "ID", "IE", "IL", "IN", "IQ", "IS", "IT", "JM", "JO", "JP", "KE", "KG", "KH", "KI", "KM", "KN", "KR", "KW", "KZ", "LA", "LB", "LC", "LI", "LK", "LR", "LS", "LT", "LU", "LV", "LY", "MA", "MC", "MD", "ME", "MG", "MH", "MK", "ML", "MN", "MO", "MR", "MT", "MU", "MV", "MW", "MX", "MY", "MZ", "NA", "NE", "NG", "NI", "NL", "NO", "NP", "NR", "NZ", "OM", "PA", "PE", "PG", "PH", "PK", "PL", "PS", "PT", "PW", "PY", "QA", "RO", "RS", "RW", "SA", "SB", "SC", "SE", "SG", "SI", "SK", "SL", "SM", "SN", "SR", "ST", "SV", "SZ", "TD", "TG", "TH", "TJ", "TL", "TN", "TO", "TR", "TT", "TV", "TW", "TZ", "UA", "UG", "US", "UY", "UZ", "VC", "VE", "VN", "VU", "WS", "XK", "ZA", "ZM", "ZW" ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/4FgqV1hg6SM4XRt9Y7SJyw"
                },
                "href" : "https://api.spotify.com/v1/albums/4FgqV1hg6SM4XRt9Y7SJyw",
                "id" : "4FgqV1hg6SM4XRt9Y7SJyw",
                "images" : [ {
                  "height" : 640,
                  "url" : "https://i.scdn.co/image/ab67616d0000b273b24b8434a8eb9e0232f6eebe",
                  "width" : 640
                }, {
                  "height" : 300,
                  "url" : "https://i.scdn.co/image/ab67616d00001e02b24b8434a8eb9e0232f6eebe",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/ab67616d00004851b24b8434a8eb9e0232f6eebe",
                  "width" : 64
                } ],
                "name" : "Water Sign",
                "release_date" : "1983-07-18",
                "release_date_precision" : "day",
                "total_tracks" : 10,
                "type" : "album",
                "uri" : "spotify:album:4FgqV1hg6SM4XRt9Y7SJyw"
              },
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/5KEG7G8LDYlHgFDqZyEEs2"
                },
                "href" : "https://api.spotify.com/v1/artists/5KEG7G8LDYlHgFDqZyEEs2",
                "id" : "5KEG7G8LDYlHgFDqZyEEs2",
                "name" : "Chris Rea",
                "type" : "artist",
 [...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/5KEG7G8LDYlHgFDqZyEEs2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQChgre7A9UEmXdG9NHpjau2x83dB8DXi91TCjWJblcA7qJzHNrfyLwOGdKEE7x4ZcxmP8XTadJCAS4MVJ0TF9On2mw0unNW-IbT6deuAyR85GeGhqE
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "external_urls" : {
            "spotify" : "https://open.spotify.com/artist/5KEG7G8LDYlHgFDqZyEEs2"
          },
          "followers" : {
            "href" : null,
            "total" : 803954
          },
          "genres" : [ "album rock", "art rock", "blues rock", "classic rock", "mellow gold", "soft rock", "sophisti-pop" ],
          "href" : "https://api.spotify.com/v1/artists/5KEG7G8LDYlHgFDqZyEEs2",
          "id" : "5KEG7G8LDYlHgFDqZyEEs2",
          "images" : [ {
            "height" : 640,
            "url" : "https://i.scdn.co/image/ab6761610000e5eb81aacad025d8338d125debd0",
            "width" : 640
          }, {
            "height" : 320,
            "url" : "https://i.scdn.co/image/ab6761610000517481aacad025d8338d125debd0",
            "width" : 320
          }, {
            "height" : 160,
            "url" : "https://i.scdn.co/image/ab6761610000f17881aacad025d8338d125debd0",
            "width" : 160
          } ],
          "name" : "Chris Rea",
          "popularity" : 59,
          "type" : "artist",
          "uri" : "spotify:artist:5KEG7G8LDYlHgFDqZyEEs2"
        }
  recorded_at: Sat, 05 Nov 2022 13:45:33 GMT
recorded_with: VCR 6.1.0
