---
http_interactions:
- request:
    method: get
    uri: https://www.nporadio1.nl/api/tracks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":null,"messages":null,"data":[{"startdatetime":"2022-11-27T14:17:27","enddatetime":"2022-11-27T14:20:21","title":"Let''s
        stick together","artist":"Bryan Ferry","image_url_200x200":"https://i.scdn.co/image/ab67616d0000b2738924d0252e61e6f1f68808a5","image_url_400x400":"https://i.scdn.co/image/ab67616d0000b2738924d0252e61e6f1f68808a5","spotify_url":"https://open.spotify.com/track/6y4FVJwf09ssxuRnlEgXkp"},{"startdatetime":"2022-11-27T06:33:50","enddatetime":"2022-11-27T06:37:13","title":"Stiekem","artist":"Maan
        & Goldband","image_url_200x200":"https://i.scdn.co/image/ab67616d0000b273f9a6870f342d4e0db4428128","image_url_400x400":"https://i.scdn.co/image/ab67616d0000b273f9a6870f342d4e0db4428128","spotify_url":"https://open.spotify.com/track/1ulgMAx95xb3N33SMklfG3"},{"startdatetime":"2022-11-27T06:12:01","enddatetime":"2022-11-27T06:15[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=Let%27s%20Stick%20Together%20artist:bryan%20ferry&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQAVevLUcIsEBF094_Odnb-4UZVxCGPmTse4lCR50lsQ4o7moyBEGfRMLTE7qz6CP9rPeYC_NvQc8vIbbzUboQPQnARKqKdhQ6lGoRNrdlR3lfUbHgU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "tracks" : {
            "href" : "https://api.spotify.com/v1/search?query=Let%27s+Stick+Together+artist%3Abryan+ferry&type=track&offset=0&limit=20",
            "items" : [ {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/5RNFFojXkPRmlJZIwXeKQC"
                  },
                  "href" : "https://api.spotify.com/v1/artists/5RNFFojXkPRmlJZIwXeKQC",
                  "id" : "5RNFFojXkPRmlJZIwXeKQC",
                  "name" : "Bryan Ferry",
                  "type" : "artist",
                  "uri" : "spotify:artist:5RNFFojXkPRmlJZIwXeKQC"
                } ],
                "available_markets" : [ "AD", "AE", "AG", "AL", "AM", "AO", "AR", "AT", "AU", "AZ", "BA", "BB", "BD", "BE", "BF", "BG", "BH", "BI", "BJ", "BN", "BO", "BR", "BS", "BT", "BW", "BY", "BZ", "CA", "CD", "CG", "CH", "CI", "CL", "CM", "CO", "CR", "CV", "CW", "CY", "CZ", "DE", "DJ", "DK", "DM", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FJ", "FM", "FR", "GA", "GB", "GD", "GE", "GH", "GM", "GN", "GQ", "GR", "GT", "GW", "GY", "HK", "HN", "HR", "HT", "HU", "ID", "IE", "IL", "IN", "IQ", "IS", "IT", "JM", "JO", "JP", "KE", "KG", "KH", "KI", "KM", "KN", "KR", "KW", "KZ", "LA", "LB", "LC", "LI", "LK", "LR", "LS", "LT", "LU", "LV", "LY", "MA", "MC", "MD", "ME", "MG", "MH", "MK", "ML", "MN", "MO", "MR", "MT", "MU", "MV", "MW", "MX", "MY", "MZ", "NA", "NE", "NG", "NI", "NL", "NO", "NP", "NR", "NZ", "OM", "PA", "PE", "PG", "PH", "PK", "PL", "PS", "PT", "PW", "PY", "QA", "RO", "RS", "RW", "SA", "SB", "SC", "SE", "SG", "SI", "SK", "SL", "SM", "SN", "SR", "ST", "SV", "SZ", "TD", "TG", "TH", "TJ", "TL", "TN", "TO", "TR", "TT", "TV", "TW", "TZ", "UA", "UG", "US", "UY", "UZ", "VC", "VE", "VN", "VU", "WS", "XK", "ZA", "ZM", "ZW" ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/7q7RBiiadKQR4DCbs7OMbd"
                },
                "href" : "https://api.spotify.com/v1/albums/7q7RBiiadKQR4DCbs7OMbd",
                "id" : "7q7RBiiadKQR4DCbs7OMbd",
                "images" : [ {
                  "height" : 640,
                  "url" : "https://i.scdn.co/image/ab67616d0000b2738924d0252e61e6f1f68808a5",
                  "width" : 640
                }, {
                  "height" : 300,
                  "url" : "https://i.scdn.co/image/ab67616d00001e028924d0252e61e6f1f68808a5",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/ab67616d000048518924d0252e61e6f1f68808a5",
                  "width" : 64
                } ],
                "name" : "Let's Stick Together",
                "release_date" : "1976",
                "release_date_precision" : "year",
                "total_tracks" : 11,
                "type" : "album",
                "uri" : "spotify:album:7q7RBiiadKQR4DCbs7OMbd"
              },
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/5RNFFojXkPRmlJZIwXeKQC"
                },
                "href" : "https://api.spotify.com/v1/artists/5RNFFojXkPRmlJZIwXeKQC",
                "id" : "5RNFFojXkPRmlJZIwXeKQC",
                "name" : "Bryan Ferry",
                "type" : "artist",[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/5RNFFojXkPRmlJZIwXeKQC
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQAVevLUcIsEBF094_Odnb-4UZVxCGPmTse4lCR50lsQ4o7moyBEGfRMLTE7qz6CP9rPeYC_NvQc8vIbbzUboQPQnARKqKdhQ6lGoRNrdlR3lfUbHgU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "external_urls" : {
            "spotify" : "https://open.spotify.com/artist/5RNFFojXkPRmlJZIwXeKQC"
          },
          "followers" : {
            "href" : null,
            "total" : 500645
          },
          "genres" : [ "album rock", "art rock", "classic rock", "classic uk pop", "glam rock", "melancholia", "mellow gold", "new romantic", "new wave", "new wave pop", "rock", "soft rock", "solo wave", "sophisti-pop" ],
          "href" : "https://api.spotify.com/v1/artists/5RNFFojXkPRmlJZIwXeKQC",
          "id" : "5RNFFojXkPRmlJZIwXeKQC",
          "images" : [ {
            "height" : 640,
            "url" : "https://i.scdn.co/image/ab6761610000e5eb039e35b7703bade5d61bd906",
            "width" : 640
          }, {
            "height" : 320,
            "url" : "https://i.scdn.co/image/ab67616100005174039e35b7703bade5d61bd906",
            "width" : 320
          }, {
            "height" : 160,
            "url" : "https://i.scdn.co/image/ab6761610000f178039e35b7703bade5d61bd906",
            "width" : 160
          } ],
          "name" : "Bryan Ferry",
          "popularity" : 57,
          "type" : "artist",
          "uri" : "spotify:artist:5RNFFojXkPRmlJZIwXeKQC"
        }
  recorded_at: Sun, 27 Nov 2022 13:19:56 GMT
[...]
