---
http_interactions:
- request:
    method: get
    uri: https://www.nporadio5.nl/api/tracks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":null,"messages":null,"data":[{"startdatetime":"2021-12-24T09:53:41","enddatetime":"2021-12-24T09:56:44","title":"Merry
        Christmas Darling","artist":"Carpenters","image_url_200x200":"https://i.scdn.co/image/ab67616d0000b273d044360064a0177e4208a870","image_url_400x400":"https://i.scdn.co/image/ab67616d0000b273d044360064a0177e4208a870","spotify_url":"https://open.spotify.com/track/0z5HSQGWgnjdNvwbOmhB2w"},{"startdatetime":"2021-12-24T09:51:08","enddatetime":"2021-12-24T09:54:04","title":"Heartache
        Avenue","artist":"The Maisonettes","image_url_200x200":"https://radio-images.npo.nl/w_200,h_200/45ed5691-8bc1-4018-9d67-242150cff944/52497984-92de-4d1d-8418-7fb752a72a3c.jpg","image_url_400x400":"https://radio-images.npo.nl/w_400,h_400/45ed5691-8bc1-4018-9d67-242150cff944/52497984-92de-4d1d-8418-7fb752a72a3c.jpg"},{"startdatetime":"2021-12[...]
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic ZmY3MGRmNjUwZWUxNGExZmFkNGFlZDNiNTMzZThlYTQ6OTg5OWY1NzBiYzNlNDc4MWI5MzczZTYwZDZmMzcwOTU=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Sp-Trace-Id:
      - 719ec303cfa32392
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"BQDpJyyFKDKP37Rr1bQh5MVR2QCHAdjgve_cKnDvxZ81jbidCAFpZft4MotgDc4f7jkmjSy4CigKlY65QGM","token_type":"Bearer","expires_in":3600}'
  recorded_at: Fri, 24 Dec 2021 08:55:54 GMT
[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=Merry%20Christmas%20Darling%20artist:carpenters&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQC13W9bH8QEv0gafzMbrfv6mV12E26vH5FyH0wEk38dM4u3lJbsTJtdeTBLW_klI4VzzgdyOgZAyCpIF_U
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "tracks" : {
            "href" : "https://api.spotify.com/v1/search?query=Merry+Christmas+Darling+artist%3Acarpenters&type=track&offset=0&limit=20",
            "items" : [ {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/1eEfMU2AhEo7XnKgL7c304"
                  },
                  "href" : "https://api.spotify.com/v1/artists/1eEfMU2AhEo7XnKgL7c304",
                  "id" : "1eEfMU2AhEo7XnKgL7c304",
                  "name" : "Carpenters",
                  "type" : "artist",
                  "uri" : "spotify:artist:1eEfMU2AhEo7XnKgL7c304"
                } ],
                "available_markets" : [ "AD", "AE", "AG", "AL", "AM", "AO", "AR", "AT", "AU", "AZ", "BA", "BB", "BD", "BE", "BF", "BG", "BH", "BI", "BJ", "BN", "BO", "BR", "BS", "BT", "BW", "BY", "BZ", "CA", "CD", "CG", "CH", "CI", "CL", "CM", "CO", "CR", "CV", "CW", "CY", "CZ", "DE", "DJ", "DK", "DM", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FJ", "FM", "FR", "GA", "GB", "GD", "GE", "GH", "GM", "GN", "GQ", "GR", "GT", "GW", "GY", "HK", "HN", "HR", "HT", "HU", "ID", "IE", "IL", "IN", "IQ", "IS", "IT", "JM", "JO", "JP", "KE", "KG", "KH", "KI", "KM", "KN", "KR", "KW", "KZ", "LA", "LB", "LC", "LI", "LK", "LR", "LS", "LT", "LU", "LV", "LY", "MA", "MC", "MD", "ME", "MG", "MH", "MK", "ML", "MN", "MO", "MR", "MT", "MU", "MV", "MW", "MX", "MY", "MZ", "NA", "NE", "NG", "NI", "NL", "NO", "NP", "NR", "NZ", "OM", "PA", "PE", "PG", "PH", "PK", "PL", "PS", "PT", "PW", "PY", "QA", "RO", "RS", "RU", "RW", "SA", "SB", "SC", "SE", "SG", "SI", "SK", "SL", "SM", "SN", "SR", "ST", "SV", "SZ", "TD", "TG", "TH", "TJ", "TL", "TN", "TO", "TR", "TT", "TV", "TW", "TZ", "UA", "UG", "US", "UY", "UZ", "VC", "VE", "VN", "VU", "WS", "XK", "ZA", "ZM", "ZW" ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/5GMAtv4CU6GYQMo36Uuiqc"
                },
                "href" : "https://api.spotify.com/v1/albums/5GMAtv4CU6GYQMo36Uuiqc",
                "id" : "5GMAtv4CU6GYQMo36Uuiqc",
                "images" : [ {
                  "height" : 640,
                  "url" : "https://i.scdn.co/image/ab67616d0000b273d044360064a0177e4208a870",
                  "width" : 640
                }, {
                  "height" : 300,
                  "url" : "https://i.scdn.co/image/ab67616d00001e02d044360064a0177e4208a870",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/ab67616d00004851d044360064a0177e4208a870",
                  "width" : 64
                } ],
                "name" : "Christmas Portrait (Special Edition/Reissue)",
                "release_date" : "1978-10-13",
                "release_date_precision" : "day",
                "total_tracks" : 21,
                "type" : "album",
                "uri" : "spotify:album:5GMAtv4CU6GYQMo36Uuiqc"
              },
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/1eEfMU2AhEo7XnKgL7c304"
                },
                "href" : "https://api.spotify.com/v1/artists/1eEfMU2AhEo7XnKgL7c304",
                "id" : "1eEfMU2AhEo7XnKgL7c304",
                "name" : "Carpenters",
                "type" : "artist",
[...]
[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/1eEfMU2AhEo7XnKgL7c304
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQB1_cq9ZECGdPMpqOoCGknPQ4vXtM9h7OFArm1h4rqbHSxBCD5zLRaCD8MdJXwYMAu8JGwRSqKLadVihIU
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "external_urls" : {
            "spotify" : "https://open.spotify.com/artist/1eEfMU2AhEo7XnKgL7c304"
          },
          "followers" : {
            "href" : null,
            "total" : 2144456
          },
          "genres" : [ "adult standards", "mellow gold", "soft rock" ],
          "href" : "https://api.spotify.com/v1/artists/1eEfMU2AhEo7XnKgL7c304",
          "id" : "1eEfMU2AhEo7XnKgL7c304",
          "images" : [ {
            "height" : 493,
            "url" : "https://i.scdn.co/image/ed45f575339b044d7168780a15ff457b85be851a",
            "width" : 500
          }, {
            "height" : 197,
            "url" : "https://i.scdn.co/image/6d1f554e76304a29b8baa3f61213a88702c0f599",
            "width" : 200
          }, {
            "height" : 63,
            "url" : "https://i.scdn.co/image/53a2c2a3d9f4c61f20b04d95936fadc83b7b08b5",
            "width" : 64
          } ],
          "name" : "Carpenters",
          "popularity" : 76,
          "type" : "artist",
          "uri" : "spotify:artist:1eEfMU2AhEo7XnKgL7c304"
        }
  recorded_at: Fri, 24 Dec 2021 08:55:54 GMT
recorded_with: VCR 6.0.0
