---
http_interactions:
- request:
    method: get
    uri: https://www.nporadio5.nl/api/tracks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":null,"messages":null,"data":[{"startdatetime":"2021-12-24T09:42:02","enddatetime":"2021-12-24T09:45:17","title":"Can''t
        Give You Anything But My Love","artist":"The Stylistics","image_url_200x200":"https://radio-images.npo.nl/w_200,h_200/45ed5691-8bc1-4018-9d67-242150cff944/96593d5f-759e-4bbb-8dd9-88dc95386e22.jpg","image_url_400x400":"https://radio-images.npo.nl/w_400,h_400/45ed5691-8bc1-4018-9d67-242150cff944/96593d5f-759e-4bbb-8dd9-88dc95386e22.jpg"},{"startdatetime":"2021-12-24T09:37:43","enddatetime":"2021-12-24T09:42:03","title":"Hero","artist":"Mariah
        Carey","image_url_200x200":"https://radio-images.npo.nl/w_200,h_200/45ed5691-8bc1-4018-9d67-242150cff944/282f6d18-26b8-46fd-b19c-8ae44d35d945.jpg","image_url_400x400":"https://radio-images.npo.nl/w_400,h_400/45ed5691-8bc1-4018-9d67-242150cff944/282f6d18-26b8-46fd-b19c-8ae44d35d945.jpg"},{"startdatetime":"2021-12-24T09:35:15","enddatetime":"2021-12-24T09:37:46","title":"Little
        Drummer Boy","artist":"Johnny Cash","image_url_200x200":"https://i.scdn.co/image/ab67616d0000b273b1dc21e8398cbc76137874a0","image_url_400x400":"https://i.scdn.co/image/ab67616d0000b273b1dc21e8398cbc76137874a0","spotify_url":"https://open.spotify.com/track/7FIcV2kEiO2mvvMbxU5Jkn"},{"startdatetime":"2021-12-24T09:30:43","enddatetime":"2021-12-24T09:35:10","title":"State
        Of Independence","artist":"Donna Summer","image_url_200x200":"https://radio-images.npo.nl/w_200,h_200/45ed5691-8bc1-4018-9d67-242150cff944/f3aeace8-0591-483b-9c71-12f2dac82ad9.jpg","image_url_400x400":"https://radio-images.npo.nl/w_400,h_400/45ed5691-8bc1-4018-9d67-242150cff944/f3aeace8-0591-483b-9c71-12f2dac82ad9.jpg"},{"startdatetime":"2021-[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=Can%27t%20Give%20You%20Anything%20But%20My%20Love%20artist:the%20stylistics&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQBM-GA4gsN7igR3sZP9aVuRXNf5Og_rSd734Lb9j3tjCnX1fD_yOB2cPRxKKEyX37GpOALgxM7dvZfJRNM
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "tracks" : {
            "href" : "https://api.spotify.com/v1/search?query=Can%27t+Give+You+Anything+But+My+Love+artist%3Athe+stylistics&type=track&offset=0&limit=20",
            "items" : [ {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/2O0Hw1WSMbskB5tD9aWah3"
                  },
                  "href" : "https://api.spotify.com/v1/artists/2O0Hw1WSMbskB5tD9aWah3",
                  "id" : "2O0Hw1WSMbskB5tD9aWah3",
                  "name" : "The Stylistics",
                  "type" : "artist",
                  "uri" : "spotify:artist:2O0Hw1WSMbskB5tD9aWah3"
                } ],
                "available_markets" : [ "AD", "AE", "AG", "AL", "AM", "AO", "AR", "AT", "AU", "AZ", "BA", "BB", "BD", "BE", "BF", "BG", "BH", "BI", "BJ", "BN", "BO", "BR", "BS", "BT", "BW", "BY", "BZ", "CD", "CG", "CH", "CI", "CL", "CM", "CO", "CR", "CV", "CW", "CY", "CZ", "DE", "DJ", "DK", "DM", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FJ", "FM", "FR", "GA", "GB", "GD", "GE", "GH", "GM", "GN", "GQ", "GR", "GT", "GW", "GY", "HK", "HN", "HR", "HT", "HU", "ID", "IE", "IL", "IN", "IQ", "IS", "IT", "JM", "JO", "JP", "KE", "KG", "KH", "KI", "KM", "KN", "KR", "KW", "KZ", "LA", "LB", "LC", "LI", "LK", "LR", "LS", "LT", "LU", "LV", "LY", "MA", "MC", "MD", "ME", "MG", "MH", "MK", "ML", "MN", "MO", "MR", "MT", "MU", "MV", "MW", "MX", "MY", "MZ", "NA", "NE", "NG", "NI", "NL", "NO", "NP", "NR", "NZ", "OM", "PA", "PE", "PG", "PH", "PK", "PL", "PS", "PT", "PW", "PY", "QA", "RO", "RS", "RU", "RW", "SA", "SB", "SC", "SE", "SG", "SI", "SK", "SL", "SM", "SN", "SR", "ST", "SV", "SZ", "TD", "TG", "TH", "TJ", "TL", "TN", "TO", "TR", "TT", "TV", "TW", "TZ", "UA", "UG", "US", "UY", "UZ", "VC", "VE", "VN", "VU", "WS", "XK", "ZA", "ZM", "ZW" ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/0vRurhLIgbveNQAg9nOrWO"
                },
                "href" : "https://api.spotify.com/v1/albums/0vRurhLIgbveNQAg9nOrWO",
                "id" : "0vRurhLIgbveNQAg9nOrWO",
                "images" : [ {
                  "height" : 640,
                  "url" : "https://i.scdn.co/image/ab67616d0000b273e06952912c56d0ce5459b399",
                  "width" : 640
                }, {
                  "height" : 300,
                  "url" : "https://i.scdn.co/image/ab67616d00001e02e06952912c56d0ce5459b399",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/ab67616d00004851e06952912c56d0ce5459b399",
                  "width" : 64
                } ],
                "name" : "Thank You Baby",
                "release_date" : "1975-05-15",
                "release_date_precision" : "day",
                "total_tracks" : 10,
                "type" : "album",
                "uri" : "spotify:album:0vRurhLIgbveNQAg9nOrWO"
              },
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/2O0Hw1WSMbskB5tD9aWah3"
                },
                "href" : "https://api.spotify.com/v1/artists/2O0Hw1WSMbskB5tD9aWah3",
                "id" : "2O0Hw1WSMbskB5tD9aWah3",
                "name" : "The Stylistics",
                "type" : "artis[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/2O0Hw1WSMbskB5tD9aWah3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQBM-GA4gsN7igR3sZP9aVuRXNf5Og_rSd734Lb9j3tjCnX1fD_yOB2cPRxKKEyX37GpOALgxM7dvZfJRNM
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "external_urls" : {
            "spotify" : "https://open.spotify.com/artist/2O0Hw1WSMbskB5tD9aWah3"
          },
          "followers" : {
            "href" : null,
            "total" : 628080
          },
          "genres" : [ "adult standards", "classic soul", "disco", "funk", "motown", "philly soul", "quiet storm", "soul" ],
          "href" : "https://api.spotify.com/v1/artists/2O0Hw1WSMbskB5tD9aWah3",
          "id" : "2O0Hw1WSMbskB5tD9aWah3",
          "images" : [ {
            "height" : 640,
            "url" : "https://i.scdn.co/image/ab6761610000e5ebff18309f1dd59ea16dce1bc9",
            "width" : 640
          }, {
            "height" : 320,
            "url" : "https://i.scdn.co/image/ab67616100005174ff18309f1dd59ea16dce1bc9",
            "width" : 320
          }, {
            "height" : 160,
            "url" : "https://i.scdn.co/image/ab6761610000f178ff18309f1dd59ea16dce1bc9",
            "width" : 160
          } ],
          "name" : "The Stylistics",
          "popularity" : 56,
          "type" : "artist",
          "uri" : "spotify:artist:2O0Hw1WSMbskB5tD9aWah3"
        }
  recorded_at: Fri, 24 Dec 2021 08:43:28 GMT
recorded_with: VCR 6.0.0
