---
http_interactions:
- request:
    method: get
    uri: https://www.nporadio1.nl/api/tracks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":null,"messages":null,"data":[{"startdatetime":"2022-12-30T12:54:20","enddatetime":"2022-12-30T12:57:37","title":"Anti-Hero","artist":"Swift,
        Taylor","image_url_200x200":"https://i.scdn.co/image/ab67616d0000b273bb54dde68cd23e2a268ae0f5","image_url_400x400":"https://i.scdn.co/image/ab67616d0000b273bb54dde68cd23e2a268ae0f5","spotify_url":"https://open.spotify.com/track/0V3wPSX9ygBnCm8psDIegu"},{"startdatetime":"2022-12-30T11:23:31","enddatetime":"2022-12-30T11:26:28","title":"Love
        myself","artist":"Ronde","image_url_200x200":"https://i.scdn.co/image/ab67616d0000b273996484f5b939f3bde87f5249","image_url_400x400":"https://i.scdn.co/image/ab67616d0000b273996484f5b939f3bde87f5249","spotify_url":"https://open.spotify.com/track/0iBWf9gz65kHxuQkZkrNUc"},{"startdatetime":"2022-12-30T10:50:43","enddatetime":"2022-12-30T10:53:37","[...]
