---
http_interactions:
- request:
    method: get
    uri: https://www.nporadio1.nl/api/tracks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":null,"messages":null,"data":[{"startdatetime":"2022-11-05T10:30:09","enddatetime":"2022-11-05T10:33:34","title":"I
        can hear your heartbeat","artist":"Chris Rea","image_url_200x200":"https://i.scdn.co/image/ab67616d0000b273b24b8434a8eb9e0232f6eebe","image_url_400x400":"https://i.scdn.co/image/ab67616d0000b273b24b8434a8eb9e0232f6eebe","spotify_url":"https://open.spotify.com/track/7n0lp1r1yHYXN2jZvqzbAI"},{"startdatetime":"2022-11-05T06:39:41","enddatetime":"2022-11-05T06:42:15","title":"Amazing","artist":"George
        Michael","image_url_200x200":"https://i.scdn.co/image/81422a857d8ab8531d6eb967465789ee3081fdf4","image_url_400x400":"https://i.scdn.co/image/81422a857d8ab8531d6eb967465789ee3081fdf4","spotify_url":"https://open.spotify.com/track/0hsrqeudoR9Kymm7RNiVoq"},{"startdatetime":"2022-11-05T06:13:26","enddatetime":"2022-11-05T06:17:[...]
