---
http_interactions:
- request:
    method: get
    uri: https://www.nporadio1.nl/api/tracks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":null,"messages":null,"data":[{"startdatetime":"2022-11-27T14:17:27","enddatetime":"2022-11-27T14:20:21","title":"Let''s
        stick together","artist":"Bryan Ferry","image_url_200x200":"https://i.scdn.co/image/ab67616d0000b2738924d0252e61e6f1f68808a5","image_url_400x400":"https://i.scdn.co/image/ab67616d0000b2738924d0252e61e6f1f68808a5","spotify_url":"https://open.spotify.com/track/6y4FVJwf09ssxuRnlEgXkp"},{"startdatetime":"2022-11-27T06:33:50","enddatetime":"2022-11-27T06:37:13","title":"Stiekem","artist":"Maan
        & Goldband","image_url_200x200":"https://i.scdn.co/image/ab67616d0000b273f9a6870f342d4e0db4428128","image_url_400x400":"https://i.scdn.co/image/ab67616d0000b273f9a6870f342d4e0db4428128","spotify_url":"https://open.spotify.com/track/1ulgMAx95xb3N33SMklfG3"},{"startdatetime":"2022-11-27T06:12:01","enddatetime":"2022-11-27T06:15[...]
