---
http_interactions:
- request:
    method: get
    uri: https://www.nporadio1.nl/api/tracks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"message":null,"messages":null,"data":[{"startdatetime":"2025-08-24T16:29:22","enddatetime":"2025-08-24T16:31:42","title":"Runaway","artist":"Onerepublic","image_url_200x200":"https://npo-artistdb.b-cdn.net/images/d14b1625-0664-44aa-8830-b2377372b43a__RUNAWAY.png?aspect_ratio=201%3A200&width=200&height=200","image_url_400x400":"https://npo-artistdb.b-cdn.net/images/d14b1625-0664-44aa-8830-b2377372b43a__RUNAWAY.png?aspect_ratio=401%3A400&width=400&height=400"},{"startdatetime":"2025-08-24T16:15:04","enddatetime":"2025-08-24T16:18:51","title":"Rock
        Dj","artist":"Robbie Williams","image_url_200x200":"https://npo-artistdb.b-cdn.net/images/094708ef-ddfc-4ad3-aa27-e9733248af60__Rock-DJ.jpg?aspect_ratio=201%3A200&width=200&height=200","image_url_400x400":"https://npo-artistdb.b-cdn.net/images/094708ef-ddfc-4ad3-aa27-e9733248af60__Rock-DJ.jpg?aspect_ratio=401%3A400&width=400&height=400"},{"startdatetime":"2025-08-24T15:49:03","enddatetime":"2025-08-24T15:51:40","title":"Taste
        of Heaven.wav","artist":"Micha","image_url_200x200":null,"image_url_400x400":null},{"startdatetime":"2025-08-24T15:40:40","enddatetime":"2025-08-24T15:43:44","title":"Dancing
        in the street","artist":"David Bowie & Mick Jagger","image_url_200x200":"https://i.scdn.co/image/af7fbe6f44ebf95b4ca81bf81db66e57292c7d52","image_url_400x400":"https://i.scdn.co/image/af7fbe6f44ebf95b4ca81bf81db66e57292c7d52","spotify_url":"https://open.spotify.com/track/6FnuMo55jNECTDdS1nD5H0"},{"startdatetime":"2025-08-24T15:23:41","enddatetime":"2025-08-24T15:26:47","title":"Sweet
        Goodbyes","artist":"Krezip","image_url_200x200":"https://npo-artistdb.b-cdn.net/images/43cbfed8-1ddc-4124-9382-551ecbfe03f3__Sweet-Goodbyes.jpg?aspect_ratio=201%3A200&width=200&height=200","image_url_400x400":"https://npo-artistdb.b-cdn.net/images/43cbfed8-1ddc-4124-9382-551ecbfe03f3__Sweet-Goodbyes.jpg?aspect_ratio=401%3A400&width=400&height=[...]
