---
http_interactions:
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q45188&languages=en&props=claims%7Clabels
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 85.146.30.218
      X-Analytics:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '{"entities":{"Q45188":{"type":"item","id":"Q45188","labels":{"en":{"language":"en","value":"Coldplay"}},"claims":{"P358":[{"mainsnak":{"snaktype":"value","property":"P358","hash":"4cd91f2104436f2b24b0740042ca699db2f1cfc6","datavalue":{"value":{"entity-type":"item","numeric-id":547583,"id":"Q547583"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q45188$BD0D253C-AF10-4F3B-9671-238F964C8D08","rank":"normal","references":[{"hash":"fa278ebfc458360e5aed63d5058cca83c46134f1","snaks":{"P143":[{"snaktype":"value","property":"P143","hash":"e4f6d9441d0600513c4533c672b5ab472dc73694","datavalue":{"value":{"entity-type":"item","numeric-id":328,"id":"Q328"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P373":[{"mainsnak":{"snaktype":"value","property":"P373","hash":"c93465ee1cdfb565aa39c69a7275c57b1069cef1","datavalue":{"value":"Coldplay","type":"string"},"datatype":"string"},"type":"statement","id":"q45188$15912FD5-B916-48E6-8F8C-B80A76B60CEF","rank":"normal","references":[{"hash":"fa278ebfc458360e5aed63d5058cca83c46134f1","snaks":{"P143":[{"snaktype":"value","property":"P143","hash":"e4f6d9441d0600513c4533c672b5ab472dc73694","datavalue":{"value":{"entity-type":"item","numeric-id":328,"id":"Q328"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P434":[{"mainsnak":{"snaktype":"value","property":"P434","hash":"7f47a21eba99dd87450971f8cd32c9b456ee0259","datavalue":{"value":"cc197bad-dc9c-440d-a5b5-d52ba2e14234","type":"string"},"datatype":"external-id"},"type":"statement","qualifiers":{"P1810":[{"snaktype":"value","property":"P1810","hash":"6a08a4e44e57528a1aecad86a5dbe105a2ce0903","datavalue":{"value":"Coldplay","type":"string"},"datatype":"string"}]},"qualifiers-order":["P1810"],"id":"q45188$426459E1-E2E3-431D-8313-732CFC048B66","rank":"normal","references":[{"hash":"402988aa2aa1091b7a03473f80848187455fcf5a","snaks":{"P248":[{"snaktype":"value","property":"P248","hash":"623cc8f0e2f65afe4d66b91962d354a2f3aa9a27","datavalue":{"value":{"entity-type":"item","numeric-id":14005,"id":"Q14005"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P813":[{"snaktype":"value","property":"P813","hash":"b285332b63d28d0d037f00f4fdc71396aac538bf","datavalue":{"value":{"time":"+2025-06-23T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"snaks-order":["P248","P813"]}]}],"P214":[{"mainsnak":{"snaktype":"value","property":"P214","hash":"70ea878efa3262370a0dde5d66a2a95256fdd911","datavalue":{"value":"157712849","type":"string"},"datatype":"external-id"},"type":"statement","id":"q45188$C3E88638-96E6-4890-9C94-9D1B67091A4D","rank":"normal","references":[{"hash":"d4bd87b862b12d99d26e86472d44f26858dee639","snaks":{"P143":[{"snaktype":"value","property":"P143","hash":"f30cbd35620c4ea6d0633aaf0210a8916130469b","datavalue":{"value":{"entity-type":"item","numeric-id":8447,"id":"Q8447"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]},{"hash":"b9852017c03730bb2e299e05b9702c3028bdb3ce","snaks":{"P887":[{"snaktype":"value","property":"P887","hash":"0ca41c4135639ebe0e0ddac1f02e9b8648203ca7","datavalue":{"value":{"entity-type":"item","numeric-id":11660,"id":"Q11660"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P248":[{"snaktype":"value","property":"P248","hash":"623cc8f0e2f65afe4d66b91962d354a2f3aa9a27","datavalue":{"value":{"entity-type":"item","numeric-id":14005,"id":"Q14005"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P434":[{"snaktype":"value","property":"P434","hash":"7f47a21eba99dd87450971f8cd32c9b456ee0259","datavalue":{"value":"cc197bad-dc9c-440d-a5b5-d52ba2e14234","type":"string"},"datatype":"external-id"}],"P813":[{"snaktype":"value","property":"P813","hash":"4eda47c07bb63c24242f33ca58c1fa7088a9fbb4","datavalue":{"value":{"time":"+2021-07-19T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"snaks-order":["P887","P248","P434","P813"]}]}],"P269":[{"mainsnak":{"snaktype":"value","property":"P269","hash":"b02769970eb1e51362b25cc69a4078563c45f984","datavalue":{"value":"086228749","type":"string"},"datatype":"external-id"},"type":"statement","id":"q45188$02B16D93-A02E-4E38-AAAB-5589AFEB8529","rank":"normal","references":[{"hash":"d4bd87b862b12d99d26e86472d44f26858dee639","snaks":{"P143":[{"snaktype":"value","property":"P143","hash":"f30cbd35620c4ea6d0633aaf0210a8916130469b","datavalue":{"value":{"entity-type":"item","numeric-id":8447,"id":"Q8447"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P268":[{"mainsnak":{"snaktype":"value","property":"P268","hash":"924740b73f87b0d92bcc207d4b84317d5527d665","datavalue":{"value":"140349761","type":"string"},"datatype":"external-id"},"type":"statement","id":"q45188$59752B03-0E01-4BF2-A322-B60E8D3B1FCB","rank":"normal","references":[{"hash":"d4bd87b862b12d99d26e86472d44f26858dee639","snaks":{"P143":[{"snaktype":"value","property":"P143","hash":"f30cbd35620c4ea6d0633aaf0210a8916130469b","datavalue":{"value":{"entity-type":"item","numeric-id":8447,"id":"Q8447"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P213":[{"mainsnak":{"snaktype":"value","property":"P213","hash":"f28a1fcefb0ed6d9e96c7336d4982cbd02cabbb2","datavalue":{"value":"000000011551394X","type":"string"},"datatype":"external-id"},"type":"statement","id":"q45188$F0CA78DD-4D03-4EC5-9F30-54788F7E6547","rank":"normal","references":[{"hash":"fbc824608bf047fcbfb803c1b0f98e66f4372207","snaks":{"P248":[{"snaktype":"value","property":"P248","hash":"a376d605be64acdd4ac7934925ba96e276de7eac","datavalue":{"value":{"entity-type":"item","numeric-id":423048,"id":"Q423048"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P248"]}]}],"P910":[{"mainsnak":{"snaktype":"value","property":"P910","hash":"45ad15fb8b7ddb24572c8d6b9082d631965f8f50","datavalue":{"value":{"entity-type":"item","numeric-id":7298213,"id":"Q7298213"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q45188$A2B42044-C7DA-4C2F-90EE-D76BA77F4946","rank":"normal","references":[{"hash":"fa278ebfc458360e5aed63d5058cca83c46134f1","snaks":{"P143":[{"snaktype":"value","property":"P143","hash":"e4f6d9441d0600513c4533c672b5ab472dc73694","datavalue":{"value":{"entity-type":"item","numeric-id":328,"id":"Q328"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P740":[{"mainsnak":{"snaktype":"value","property":"P740","hash":"322ee1e67a19130d7c9d284e83aac87efeb87bc4","datavalue":{"value":{"entity-type":"item","numeric-id":84,"id":"Q84"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q45188$6fc29b73-482c-761a-e07d-8c8a8098fa06","rank":"normal","references":[{"hash":"fa278ebfc458360e5aed63d5058cca83c46134f1","snaks":{"P143":[{"snaktype":"value","property":"P143","hash":"e4f6d9441d0600513c4533c672b5ab472dc73694","datavalue":{"value":{"entity-type":"item","numeric-id":328,"id":"Q328"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P136":[{"mainsnak":{"snaktype":"value","property":"P136","hash":"0912929cc39449c6cf153f29b01566291f171b7b","datavalue":{"value":{"entity-type":"item","numeric-id":11366,"id":"Q11366"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q45188$08B21AFB-D193-402B-AA6F-AB5293EF201F","rank":"normal","references":[{"hash":"c9bbe1c6587179c7cbaa7331aabe8b39441ee763","snaks":{"P854":[{"snaktype":"value","property":"P854","hash":"a97ff96990b1aaccc0424e93a5d3e45a75f3e5a6","datavalue":{"value":"https://www.billboard.com/music/music-news/coldplay-music-of-the-spheres-stream-9645104/","type":"string"},"datatype":"url"}]},"snaks-order":["P854"]}]},{"mainsnak":{"snaktype":"value","property":"P136","hash":"63f9b478d987da2e4e469476e371cb83bb3d6193","datavalue":{"value":{"entity-type":"item","numeric-id":37073,"id":"Q37073"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q45188$5F7B02B2-54A1-4098-AB86-B472E4926E76","rank":"normal","references":[{"hash":"1293ee82780d457d650d8a611c6869c4bb39cfd3","snaks":{"P854":[{"snaktype":"value","property":"P854","hash":"c171aa4a2cf16de68f80d9405255abfe06249d2a","datavalue":{"value":"https://www.nytimes.com/2014/05/07/arts/music/coldplay-unveils-new-songs-at-the-beacon-theater.html","type":"string"},"datatype":"url"}]},"snaks-order":["P854"]}]}],"P31":[{"mainsnak":{"snaktype":"value","property":"P31","hash":"3c9f9d423bb4b1080c7bbebd83a3f9cce18cb443","datavalue":{"value":{"entity-type":"item","numeric-id":215380,"id":"Q215380"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q45188$EC039222-CDFA-497E-BFBE-2F48F6AC7741","rank":"normal","references":[{"hash":"3f002133e2017eb2d23323140f5db777b55daeaf","snaks":{"P854":[{"snaktype":"value","property":"P854","hash":"2a50fa0b9f1b68470dfcff46cb5f2141983c6c5d","datavalue":{"value":"https://drummagazine.com/will-champion-coldplay/","type":"string"},"datatype":"url"}]},"snaks-order":["P854"]}]}],"P646":[{"mainsnak":{"snaktype":"value","property":"P646","hash":"5965e370bce7728b372170b43d1e4953fe5e99ed","datavalue":{"value":"/m/0kr_t","type":"string"},"datatype":"external-id"},"type":"statement","id":"Q45188$2C14E6BE-7675-41DB-92D1-072E7AE54ED9","rank":"normal","references":[{"hash":"2b00cb481cddcac7623114367489b5c194901c4a","snaks":{"P248":[{"snaktype":"value","property":"P248","hash":"a94b740202b097dd33355e0e6c00e54b9395e5e0","datavalue":{"value":{"entity-type":"item","numeric-id":15241312,"id":"Q15241312"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P577":[{"snaktype":"value","property":"P577","hash":"fde79ecb015112d2f29229ccc1ec514ed3e71fa2","datavalue":{"value":{"time":"+2013-10-28T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"snaks-order":["P248","P577"]}]}],"P227":[{"mainsnak":{"snaktype":"value","property":"P227","hash":"5889caae34f925597eb4c02efe38ef0be56333cb","datavalue":{"value":"6501726-2","type":"string"},"datatype":"external-id"},"type":"statement","id":"Q45188$D92E4387-EFE6-4DF9-90A5-A6BE6B1DB26C","rank":"normal","references":[{"hash":"9a24f7c0208b05d6be97077d855671d1dfdbc0dd","snaks":{"P143":[{"snaktype":"value","property":"P143","hash":"d38375ffe6fe142663ff55cd783aa4df4301d83d","datavalue":{"value":{"entity-type":"item","numeric-id":48183,"id":"Q48183"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P244":[{"mainsnak":{"snaktype":"value","property":"P244","hash":"9f7dd6467166aa747cf72cb1bea5daee18803e6a","datavalue":{"value":"no99089189","type":"string"},"datatype":"external-id"},"type":"statement","id":"Q45188$9B8C6461-6DA8-4875-BAEB-3A7763F026ED","rank":"normal","references":[{"hash":"9a24f7c0208b05d6be97077d855671d1dfdbc0dd","snaks":{"P143":[{"snaktype":"value","property":"P143","hash":"d38375ffe6fe142663ff55cd783aa4df4301d83d","datavalue":{"value":{"entity-type":"item","numeric-id":48183,"id"[...]
