---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic <SPOTIFY_BASIC_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":"invalid_client"}'
  recorded_at: Mon, 04 May 2026 19:44:14 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=gordon%20ik%20bel%20je%20zo%20maar%20even%20op&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Www-Authenticate:
      - Bearer realm="spotify", error="invalid_request", error_description="Only valid
        bearer authentication supported"
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "error": {
            "status": 400,
            "message": "Only valid bearer authentication supported"
          }
        }
  recorded_at: Mon, 04 May 2026 19:44:14 GMT
[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=gordon%20ik%20bel%20je%20zo%20maar%20even%20op&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Www-Authenticate:
      - Bearer realm="spotify", error="invalid_request", error_description="Only valid
        bearer authentication supported"
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "error": {
            "status": 400,
            "message": "Only valid bearer authentication supported"
          }
        }
  recorded_at: Mon, 04 May 2026 19:44:15 GMT
recorded_with: VCR 6.4.0
