.rubik {
  font-family: 'Rubik', sans-serif;
  src: url('../fonts/Rubik-Regular.ttf');
}

.bungee-inline {
  font-family: 'Bungee Inline', cursive;
  src: url('../fonts/BungeeInline-Regular.ttf');
}

.roboto {
  font-family: 'Roboto', sans-serif;
  src: url('../fonts/Roboto-Regular.ttf');
}

.overflow-x-auto {
  overflow-x: auto;
}

.nav-arrow {
  opacity: 0;
  z-index: 10;
  font-size: 12em;
  background-color: #eeeeee;
  position: absolute;
  transition-duration: 0.1s;
  &:hover {
    opacity: 0.8;
  }

  &.left-arrow{
    transform: translate(-5%, 0%);
  }
  &.right-arrow {
    transform: translate(-90%, 0%);
  }
}

.playlist-card {
  width: 12rem;
}

.fixed-list-height {
  min-height: 250px;
}

.spotify-btn {
  width: 30px;
  height: auto;

  &:hover {
    cursor: pointer;
  }
}

.time-filters {
  padding: 5px;
  padding-right: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  background-color: #FFFFFF;
}

// VUE transition name='fade'
.fade-enter-active, .fade-leave-active {
  transition: opacity .15s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}