---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic <SPOTIFY_BASIC_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Sp-Trace-Id:
      - 65310e74a74af31d
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<SPOTIFY_ACCESS_TOKEN>","token_type":"Bearer","expires_in":3600}'
  recorded_at: Fri, 08 Aug 2025 14:38:38 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/tracks/4zrKN5Sv8JS5mqnbVcsul7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-ImY2OGFiMzE5NTcyNDljZDFkNTY5YjRkMzFjMWVhZjlhIg=="'
    body:
      encoding: ASCII-8BIT
      string: '{"album":{"album_type":"single","artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/6eUKZXaKkcviH0Ku9w2n3V"},"href":"https://api.spotify.com/v1/artists/6eUKZXaKkcviH0Ku9w2n3V","id":"6eUKZXaKkcviH0Ku9w2n3V","name":"Ed
        Sheeran","type":"artist","uri":"spotify:artist:6eUKZXaKkcviH0Ku9w2n3V"}],"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","LT","LU","MY","MT","MX","NL","NZ","NI","NO","PA","PY","PE","PH","PL","PT","SG","SK","ES","SE","CH","TW","TR","UY","US","GB","AD","LI","MC","ID","JP","TH","VN","RO","IL","ZA","SA","AE","BH","QA","OM","KW","EG","MA","DZ","TN","LB","JO","PS","IN","KZ","MD","UA","AL","BA","HR","ME","MK","RS","SI","KR","BD","PK","LK","GH","KE","NG","TZ","UG","AG","AM","BS","BB","BZ","BT","BW","BF","CV","CW","DM","FJ","GM","GE","GD","GW","GY","HT","JM","KI","LS","LR","MW","MV","ML","MH","FM","NA","NR","NE","PW","PG","PR","WS","SM","ST","SN","SC","SL","SB","KN","LC","VC","SR","TL","TO","TT","TV","VU","AZ","BN","BI","KH","CM","TD","KM","GQ","SZ","GA","GN","KG","LA","MO","MR","MN","NP","RW","TG","UZ","ZW","BJ","MG","MU","MZ","AO","CI","DJ","ZM","CD","CG","IQ","LY","TJ","VE","ET","XK"],"external_urls":{"spotify":"https://open.spotify.com/album/2W5VVBPNkGAduaArE4sX29"},"href":"https://api.spotify.com/v1/albums/2W5VVBPNkGAduaArE4sX29","id":"2W5VVBPNkGAduaArE4sX29","images":[{"url":"https://i.scdn.co/image/ab67616d0000b273c18194a4022ec44507f7b248","width":640,"height":640},{"url":"https://i.scdn.co/image/ab67616d00001e02c18194a4022ec44507f7b248","width":300,"height":300},{"url":"https://i.scdn.co/image/ab67616d00004851c18194a4022ec44507f7b248","width":64,"height":64}],"name":"Celestial","release_date":"2022-09-29","release_date_precision":"day","total_tracks":1,"type":"album","uri":"spotify:album:2W5VVBPNkGAduaArE4sX29"},"artists":[{"external_urls":{"spotify":"https://open.spotify.com/artist/6eUKZXaKkcviH0Ku9w2n3V"},"href":"https://api.spotify.com/v1/artists/6eUKZXaKkcviH0Ku9w2n3V","id":"6eUKZXaKkcviH0Ku9w2n3V","name":"Ed
        Sheeran","type":"artist","uri":"spotify:artist:6eUKZXaKkcviH0Ku9w2n3V"}],"available_markets":["AR","AU","AT","BE","BO","BR","BG","CA","CL","CO","CR","CY","CZ","DK","DO","DE","EC","EE","SV","FI","FR","GR","GT","HN","HK","HU","IS","IE","IT","LV","LT","LU","MY","MT","MX","NL","NZ","NI","NO","PA","PY","PE","PH","PL","PT","SG","SK","ES","SE","CH","TW","TR","UY","US","GB","AD","LI","MC","ID","JP","TH","VN","RO","IL","ZA","SA","AE","BH","QA","OM","KW","EG","MA","DZ","TN","LB","JO","PS","IN","KZ","MD","UA","AL","BA","HR","ME","MK","RS","SI","KR","BD","PK","LK","GH","KE","NG","TZ","UG","AG","AM","BS","BB","BZ","BT","BW","BF","CV","CW","DM","FJ","GM","GE","GD","GW","GY","HT","JM","KI","LS","LR","MW","MV","ML","MH","FM","NA","NR","NE","PW","PG","PR","WS","SM","ST","SN","SC","SL","SB","KN","LC","VC","SR","TL","TO","TT","TV","VU","AZ","BN","BI","KH","CM","TD","KM","GQ","SZ","GA","GN","KG","LA","MO","MR","MN","NP","RW","TG","UZ","ZW","BJ","MG","MU","MZ","AO","CI","DJ","ZM","CD","CG","IQ","LY","TJ","VE","ET","XK"],"disc_number":1,"duration_ms":209026,"explicit":false,"external_ids":{"isrc":"GBAHS2201129"},"external_urls":{"spotify":"https://open.spotify.com/track/4zrKN5Sv8JS5mqnbVcsul7"},"href":"https://api.spotify.com/v1/tracks/4zrKN5Sv8JS5mqnbVcsul7","id":"4zrKN5Sv8JS5mqnbVcsul7","is_local":false,"name":"Celestial","popularity":69,"preview_url":"https://p.scdn.co/mp3-preview/9bc05cc35c8389bc676803d62598607c3901a570?cid=ff70df650ee14a1fad4aed3b533e8ea4","track_number":1,"type":"track","uri":"spotify:track:4zrKN5Sv8JS5mqnbVcsul7"}'
  recorded_at: Fri, 08 Aug 2025 14:38:38 GMT
[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/6eUKZXaKkcviH0Ku9w2n3V
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-IjNlOGE2YzRmMTVlZDZlZTI5MTk2ODEyMDQ3MTExYzM4Ig=="'
    body:
      encoding: ASCII-8BIT
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/6eUKZXaKkcviH0Ku9w2n3V"},"followers":{"href":null,"total":121517463},"genres":["soft
        pop"],"href":"https://api.spotify.com/v1/artists/6eUKZXaKkcviH0Ku9w2n3V","id":"6eUKZXaKkcviH0Ku9w2n3V","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb8eb08ed1a791d6e9fb041d61","height":640,"width":640},{"url":"https://i.scdn.co/image/ab676161000051748eb08ed1a791d6e9fb041d61","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f1788eb08ed1a791d6e9fb041d61","height":160,"width":160}],"name":"Ed
        Sheeran","popularity":92,"type":"artist","uri":"spotify:artist:6eUKZXaKkcviH0Ku9w2n3V"}'
  recorded_at: Fri, 08 Aug 2025 14:38:38 GMT
[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/6eUKZXaKkcviH0Ku9w2n3V
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <SPOTIFY_BEARER_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"MC-IjNlOGE2YzRmMTVlZDZlZTI5MTk2ODEyMDQ3MTExYzM4Ig=="'
    body:
      encoding: ASCII-8BIT
      string: '{"external_urls":{"spotify":"https://open.spotify.com/artist/6eUKZXaKkcviH0Ku9w2n3V"},"followers":{"href":null,"total":121517463},"genres":["soft
        pop"],"href":"https://api.spotify.com/v1/artists/6eUKZXaKkcviH0Ku9w2n3V","id":"6eUKZXaKkcviH0Ku9w2n3V","images":[{"url":"https://i.scdn.co/image/ab6761610000e5eb8eb08ed1a791d6e9fb041d61","height":640,"width":640},{"url":"https://i.scdn.co/image/ab676161000051748eb08ed1a791d6e9fb041d61","height":320,"width":320},{"url":"https://i.scdn.co/image/ab6761610000f1788eb08ed1a791d6e9fb041d61","height":160,"width":160}],"name":"Ed
        Sheeran","popularity":92,"type":"artist","uri":"spotify:artist:6eUKZXaKkcviH0Ku9w2n3V"}'
  recorded_at: Fri, 08 Aug 2025 14:38:39 GMT
recorded_with: VCR 6.3.1
