---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=Drown%20artist:martin%20garrix%20clinton%20kane&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQAnUeo4aQ8EU-NabeB-vpyX1RcW2fUg3hxKqOVcNd_t-4Bl8P7KWkS7tux2mxecjpCis7jVzJVN5uWbK9Q
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "tracks" : {
            "href" : "https://api.spotify.com/v1/search?query=Drown+artist%3Amartin+garrix+clinton+kane&type=track&offset=0&limit=20",
            "items" : [ {
              "album" : {
                "album_type" : "single",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/60d24wfXkVzDSfLS6hyCjZ"
                  },
                  "href" : "https://api.spotify.com/v1/artists/60d24wfXkVzDSfLS6hyCjZ",
                  "id" : "60d24wfXkVzDSfLS6hyCjZ",
                  "name" : "Martin Garrix",
                  "type" : "artist",
                  "uri" : "spotify:artist:60d24wfXkVzDSfLS6hyCjZ"
                }, {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/7okSU80WTrn4LXlyXYbX3P"
                  },
                  "href" : "https://api.spotify.com/v1/artists/7okSU80WTrn4LXlyXYbX3P",
                  "id" : "7okSU80WTrn4LXlyXYbX3P",
                  "name" : "Clinton Kane",
                  "type" : "artist",
                  "uri" : "spotify:artist:7okSU80WTrn4LXlyXYbX3P"
                } ],
                "available_markets" : [ "AD", "AE", "AG", "AL", "AM", "AO", "AR", "AT", "AU", "AZ", "BA", "BB", "BD", "BE", "BF", "BG", "BH", "BI", "BJ", "BN", "BO", "BR", "BS", "BT", "BW", "BY", "BZ", "CA", "CD", "CG", "CH", "CI", "CL", "CM", "CO", "CR", "CV", "CW", "CY", "CZ", "DE", "DJ", "DK", "DM", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FJ", "FM", "FR", "GA", "GB", "GD", "GE", "GH", "GM", "GN", "GQ", "GR", "GT", "GW", "GY", "HK", "HN", "HR", "HT", "HU", "ID", "IE", "IL", "IN", "IQ", "IS", "IT", "JM", "JO", "JP", "KE", "KG", "KH", "KI", "KM", "KN", "KR", "KW", "KZ", "LA", "LB", "LC", "LI", "LK", "LR", "LS", "LT", "LU", "LV", "LY", "MA", "MC", "MD", "ME", "MG", "MH", "MK", "ML", "MN", "MO", "MR", "MT", "MU", "MV", "MW", "MX", "MY", "MZ", "NA", "NE", "NG", "NI", "NL", "NO", "NP", "NR", "NZ", "OM", "PA", "PE", "PG", "PH", "PK", "PL", "PS", "PT", "PW", "PY", "QA", "RO", "RS", "RU", "RW", "SA", "SB", "SC", "SE", "SG", "SI", "SK", "SL", "SM", "SN", "SR", "ST", "SV", "SZ", "TD", "TG", "TH", "TJ", "TL", "TN", "TO", "TR", "TT", "TV", "TW", "TZ", "UA", "UG", "US", "UY", "UZ", "VC", "VE", "VN", "VU", "WS", "XK", "ZA", "ZM", "ZW" ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/7rU4vsRIhRRfMt3qy6ADND"
                },
                "href" : "https://api.spotify.com/v1/albums/7rU4vsRIhRRfMt3qy6ADND",
                "id" : "7rU4vsRIhRRfMt3qy6ADND",
                "images" : [ {
                  "height" : 640,
                  "url" : "https://i.scdn.co/image/ab67616d0000b273b154bc645350b122934566e4",
                  "width" : 640
                }, {
                  "height" : 300,
                  "url" : "https://i.scdn.co/image/ab67616d00001e02b154bc645350b122934566e4",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/ab67616d00004851b154bc645350b122934566e4",
                  "width" : 64
                } ],
                "name" : "Drown (feat. Clinton Kane)",
                "release_date" : "2020-02-27",
                "release_date_precision" : "day",
                "total_tracks" : 1,
                "type" : "album",
                "uri" : "spotify:album:7rU4vsRIhRRfMt3qy6ADND"
              },
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/60d24wfXkVzDSfLS6hyCjZ"
                },
                "href" : "https://api.spotify.com/v1/artists/60d24wfXkVzDSfLS6hyCjZ",
                "id" : "60d24wfXkVzDSfLS6hyCjZ",
                "name" : "Martin Garrix",
                "type" : "artist"[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/60d24wfXkVzDSfLS6hyCjZ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQAnUeo4aQ8EU-NabeB-vpyX1RcW2fUg3hxKqOVcNd_t-4Bl8P7KWkS7tux2mxecjpCis7jVzJVN5uWbK9Q
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "external_urls" : {
            "spotify" : "https://open.spotify.com/artist/60d24wfXkVzDSfLS6hyCjZ"
          },
          "followers" : {
            "href" : null,
            "total" : 15261934
          },
          "genres" : [ "dance pop", "dutch edm", "edm", "electro house", "pop", "pop dance", "progressive house", "tropical house" ],
          "href" : "https://api.spotify.com/v1/artists/60d24wfXkVzDSfLS6hyCjZ",
          "id" : "60d24wfXkVzDSfLS6hyCjZ",
          "images" : [ {
            "height" : 640,
            "url" : "https://i.scdn.co/image/ab6761610000e5eb66d17ee8690d2e8d94ee7387",
            "width" : 640
          }, {
            "height" : 320,
            "url" : "https://i.scdn.co/image/ab6761610000517466d17ee8690d2e8d94ee7387",
            "width" : 320
          }, {
            "height" : 160,
            "url" : "https://i.scdn.co/image/ab6761610000f17866d17ee8690d2e8d94ee7387",
            "width" : 160
          } ],
          "name" : "Martin Garrix",
          "popularity" : 81,
          "type" : "artist",
          "uri" : "spotify:artist:60d24wfXkVzDSfLS6hyCjZ"
        }
  recorded_at: Sun, 19 Dec 2021 14:04:07 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/7okSU80WTrn4LXlyXYbX3P
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQAnUeo4aQ8EU-NabeB-vpyX1RcW2fUg3hxKqOVcNd_t-4Bl8P7KWkS7tux2mxecjpCis7jVzJVN5uWbK9Q
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      st[...]
