@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-y: hidden;
}

@layer components {
  .wrapper {
    @apply bg-white hover:bg-gray-800 shadow-xl hover:shadow-none cursor-pointer w-48 h-auto rounded-3xl flex flex-col items-center justify-center;
  }

  .wrapperAnime {
    @apply transition-all duration-500 ease-in-out;
  }

  .header {
    @apply relative mt-2 mx-2;
  }

  .imageWrapper {
    @apply h-56 rounded-2xl overflow-hidden;
  }

  .image {
    @apply object-cover w-full h-full;
  }

  .textWrapper {
    @apply pt-10 pb-6 w-full px-4;
  }

  .text {
    @apply font-medium leading-none text-base tracking-wider text-gray-400;
  }

  .badgeWrapper {
    @apply absolute bottom-0 left-0 -mb-4 ml-3 flex flex-row;
  }

  .primaryBadge {
    @apply h-10 w-10 ml-2 flex items-center justify-center font-medium rounded-full shadow-xl;
  }

  .counter {
    @apply text-gray-800 ml-2;
  }

  .badgeAnime {
    @apply transform-gpu translate-y-0 hover:-translate-y-1 transition-all duration-300 ease-in-out;
  }

  .spotify-btn {
    @apply w-9 h-9 cursor-pointer rounded-full bg-white hover:bg-gray-800 p-1;
  }

  .text-tiny {
    font-size: 75%;
    font-weight: 700;
  }

  .bg-playlist-btn {
    background-color: #457b9d;
  }

  .playlist-badge {
    @apply bg-playlist-btn px-2 py-1 text-tiny leading-3 rounded-lg text-white whitespace-nowrap;
  }

  .status-button-ok {
    @apply bg-green-500 hover:bg-green-700 text-white text-center py-2 px-4 rounded-tr-xl rounded-bl-xl mx-1 shadow-lg whitespace-nowrap;
  }

  .status-button-warning {
    @apply bg-red-500 hover:bg-red-700 text-white text-center py-2 px-4 rounded-tr-xl rounded-bl-xl mr-1 shadow-lg whitespace-nowrap;
  }

  .graph-button {
    @apply border border-blue-500 text-blue-500 hover:bg-blue-500 hover:text-white text-tiny mr-1 px-4 py-2 rounded shadow;
  }

  .button-active {
    @apply bg-blue-500 text-white;
  }

  .button-disabled {
    @apply opacity-50 cursor-not-allowed;
  }

  .tab-btn.active {
    @apply dark:text-blue-500 dark:border-blue-500 text-blue-600 border-blue-600;
  }

  .tab-btn {
    @apply hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 border-transparent;
  }

  .active-tab-content-wrapper {
    overflow-y: scroll;
    height: calc(100vh - 185px);
  }

  .chart-image-container {
    background-size: cover;
    position: relative;
    height: 150px; /* Some height */
    width: 150px;
    left: 50%;
    transform: translateX(-50%);
  }

  .chart-number {
    color: white;
    font-size: 150%; /* Responsive font size */
    font-weight: bold;
    margin: 0 auto; /* Center the text container */
    padding: 10px;
    width: 100%;
    position: absolute;
    text-align: center; /* Center text */
    top: 85%; /* Position text in the middle */
    left: 50%; /* Position text in the middle */
    transform: translate(-50%, -50%); /* Position text in the middle */
    mix-blend-mode: screen; /* This makes the cutout text possible */
  }

  .soft-button {
    @apply py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-100 text-blue-800 hover:bg-blue-200 disabled:opacity-50 disabled:pointer-events-none dark:hover:bg-blue-900 dark:text-blue-400 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600
  }

  .search-input {
    @apply w-full h-12 px-2 transition-all duration-300 border border-gray-300 rounded-lg focus:outline-none focus:border-slate-600
  }

  .badge-gray {
    @apply inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10
  }

  #loader {
    width: 100%;
    margin: 0.5em 0 0 0;
    border-radius: 10px;
    border: 4px solid transparent;
    position: relative;
    padding: 1px;
  }
  #loader:before {
    content: '';
    border: 1px solid rgb(37, 99, 235);
    border-radius: 10px;
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
  }
  #loader #loader-bar {
    position: absolute;
    border-radius: 10px;
    top: 0;
    right: 100%;
    bottom: 0;
    left: 0;
    background: rgb(37, 99, 235);
    width: 0;
    animation: infinite-bar 2s linear infinite;
  }

  @keyframes infinite-bar {
    0% {
      left: 0%;
      right: 100%;
      width: 0%;
    }
    10% {
      left: 0%;
      right: 75%;
      width: 25%;
    }
    90% {
      right: 0%;
      left: 75%;
      width: 25%;
    }
    100% {
      left: 100%;
      right: 0%;
      width: 0%;
    }
  }
}
