/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
$secondary-color: color("amber", "accent-4") !default;
@import 'materialize';

#menu {
  margin: 20px;
  top: 20px;
}

.toggle-table-icon {
  transition: .3s all;
}

.toggle-table-icon-90 {
  transition: .3s all;
  -webkit-transform: rotateZ(90deg);
  -moz-transform: rotateZ(90deg);
  -o-transform: rotateZ(90deg);
  -ms-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

#navgp {
  display: inline-block;
  transition: all 0.5s;
  width: 100%;
  li {
    padding: 15px;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    border-color: #3E5563;
    color: #3E5563;
    text-decoration: none;
    margin: 2px;
    font-size: 1em;
    display: inline-block;
  }
  li:hover {
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    background-color: #848484;
    border-color: #848484;
    color: #3E5563;
  }
}

.rubik {
  font-family: 'Rubik', sans-serif;
}

.bungee-inline {
  font-family: 'Bungee Inline', cursive;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

@media only screen and (max-width: 768px) {

  #navgp {
    width: 90%;
    li {
      padding: 15px;
    }
  }

}

.delay-0 {
  animation-delay: 0s;
}

.delay-1 {
  animation-delay: .1s;
}

.delay-2 {
  animation-delay: .2s;
}

.delay-3 {
  animation-delay: .3s;
}

.delay-4 {
  animation-delay: .4s;
}

.delay-5 {
  animation-delay: .5s;
}

.delay-6 {
  animation-delay: .6s;
}

.delay-7 {
  animation-delay: .7s;
}
