/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
@import 'materialize';

.nav {
  display: inline-block;
  transition: all 0.5s;
  width: 100%;
  a {
    width: 25%;
    padding: 20px;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    border-color: #00AEEF;
    text-decoration: none;
    margin: 2px;
    font-size: 16px;
  }
  a:hover {
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    background-color: #00AEEF;
    color: white;
  }
  a span {
    display: inline-block;
    cursor: pointer;
    position: relative;
  }
  a span:after {
    content: ' >>';
    color: white;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    position: absolute;
  }
  a:hover span {
    padding-right: 25px;
  }
  a:hover span:after {
    opacity: 1;
    right: 0;
  }
}
