@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .wrapper {
    @apply bg-white hover:bg-gray-800 shadow-xl hover:shadow-none cursor-pointer w-48 h-auto rounded-3xl flex flex-col items-center justify-center;
  }

  .wrapperAnime {
    @apply transition-all duration-500 ease-in-out;
  }

  .header {
    @apply relative mt-2 mx-2;
  }

  .imageWrapper {
    @apply h-56 rounded-2xl overflow-hidden;
  }

  .image {
    @apply object-cover w-full h-full;
  }

  .textWrapper {
    @apply pt-10 pb-6 w-full px-4;
  }

  .text {
    @apply font-medium leading-none text-base tracking-wider text-gray-400;
  }

  .badgeWrapper {
    @apply absolute bottom-0 left-0 -mb-4 ml-3 flex flex-row;
  }

  .primaryBadge {
    @apply h-10 w-10 ml-2 flex items-center justify-center font-medium rounded-full shadow-xl;
  }

  .counter {
    @apply text-gray-800 ml-2;
  }

  .badgeAnime {
    @apply transform-gpu translate-y-0 hover:-translate-y-1 transition-all duration-300 ease-in-out;
  }

  .spotify-btn {
    @apply w-9 h-9 cursor-pointer rounded-full bg-white hover:bg-gray-800 p-1;
  }

  .text-tiny {
    font-size: 75%;
    font-weight: 700;
  }

  .bg-playlist-btn {
    background-color: #457b9d;
  }

  .playlist-badge {
    @apply bg-playlist-btn px-2 py-1 text-tiny leading-3 rounded-lg text-white whitespace-nowrap;
  }

  .status-button-ok {
    @apply bg-green-500 hover:bg-green-700 text-white text-center py-2 px-4 rounded-tr-xl rounded-bl-xl mx-1 shadow-lg whitespace-nowrap;
  }

  .status-button-warning {
    @apply bg-red-500 hover:bg-red-700 text-white text-center py-2 px-4 rounded-tr-xl rounded-bl-xl mr-1 shadow-lg whitespace-nowrap;
  }

  .graph-button {
    @apply bg-white hover:bg-gray-100 text-gray-800 text-tiny mr-1 py-2 px-4 border border-gray-400 rounded shadow;
  }

  .button-active {
    @apply border-b-4;
  }

  .button-disabled {
    @apply opacity-50 cursor-not-allowed;
  }

  .tab-btn.active {
    @apply dark:text-blue-500 dark:border-blue-500 text-blue-600 border-blue-600;
  }

  .tab-btn {
    @apply hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300 border-transparent;
  }

  .chart-image-container {
    background-size: cover;
    position: relative;
    height: 150px; /* Some height */
    width: 150px;
    left: 50%;
    transform: translateX(-50%);
  }

  .chart-number {
    color: white;
    font-size: 50px; /* Responsive font size */
    font-weight: bold;
    margin: 0 auto; /* Center the text container */
    padding: 10px;
    width: 100%;
    position: absolute;
    text-align: center; /* Center text */
    top: 85%; /* Position text in the middle */
    left: 50%; /* Position text in the middle */
    transform: translate(-50%, -50%); /* Position text in the middle */
    mix-blend-mode: screen; /* This makes the cutout text possible */
  }
}
