#section-1 {
  background: #de6e3d url("/assets/bg-casette-0011f83eede3c4fead86218f94ef3073a34dd64ce827bb0274d32685adf0f8b1.jpg") center center no-repeat;
  color: white;
}

#section-2 {
  background: #de6e3d url("/assets/bg-record-dark-9cfaa7339f7d203383f896e63841d0fbf8adf1bbd87d221ae8ff31db3d4115a4.jpg") center center no-repeat;
  color: white;
}

.lighten {
  background-blend-mode: lighten;
}

.hard-light {
  background-blend-mode: hard-light;
}

#head {
  font-size: 4.2rem;
  line-height: 110%;
  padding: 50px;
}

.container {
  // width: 100%;
}

.row {
  // width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  margin-bottom: 0px;
}

.g-playlist-table {

  padding: 5px;
  padding-bottom: 50px;

  th, td {
    // border-bottom: 1px solid #3C3F3D;
  }
  tr:hover {
    background-color: #3C3F3D;
  }

}
