<!-- filter buttons -->
<div class="flex sm:items-start mt-2">
  <button id="graph-btn-day" class="grow graph-button" data-controller="modal" data-action="click->modal#applyFilter" data-filter-time-param="day">Day</button>
  <button id="graph-btn-week" class="grow graph-button button-active" data-controller="modal" data-action="click->modal#applyFilter" data-filter-time-param="week">Week</button>
  <button id="graph-btn-month" class="grow graph-button" data-controller="modal" data-action="click->modal#applyFilter" data-filter-time-param="month">Month</button>
  <button id="graph-btn-year" class="grow graph-button" data-controller="modal" data-action="click->modal#applyFilter" data-filter-time-param="year">Year</button>
  <button id="graph-btn-all" class="grow graph-button" data-controller="modal" data-action="click->modal#applyFilter" data-filter-time-param="all">All</button>
</div>
