<section id="section-1" data-spotify-logo-url=<%= image_url 'Spotify_Icon_RGB_Green.png' %> data-lp-icon=<%= image_url 'lp_icon.svg' %>>
  <div class="container mx-auto">
    <div id='app'>
      <div>
        <div class='flex flex-row text-center text-2xl justify-items-center'>
            <div class='mt-2  w-full'>Radio Playlists</div>
        </div>

<!--        <div class="rounded-3xl my-3" id='status-bar-wrapper'>-->
<!--          <status-bar></status-bar>-->
<!--        </div>-->
<!--        <br />-->
<!--        <div class="rounded-3xl my-3">-->
<!--          <playlist-bar></playlist-bar>-->
<!--        </div>-->
<!--        <br />-->
<!--        <div class="rounded-3xl my-3">-->
<!--          <top-song-bar></top-song-bar>-->
<!--        </div>-->
<!--        <br />-->
<!--        <div class="rounded-3xl my-3">-->
<!--          <top-artist-bar></top-artist-bar>-->
<!--        </div>-->
<!--        <br />-->
<!--        <div>-->
<!--          <graph-modal></graph-modal>-->
<!--        </div>-->
      </div>
    </div>
  </div>
</section>
