<h1>Veronica Playlist</h1>
<% @playlists.each do |playlist| %>
  <table>
    <tr>
      <td>
        <p><%= image_tag playlist.image %></p>
      </td>
      <td>
        Artist: <%= playlist.artist %><br>
        Title: <%= playlist.title %><br>
        Counter: <%= playlist.counter %><br>
      </td>
    </tr>
  </table>
<% end %>
