<h1>Veronica Playlist Counter</h1>
<h6>Since 20-9-2016 20:45u</h5>
Songs are displayed from most played to least played
<% @playlists.each do |playlist| %>
  <table>
    <tr>
      <td>
        <p><%= image_tag playlist.image %></p>
      </td>
      <td>
        Artist: <%= playlist.artist %><br>
        Title: <%= playlist.title %><br>
        Counter: <%= playlist.counter %><br>
      </td>
    </tr>
  </table>
<% end %>
