---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=<LASTFM_API_KEY>&artist=Annie%20Lennox&format=json&limit=10&method=track.getSimilar&track=Test%20Song
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":6,"message":"Track not found","links":[]}'
  recorded_at: Mon, 15 Sep 2025 10:42:40 GMT
recorded_with: VCR 6.3.1
