---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0/?api_key=<LASTFM_API_KEY>&artist=The%20Beatles&format=json&method=track.getTopTags&track=Hey%20Jude
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"toptags":{"tag":["pop", "sixties"],"@attr":{"artist":"The Beatles","track":"Hey Jude"}}}'
  recorded_at: Sat, 13 Sep 2025 19:33:19 GMT
recorded_with: VCR 6.3.1
