---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/api/rest_v1/page/summary/Rolling%20in%20the%20Deep%20(Adele%20song)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Content-Security-Policy:
      - default-src 'none'; frame-ancestors 'none'
      X-Webkit-Csp:
      - default-src 'none'; frame-ancestors 'none'
      Content-Language:
      - en
      Content-Type:
      - application/json; charset=utf-8; profile="https://www.mediawiki.org/wiki/Specs/Summary/1.5.0"
      Etag:
      - W/"1325468818/537d20e0-e1cd-11f0-a327-73e0255f9abe"
      X-Client-Ip:
      - 85.146.30.218
      X-Analytics:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '{"type":"standard","title":"Rolling in the Deep","displaytitle":"<span
        class=\"mw-page-title-main\">Rolling in the Deep</span>","namespace":{"id":0,"text":""},"wikibase_item":"Q170165","titles":{"canonical":"Rolling_in_the_Deep","normalized":"Rolling
        in the Deep","display":"<span class=\"mw-page-title-main\">Rolling in the
        Deep</span>"},"pageid":29878138,"thumbnail":{"source":"https://upload.wikimedia.org/wikipedia/en/7/74/Adele_-_Rolling_in_the_Deep.png","width":300,"height":300},"originalimage":{"source":"https://upload.wikimedia.org/wikipedia/en/7/74/Adele_-_Rolling_in_the_Deep.png","width":300,"height":300},"lang":"en","dir":"ltr","revision":"1325468818","tid":"8520e703-d012-11f0-8954-df0ecdae2996","timestamp":"2025-12-03T06:37:21Z","description":"2010
        single by Adele","description_source":"local","content_urls":{"desktop":{"page":"https://en.wikipedia.org/wiki/Rolling_in_the_Deep","revisions":"https://en.wikipedia.org/wiki/Rolling_in_the_Deep?action=history","edit":"https://en.wikipedia.org/wiki/Rolling_in_the_Deep?action=edit","talk":"https://en.wikipedia.org/wiki/Talk:Rolling_in_the_Deep"},"mobile":{"page":"https://en.wikipedia.org/wiki/Rolling_in_the_Deep","revisions":"https://en.wikipedia.org/wiki/Special:History/Rolling_in_the_Deep","edit":"https://en.wikipedia.org/wiki/Rolling_in_the_Deep?action=edit","talk":"https://en.wikipedia.org/wiki/Talk:Rolling_in_the_Deep"}},"extract":"\"Rolling
        in the Deep\" is a song by English singer-songwriter Adele from her second
        studio album, 21 (2011). It is the lead single and opening track on the album.
        The song was written by Adele and Paul Epworth. The singer herself describes
        it as a \"dark blues-y gospel disco tune\". In 2011, it was reportedly the
        biggest crossover hit in the United States since 1985; \"Rolling in the Deep\"
        gained radio airplay from many different radio formats. It was released on
        29 November 2010 as the lead single from 21 in digital download format. The
        lyrics describe the emotions of a scorned lover.","extract_html":"<p>\"<b>Rolling
        in the Deep</b>\" is a song by English singer-songwriter Adele from her second
        studio album, <i>21</i> (2011). It is the lead single and opening track on
        the album. The song was written by Adele and Paul Epworth. The singer herself
        describes it as a \"dark blues-y gospel disco tune\". In 2011, it was reportedly
        the biggest crossover hit in the United States since 1985; \"Rolling in the
        Deep\" gained radio airplay from many different radio formats. It was released
        on 29 November 2010 as the lead single from <i>21</i> in digital download
        format. The lyrics describe the emotions of a scorned lover.</p>"}'
  recorded_at: Thu, 25 Dec 2025 20:07:26 GMT
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q170165&languages=en&props=claims%7Clabels
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      X-Client-Ip:
      - 85.146.30.218
      X-Analytics:
      - ''
    body:
      encoding: ASCII-8BIT
      string: '{"entities":{"Q170165":{"type":"item","id":"Q170165","labels":{"en":{"language":"en","value":"Rolling
        in the Deep"}},"claims":{"P31":[{"mainsnak":{"snaktype":"value","property":"P31","hash":"5be109d8a3cbbd062357a9d210d4ef00ef25244e","datavalue":{"value":{"entity-type":"item","numeric-id":105543609,"id":"Q105543609"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q170165$D5B446C9-9936-43A2-9C41-5D8A305A0954","rank":"normal"}],"P175":[{"mainsnak":{"snaktype":"value","property":"P175","hash":"f6fa16dc6b3df3566e5de7820839f497fcf28793","datavalue":{"value":{"entity-type":"item","numeric-id":23215,"id":"Q23215"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q170165$f9f78323-48b5-49f3-86d7-0d574384c851","rank":"normal","references":[{"hash":"fa278ebfc458360e5aed63d5058cca83c46134f1","snaks":{"P143":[{"snaktype":"value","property":"P143","hash":"e4f6d9441d0600513c4533c672b5ab472dc73694","datavalue":{"value":{"entity-type":"item","numeric-id":328,"id":"Q328"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P435":[{"mainsnak":{"snaktype":"value","property":"P435","hash":"c841b4bc74f08075d5265e3cde874c84e03b96c1","datavalue":{"value":"bbc9ce47-5d26-3489-ae0b-b06c4b8c6450","type":"string"},"datatype":"external-id"},"type":"statement","qualifiers":{"P1810":[{"snaktype":"value","property":"P1810","hash":"7f3d2173a661f7c443a1f2245add3a2103d1a2f2","datavalue":{"value":"Rolling
        in the Deep","type":"string"},"datatype":"string"}]},"qualifiers-order":["P1810"],"id":"q170165$A2C71B9F-944B-416F-9B02-15D985A977A9","rank":"normal","references":[{"hash":"06d7b4712ad27b4e3c990a4c9fb59227f9d12325","snaks":{"P813":[{"snaktype":"value","property":"P813","hash":"eaf31be2e3f639cdc01043035ef8f6a5994832ee","datavalue":{"value":{"time":"+2018-10-27T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"snaks-order":["P813"]}]}],"P646":[{"mainsnak":{"snaktype":"value","property":"P646","hash":"098fcad505f0c95cb10c24481496e0d8d1f17080","datavalue":{"value":"/m/0g6twc7","type":"string"},"datatype":"external-id"},"type":"statement","id":"Q170165$E5AC70AC-DEE5-4662-81A1-5C3EE0F354FE","rank":"normal","references":[{"hash":"2b00cb481cddcac7623114367489b5c194901c4a","snaks":{"P248":[{"snaktype":"value","property":"P248","hash":"a94b740202b097dd33355e0e6c00e54b9395e5e0","datavalue":{"value":{"entity-type":"item","numeric-id":15241312,"id":"Q15241312"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P577":[{"snaktype":"value","property":"P577","hash":"fde79ecb015112d2f29229ccc1ec514ed3e71fa2","datavalue":{"value":{"time":"+2013-10-28T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"snaks-order":["P248","P577"]}]}],"P1417":[{"mainsnak":{"snaktype":"value","property":"P1417","hash":"4ccb72596553304ad4d5cdeb92f2ec8a63d033b2","datavalue":{"value":"topic/Rolling-in-the-Deep","type":"string"},"datatype":"external-id"},"type":"statement","qualifiers":{"P1810":[{"snaktype":"value","property":"P1810","hash":"7f3d2173a661f7c443a1f2245add3a2103d1a2f2","datavalue":{"value":"Rolling
        in the Deep","type":"string"},"datatype":"string"}]},"qualifiers-order":["P1810"],"id":"Q170165$8968000F-2C9C-40B5-A89C-A02DF345FC14","rank":"normal","references":[{"hash":"fa278ebfc458360e5aed63d5058cca83c46134f1","snaks":{"P143":[{"snaktype":"value","property":"P143","hash":"e4f6d9441d0600513c4533c672b5ab472dc73694","datavalue":{"value":{"entity-type":"item","numeric-id":328,"id":"Q328"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P86":[{"mainsnak":{"snaktype":"value","property":"P86","hash":"377a060fb1f631386cf099e957dd81b3dbd9382f","datavalue":{"value":{"entity-type":"item","numeric-id":23215,"id":"Q23215"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q170165$DDD487AD-689E-4742-B15F-4715552B80A8","rank":"normal","references":[{"hash":"661803bff59e96a2feb6023b18ef64603c9b8d11","snaks":{"P248":[{"snaktype":"value","property":"P248","hash":"af862b26ef430bd625da6804c7782b0a3932f531","datavalue":{"value":{"entity-type":"item","numeric-id":82271165,"id":"Q82271165"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P1827":[{"snaktype":"value","property":"P1827","hash":"a37dd30a8f10c87c48ee5ef8f1a17cbce04dedad","datavalue":{"value":"T-905.685.995-1","type":"string"},"datatype":"external-id"}],"P813":[{"snaktype":"value","property":"P813","hash":"047cce82c467088240cb9a9819e19f4c46c08479","datavalue":{"value":{"time":"+2020-12-08T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"snaks-order":["P248","P1827","P81[...]
