---
http_interactions:
- request:
    method: get
    uri: https://graph.talparad.io/?query=%7B%0A%20%20getStation(profile:%20%22radio-brand-web%22,%20slug:%20%22radio-538%22)%20%7B%0A%20%20%20%20title%0A%20%20%20%20playouts(profile:%20%22%22,%20limit:%2010)%20%7B%0A%20%20%20%20%20%20broadcastDate%0A%20%20%20%20%20%20track%20%7B%0A%20%20%20%20%20%20%20%20id%0A%20%20%20%20%20%20%20%20title%0A%20%20%20%20%20%20%20%20artistName%0A%20%20%20%20%20%20%20%20isrc%0A%20%20%20%20%20%20%20%20images%20%7B%0A%20%20%20%20%20%20%20%20%20%20type%0A%20%20%20%20%20%20%20%20%20%20uri%0A%20%20%20%20%20%20%20%20%20%20__typename%0A%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20__typename%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20__typename%0A%20%20%20%20%7D%0A%20%20%20%20__typename%0A%20%20%7D%0A%7D%0A&variables=%7B%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - da2-27bfqtcztfatfp7ef6feqg2wkq
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Amzn-Requestid:
      - 1d38ab4f-8175-4821-bcb5-0b14fb408faf
      X-Amzn-Appsync-Tokensconsumed:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"getStation":{"title":"Radio 538","playouts":[{"broadcastDate":"2022-07-28T11:51:16Z","track":{"id":"56f78102-d823-501f-b77f-14f2e11f3688","title":"THAT''S
        WHAT I WANT","artistName":"LIL NAS X","isrc":"null","images":[],"__typename":"Track"},"__typename":"Playout"},{"broadcastDate":"2022-07-28T11:48:35Z","track":{"id":"aef1274c-2723-56fc-955a-3680ae50ba99","title":"GREEN
        GREEN GRASS","artistName":"GEORGE EZRA","isrc":"GBARL2200008","images":[{"type":"image","uri":"https://img.talparad.io/tracks/GBARL2200008.jpg","__typename":"Image"}],"__typename":"Track"},"__typename":"Playout"},{"broadcastDate":"2022-07-28T11:45:31Z","track":{"id":"43914e0c-c715-582b-ba02-e05b40eb390c","title":"WHEN
        LOVE TAKES OVER","artistName":"DAVID GUETTA & KELLY ROWLAND","isrc":"FRZID0900200","images":[{"type":"image","uri":"https://img.talparad.io/tracks/FRZID0900200.jpg","__typename":"Image"}],"__typename":"Track"},"__typename":"Playout"},{"broadcastDate":"[...]
