---
http_interactions:
- request:
    method: get
    uri: https://graph.talparad.io/?query=%7B%0A%20%20getStation(profile:%20%22radio-brand-web%22,%20slug:%20%22radio-538%22)%20%7B%0A%20%20%20%20title%0A%20%20%20%20playouts(profile:%20%22%22,%20limit:%2010)%20%7B%0A%20%20%20%20%20%20broadcastDate%0A%20%20%20%20%20%20track%20%7B%0A%20%20%20%20%20%20%20%20id%0A%20%20%20%20%20%20%20%20title%0A%20%20%20%20%20%20%20%20artistName%0A%20%20%20%20%20%20%20%20isrc%0A%20%20%20%20%20%20%20%20images%20%7B%0A%20%20%20%20%20%20%20%20%20%20type%0A%20%20%20%20%20%20%20%20%20%20uri%0A%20%20%20%20%20%20%20%20%20%20__typename%0A%20%20%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20%20%20__typename%0A%20%20%20%20%20%20%7D%0A%20%20%20%20%20%20__typename%0A%20%20%20%20%7D%0A%20%20%20%20__typename%0A%20%20%7D%0A%7D%0A&variables=%7B%7D
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Api-Key:
      - da2-27bfqtcztfatfp7ef6feqg2wkq
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Amzn-Requestid:
      - 930f72f9-2465-42e5-b79d-34e7e0037986
      X-Amzn-Appsync-Tokensconsumed:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"getStation":{"title":"Radio 538","playouts":[{"broadcastDate":"2022-09-16T07:23:19Z","track":{"id":"8be3b6f1-3d8b-5542-a80e-c8a24366bf65","title":"FAST
        LOVE","artistName":"GEORGE MICHAEL","isrc":"null","images":[],"__typename":"Track"},"__typename":"Playout"},{"broadcastDate":"2022-09-16T07:20:31Z","track":{"id":"929018ce-e2eb-5fbf-a6ca-9bd8f6fa5161","title":"COOL
        CORONA","artistName":"NICE DEVICE","isrc":"DKAMG9300401","images":[{"type":"image","uri":"https://img.talparad.io/tracks/DKAMG9300401.jpg","__typename":"Image"}],"__typename":"Track"},"__typename":"Playout"},{"broadcastDate":"2022-09-16T07:17:01Z","track":{"id":"911cb10c-9da0-59e2-b69a-53d6e5d570c2","title":"WONDERWALL","artistName":"OASIS","isrc":"null","images":[],"__typename":"Track"},"__typename":"Playout"},{"broadcastDate":"2022-09-16T07:13:48Z","track":{"id":"46dbc75a-ab89-5a67-93f2-53dd3efa3f20","title":"FREE","artistName":"ULTRA
        NATE","isrc":"USSR397512[...]
