---
http_interactions:
- request:
    method: get
    uri: https://api.qmusic.nl/2.4/tracks/plays?limit=1&next=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dfc084ae4cba8d5f9702115e8a3ab15a"
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"played_tracks":[{"played_at":"2022-11-13T15:18:19+01:00","slug":"hero-7","title":"Hero","selector_code":"1505-13","release_year":"1993","thumbnail":"/5/4f/3f/a6/34814/mzi.clmcjnhn.600x600-75.jpg","spotify_url":"http://open.spotify.com/track/6RsaKVzeIKiWXy1ULke2uN","videos":[{"type":"youtube","tags":"default","id":"0IA3ZvCkRkQ"}],"hooks":{"m4a":"https://audio-ssl.itunes.apple.com/itunes-assets/Music/08/35/56/mzm.hjorpger.aac.p.m4a"},"artist":{"id":1065,"name":"MARIAH
        CAREY","original_name":"MARIAH CAREY","slug":"mariah-carey","facebook_url":"http://www.facebook.com/mariahcarey","twitter_url":"https://twitter.com/MariahCarey/","instagram_url":"https://instagram.com/mariahcarey","website":"http://mariahcarey.com/","photo":"/f/62/1f/27/11727/mariah-carey-pink.jpg","country":{"code":"US","name":"Verenigde
        Staten"}},"sub_artists":[],"tags":[],"current_editions":[{"position":261,"edition":{"id":4947,"name":"2022"},"list":{"id":29,"name":"Top
        500 van de ''90s"}},{"position":965,"edition":{"id":5201,"name":"2022"},"list":{"id":66,"name":"Q-top
        1000"}},{"position":487,"edition":{"id":3851,"name":"2019"},"list":{"id":47,"name":"Top
        500 van het Foute Uur"}},{"position":259,"edition":{"id":4175,"name":"2020"},"list":{"id":267,"name":"Q-top
        1000: de Shout Out-editie"}},{"position":890,"edition":{"id":5057,"name":"2022"},"list":{"id":281,"name":"Foute
        1500"}}],"active_editions":[{"position":965,"edition":{"id":5201,"name":"2022"},"list":{"id":66,"name":"Q-top
        1000"}}]}],"pagination":{"next":"/2.4/tracks/plays?limit=1&next=true&since=2022-11-13+15%3A18%3A19+%2B0100","previous":"/2.4/tracks/plays?limit=1&next=true&upto=2022-11-13+15%3A18%3A19+%2B0100"}}'
  recorded_at: Sun, 13 Nov 2022 14:29:13 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/tracks/6RsaKVzeIKiWXy1ULke2uN
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQC-ICyWv30H44iuGe03AIWYOQ9uq3mEnuM-ofA6_aTOn8vAMb3bAq87-9AinPf0UQaN3ZFaV2pyw9ORVbu3PD3VJN01d_BA-q8STtBScaB3J70KUCg
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "album" : {
            "album_type" : "compilation",
            "artists" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/4iHNK0tOyZPYnBU7nGAgpQ"
              },
              "href" : "https://api.spotify.com/v1/artists/4iHNK0tOyZPYnBU7nGAgpQ",
              "id" : "4iHNK0tOyZPYnBU7nGAgpQ",
              "name" : "Mariah Carey",
              "type" : "artist",
              "uri" : "spotify:artist:4iHNK0tOyZPYnBU7nGAgpQ"
            } ],
            "available_markets" : [ ],
            "external_urls" : {
              "spotify" : "https://open.spotify.com/album/7iouHRwXjAGwd5H1G4Ca2E"
            },
            "href" : "https://api.spotify.com/v1/albums/7iouHRwXjAGwd5H1G4Ca2E",
            "id" : "7iouHRwXjAGwd5H1G4Ca2E",
            "images" : [ {
              "height" : 640,
              "url" : "https://i.scdn.co/image/ab67616d0000b273d6f7afe8ff6dcab62fb6bca2",
              "width" : 640
            }, {
              "height" : 300,
              "url" : "https://i.scdn.co/image/ab67616d00001e02d6f7afe8ff6dcab62fb6bca2",
              "width" : 300
            }, {
              "height" : 64,
              "url" : "https://i.scdn.co/image/ab67616d00004851d6f7afe8ff6dcab62fb6bca2",
              "width" : 64
            } ],
            "name" : "Music Box/Rainbow",
            "release_date" : "1993",
            "release_date_precision" : "year",
            "total_tracks" : 25,
            "type" : "album",
            "uri" : "spotify:album:7iouHRwXjAGwd5H1G4Ca2E"
          },
          "artists" : [ {
            "external_urls" : {
              "spotify" : "https://open.spotify.com/artist/4iHNK0tOyZPYnBU7nGAgpQ"
            },
            "href" : "https://api.spotify.com/v1/artists/4iHNK0tOyZPYnBU7nGAgpQ",
            "id" : "4iHNK0tOyZPYnBU7nGAgpQ",
            "name" : "Mariah Carey",
            "type" : "artist",
            "uri" : "spotify:artist:4iHNK0tOyZPYnBU7nGAgpQ"
          } ],
          "available_markets" : [ ],
          "disc_number" : 1,
          "duration_ms" : 257545,
          "explicit" : false,
          "external_ids" : {
            "isrc" : "USSM19303171"
          },
          "external_urls" : {
            "spotify" : "https://open.spotify.com/track/6RsaKVzeIKiWXy1ULke2uN"
          },
          "href" : "https://api.spotify.com/v1/tracks/6RsaKVzeIKiWXy1ULke2uN",
          "id" : "6RsaKVzeIKiWXy1ULke2uN",
          "is_local" : false,
          "name" : "Hero",
          "popularity" : 0,
          "preview_url" : null,
          "track_number" : 2,
          "type" : "track",
          "uri" : "spotify:track:6RsaKVzeIKiWXy1ULke2uN"
        }
  recorded_at: Sun, 13 Nov 2022 14:29:13 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/4iHNK0tOyZPYnBU7nGAgpQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQC-ICyWv30H44iuGe03AIWYOQ9uq3mEnuM-ofA6_aTOn8vAMb3bAq87-9AinPf0UQaN3ZFaV2pyw9ORVbu3PD3VJN01d_BA-q8STtBScaB3J70KUCg
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "external_urls" : {
            "spotify" : "https://open.spotify.com/artist/4iHNK0tOyZPYnBU7nGAgpQ"
          },
          "followers" : {
            "href" : null,
            "total" : 8278030
          },
          "genres" : [ "dance pop", "pop", "urban contemporary" ],
          "href" : "https://api.spotify.com/v1/artists/4iHNK0tOyZPYnBU7nGAgpQ",
          "id" : "4iHNK0tOyZPYnBU7nGAgpQ",
          "images" : [ {
            "height" : 640,
            "url" : "https://i.scdn.co/image/ab6761610000e5eb9a1fa03af692c41b21cd75bb",
            "width" : 640
          }, {
            "height" : 320,
            "url" : "https://i.scdn.co/image/ab676161000051749a1fa03af692c41b21cd75bb",
            "width" : 320
          }, {
            "height" : 160,
            "url" : "https://i.scdn.co/image/ab6761610000f1789a1fa03af692c41b21cd75bb",
            "width" : 160
          } ],
          "name" : "Mariah Carey",
          "popularity" : 77,
          "type" : "artist",
          "uri" : "spotify:artist:4iHNK0tOyZPYnBU7nGAgpQ"
        }
  recorded_at: Sun, 13 Nov 2022 14:29:13 GMT
recorded_with: VCR 6.1.0
