---
http_interactions:
- request:
    method: get
    uri: https://api.qmusic.nl/2.4/tracks/plays?limit=1&next=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f6f9f13c08c901d75884c82fb9177897"
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"played_tracks":[{"played_at":"2022-11-29T21:11:35+01:00","slug":"airplanes-2","title":"Airplanes","selector_code":"8031-38","release_year":"2010","affiliate_url":"https://itunes.apple.com/nl/album/airplanes-feat.-hayley-williams/id365840257?i=365840290&uo=4","thumbnail":"/6/b4/8b/bb/20664/mzi.kkbzdqcj.600x600-75.jpg","spotify_url":"http://open.spotify.com/track/6lV2MSQmRIkycDScNtrBXO","videos":[{"type":"youtube","tags":"default","id":"kn6-c223DUU"}],"hooks":{"m4a":"https://audio-ssl.itunes.apple.com/itunes-assets/Music/fd/54/04/mzm.rvsstglb.aac.p.m4a"},"artist":{"id":1412,"name":"B.O.B.
        & HAYLEY WILLIAMS","original_name":"B.O.B.","slug":"b-o-b","facebook_url":"http://www.facebook.com/Bobatl","twitter_url":"https://twitter.com/#!/bobatl","instagram_url":"","website":"http://www.bobatl.com/","photo":"/4/73/4b/a6/273/BoB.png","country":{"code":"US","name":"Verenigde
        Staten"}},"sub_artists":[{"artist":{"id":4693,"name":"HAYLEY WILLIAMS","facebook_url":"http://www.facebook.com/pages/Hayley-Williams/202941843073000","twitter_url":"https://twitter.com/#!/yelyahwilliams/","website":"http://www.paramore.net/","photo":"/2/f8/91/48/5682/Hayley+Williams+Hayley+Sitting+On+Her+Car.jpg","country":{"code":"US","name":"Verenigde
        Staten"}}}],"tags":[],"current_editions":[{"position":893,"edition":{"id":5201,"name":"2022"},"list":{"id":66,"name":"Q-top
        1000"}},{"position":44,"edition":{"id":4209,"name":"2020"},"list":{"id":79,"name":"Top
        500 van de 10''s"}},{"position":298,"edition":{"id":4175,"name":"2020"},"list":{"id":267,"name":"Q-top
        1000: de Shout Out-editie"}}],"active_editions":[],"next":{"slug":"celestial","title":"Celestial","selector_code":"Q14423","release_year":"2022","record_label":"Warner","affiliate_url":"https://music.apple.com/be/album/celestial/1641565065?i=1641565456&uo=4","thumbnail":"/9/b2/5d/d7/1526570/1400x1400bb.jpg","spotify_url":"https://open.spotify.com/track/4zrKN5Sv8JS5mqnbVcsul7","videos":[{"type":"youtube","tags":"default","id":"23g5HBOg3Ic"}],"hooks":{"m4a":"https://audio-ssl.itunes.apple.com/itunes-assets/AudioPreview112/v4/f2/4c/fc/f24cfc19-2d54-6c62-921d-b4427b561a67/mzaf_6797710797168953065.plus.aac.p.m4a"},"artist":{"id":1394,"name":"ED
        SHEERAN","original_name":"ED SHEERAN","slug":"ed-sheeran","facebook_url":"http://www.facebook.com/EdSheeranMusic","twitter_url":"https://twitter.com/#!/edsheeran","instagram_url":"https://instagram.com/teddysphotos","website":"http://edsheeran.com/","photo":"/b/9c/29/49/1280490/Ed-Sheeran.jpg","country":{"code":"GB","name":"Verenigd
        Koninkrijk"}},"sub_artists":[],"tags":[{"id":125,"name":"Ex-alarmschijf"}]}}],"pagination":{"next":"/2.4/tracks/plays?limit=1&next=true&since=2022-11-29+21%3A11%3A35+%2B0100","previous":"/2.4/tracks/plays?limit=1&next=true&upto=2022-11-29+21%3A11%3A35+%2B0100"}}'
  recorded_at: Tue, 29 Nov 2022 20:12:03 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/tracks/6lV2MSQmRIkycDScNtrBXO
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQBHdYOTB-dZez3omzMhrV7_nD4fBkEfHCaT1gVYRSwG-T2FbJXZLEdCqA-Rs_vhaj1QQJNHswbxJcARtyzxoWlVXwL9PDM16qIDlFVrvQwKZA2lNd8
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "album" : {
            "album_type" : "album",
            "artists" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/5ndkK3dpZLKtBklKjxNQwT"
              },
              "href" : "https://api.spotify.com/v1/artists/5ndkK3dpZLKtBklKjxNQwT",
              "id" : "5ndkK3dpZLKtBklKjxNQwT",
              "name" : "B.o.B",
              "type" : "artist",
              "uri" : "spotify:artist:5ndkK3dpZLKtBklKjxNQwT"
            } ],
            "available_markets" : [ "AG", "AL", "AM", "AR", "AU", "AZ", "BA", "BB", "BG", "BN", "BO", "BR", "BS", "BW", "BZ", "CA", "CL", "CO", "CR", "CV", "CW", "CY", "CZ", "DK", "DM", "DO", "EC", "EE", "ES", "FI", "FJ", "FM", "FR", "GD", "GH", "GM", "GR", "GT", "GW", "GY", "HK", "HN", "HR", "HT", "HU", "ID", "IL", "IT", "JM", "JP", "KE", "KG", "KH", "KN", "KR", "KZ", "LA", "LC", "LK", "LT", "LV", "MD", "ME", "MK", "MN", "MO", "MT", "MU", "MX", "MY", "MZ", "NA", "NE", "NG", "NI", "NO", "NZ", "PA", "PE", "PG", "PH", "PL", "PT", "PY", "RO", "RS", "SE", "SG", "SI", "SK", "SR", "SV", "SZ", "TD", "TH", "TJ", "TL", "TR", "TT", "TW", "UA", "UG", "US", "UY", "VC", "VE", "VN", "XK", "ZA", "ZW" ],
            "external_urls" : {
              "spotify" : "https://open.spotify.com/album/7apLPYT8szV1IqTxyVSy5P"
            },
            "href" : "https://api.spotify.com/v1/albums/7apLPYT8szV1IqTxyVSy5P",
            "id" : "7apLPYT8szV1IqTxyVSy5P",
            "images" : [ {
              "height" : 640,
              "url" : "https://i.scdn.co/image/ab67616d0000b273484d121f0e2d2caf87d5d10b",
              "width" : 640
            }, {
              "height" : 300,
              "url" : "https://i.scdn.co/image/ab67616d00001e02484d121f0e2d2caf87d5d10b",
              "width" : 300
            }, {
              "height" : 64,
              "url" : "https://i.scdn.co/image/ab67616d00004851484d121f0e2d2caf87d5d10b",
              "width" : 64
            } ],
            "name" : "B.o.B Presents: The Adventures of Bobby Ray",
            "release_date" : "2010-04-27",
            "release_date_precision" : "day",
            "total_tracks" : 12,
            "type" : "album",
            "uri" : "spotify:album:7apLPYT8szV1IqTxyVSy5P"
          },
          "artists" : [ {
            "external_urls" : {
              "spotify" : "https://open.spotify.com/artist/5ndkK3dpZLKtBklKjxNQwT"
            },
            "href" : "https://api.spotify.com/v1/artists/5ndkK3dpZLKtBklKjxNQwT",
            "id" : "5ndkK3dpZLKtBklKjxNQwT",
            "name" : "B.o.B",
            "type" : "artist",
            "uri" : "spotify:artist:5ndkK3dpZLKtB[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/5ndkK3dpZLKtBklKjxNQwT
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQBHdYOTB-dZez3omzMhrV7_nD4fBkEfHCaT1gVYRSwG-T2FbJXZLEdCqA-Rs_vhaj1QQJNHswbxJcARtyzxoWlVXwL9PDM16qIDlFVrvQwKZA2lNd8
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "external_urls" : {
            "spotify" : "https://open.spotify.com/artist/5ndkK3dpZLKtBklKjxNQwT"
          },
          "followers" : {
            "href" : null,
            "total" : 2021856
          },
          "genres" : [ "atl hip hop", "dance pop", "hip hop", "pop", "pop rap", "rap", "southern hip hop" ],
          "href" : "https://api.spotify.com/v1/artists/5ndkK3dpZLKtBklKjxNQwT",
          "id" : "5ndkK3dpZLKtBklKjxNQwT",
          "images" : [ {
            "height" : 640,
            "url" : "https://i.scdn.co/image/ab6761610000e5eb3b6f1762e81e53df14990f57",
            "width" : 640
          }, {
            "height" : 320,
            "url" : "https://i.scdn.co/image/ab676161000051743b6f1762e81e53df14990f57",
            "width" : 320
          }, {
            "height" : 160,
            "url" : "https://i.scdn.co/image/ab6761610000f1783b6f1762e81e53df14990f57",
            "width" : 160
          } ],
          "name" : "B.o.B",
          "popularity" : 72,
          "type" : "artist",
          "uri" : "spotify:artist:5ndkK3dpZLKtBklKjxNQwT"
        }
  recorded_at: Tue, 29 Nov 2022 20:12:04 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/6Rx1JKzBrSzoKQtmbVmBnM
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQBHdYOTB-dZez3omzMhrV7_nD4fBkEfHCaT1gVYRSwG-T2FbJXZLEdCqA-Rs_vhaj1QQJNHswbxJcARtyzxoWlVXwL9PDM16qIDlFVrvQwKZA2lNd8
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
   [...]
[...]
