<% @top_artists.each_with_index do |top_artist, idx_artist| %>
  <% idx_artist += 1 %>
  <tr>
    <td class="bungee-inline">
      # <%= idx_artist %>
    </td>
    <td>
      <%= top_artist.name %>
    </td>
    <% if @artists_counter.present? %>
      <% @artists_counter.each do |artist_id, counter| %>
        <% if artist_id == top_artist.id %>
          <td>
            <%= counter %>
          </td>
        <% end %>
      <% end %>
    <% end %>
  </tr>
<% end %>
