<section id="section-1" class="full-window-height">
  <div class="container mt-2 mb-5">
    <div data-behaviour="vue">
      <ul class="list-group">
        <h2 class='text-center'>
          <span>
            <%= image_tag 'radio.png' %>
          <span>
          Radio Playlists
        </h2>
        <li class="list-group-item rounded-lg">
          <playlist-bar></playlist-bar>
        </li>
        <br>
        <li class="list-group-item rounded-lg">
          <h3>Top songs</h3>
          <top-song-bar></top-song-bar>
        </li>
        <br>
        <li class="list-group-item rounded-lg">
          <h3>Top artists</h3>
          <top-artist-bar></top-artist-bar>
        </li>
        <br>
      </ul>
    </div>
  </div>
</section>
