<section id="section-1" class="full-window-height">
  <div class="container mt-2 mb-5">
    <div data-behaviour="vue">
      <div class="list-group">
        <h2 class='text-center'>
          <span>
            <%= image_tag 'radio.png' %>
          <span>
          Radio Playlists
        </h2>
        <div class="rounded-3xl shadow-xl my-3">
          <status-bar></status-bar>
        </div>
        <br />
        <div class="rounded-3xl shadow-xl my-3">
          <playlist-bar></playlist-bar>
        </div>
        <br />
        <div class="rounded-3xl shadow-xl my-3">
          <top-song-bar></top-song-bar>
        </div>
        <br />
        <div class="rounded-3xl shadow-xl my-3">
          <top-artist-bar></top-artist-bar>
        </div>
        <br />
      </div>
    </div>
  </div>
</section>
