<section id="section-1" class="full-window-height">
  <div class="head center">Charts</div>
  <div class="container row">
    <div class="col S12 M4 L4">
      <h4 class="center"><a href="generalplaylists/today_played_songs">Last played songs</a></h4>
      <table class="g-playlist-table">
        <tr>
          <th>Time</th>
          <th>Radiostation</th>
          <th>Artist</th>
          <th>Title</th>
        </tr>
        <% @todayplayedsongs.each do |todayplayedsong| %>
        <tr>
          <td><%= todayplayedsong.time %></td>
          <td><%= todayplayedsong.radiostation.name %></td>
          <td><%= todayplayedsong.artist.name %></td>
          <td><%= todayplayedsong.song.title %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</section>
