<section id="section-1">
  <div class="head center">Charts</div>
  <div class="container row">
    <div class="col S12 M4 L4">
      <h4 class="center"><a href="generalplaylists/top_artists">Top played artists</a></h4>
      <table class="g-playlist-table">
        <tr>
          <th>Chart #</th>
          <th>Artist</th>
          <th>Total</th>
        </tr>
        <% @top_artists.each do |top_artist| %>
        <tr>
          <td><%= @counter += 1 %>
          <td><%= top_artist.name %></td>
          <td><%= top_artist.total_counter %></td>
        </tr>
        <% end %>
      </table>
      <p><%= will_paginate @top_artists %></p>
    </div>
  </div>
</section>
