<div>
  <p>
    <h6>
      <br>
      <ul id="navgp">
        <li><a href="#section-2">Charts</a></li>
        <li><a href="#section-3">Radio Veronica</a></li>
        <li><a href="#section-4">Radio 538</a></li>
        <li><a href="#section-5">Radio 2</a></li>
        <li><a href="#section-6">Sublime FM</a></li>
        <li><a href="#section-7">Groot Nieuws Radio</a></li>
        <li><a href="#section-8">Sky Radio</a></li>
        <li><a href="#section-9">Radio 3FM</a></li>
        <li><a href="#section-10">Qmusic</a></li>
      </ul>
    </h6>
  </p>
</div>
