<p>
  <ul id="navgp">
    <a href="#"><li>All</li></a>
    <a href="#"><li>Veronica</li></a>
    <a href="#"><li>538</li></a>
    <a href="#"><li>Radio 2</li></a>
    <a href="#"><li>Sublime FM</li></a>
    <a href="#"><li>Groot Nieuws Radio</li></a>
    <a href="#"><li>Sky Radio</li></a>
    <a href="#"><li>3FM</li></a>
    <a href="#"><li>Qmusic</li></a>
  </ul>
</p>
