<div>
  <p>
    <h6>
      <br>
      <ul id="navgp">
        <a href="#section-2"><li>Charts</li></a>
        <a href="#section-3"><li>Radio Veronica</li></a>
        <a href="#section-4"><li>Radio 538</li></a>
        <a href="#section-5"><li>Radio 2</li></a>
        <a href="#section-6"><li>Sublime FM</li></a>
        <a href="#section-7"><li>Groot Nieuws Radio</li></a>
        <a href="#section-8"><li>Sky Radio</li></a>
        <a href="#section-9"><li>Radio 3FM</li></a>
        <a href="#section-10"><li>Qmusic</li></a>
      </ul>
    </h6>
  </p>
</div>
