<div class="nav">
  <p>
    <h6>
      <br>
      <a href="/playlists"><span>Radio Veronica</span></a>
      <a href="/radio538playlists"><span>Radio 538</span></a>
      <a href="/radio2playlists"><span>Radio 2</span></a>
      <a href="/sublimefmplaylists"><span>Sublime FM</span></a>
    </h6>
  </p>
</div>
