<div class="nav">
  <p>
    <h6>
      <br>
      <a href="/playlists">Radio Veronica</a>
      <a href="/radio538playlists">Radio 538</a>
      <a href="/radio2playlists">Radio 2</a>
      <a href="/sublimefmplaylists">Sublime FM</a>
    </h6>
  </p>
</div>
