<div class="navgp">
  <p>
    <h6>
      <br>
      <a href="#section-2">Charts</a>
      <a href="#section-3"><span>Radio Veronica</span></a>
      <a href="#section-4"><span>Radio 538</span></a>
      <a href="#section-5"><span>Radio 2</span></a>
      <a href="#section-6"><span>Sublime FM</span></a>
      <a href="#section-7"><span>Groot Nieuws Radio</span></a>
      <a href="#section-8"><span>Sky Radio</span></a>
      <a href="#section-9"><span>Radio 3FM</span></a>
      <a href="#section-10"><span>Qmusic</span></a>
    </h6>
  </p>
</div>
